﻿@model ProductModel.TierPriceModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ProductId)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Quantity, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>        
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Price, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StoreId, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.StoreId, Model.AvailableStores)
                @Html.ValidationMessageFor(model => model.StoreId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.UserRoleId, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.UserRoleId, Model.AvailableUserRoles)
                @Html.ValidationMessageFor(model => model.UserRoleId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDateTimeUtc, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.StartDateTimeUtc)
                @Html.ValidationMessageFor(model => model.StartDateTimeUtc)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EndDateTimeUtc, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDateTimeUtc)
                @Html.ValidationMessageFor(model => model.EndDateTimeUtc)
            </div>
        </div>
    </div>
</div>


