﻿@using Zajel.Services.Users
@using Zajel.Services.Stores
@using Zajel.Core.Domain.Catalog;

@model ProductModel


<div class="form-horizontal portlet light bg-inverse form-fit" id="group-order">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrderCategory)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrderCategory)
                @Html.ValidationMessageFor(model => model.DisplayOrderCategory)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrderManufacturer)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrderManufacturer)
                @Html.ValidationMessageFor(model => model.DisplayOrderManufacturer)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.OnSale)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.OnSale)
                @Html.ValidationMessageFor(model => model.OnSale)
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal" id="group-giftcard">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsGiftCard)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsGiftCard)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsGiftCard)
            </div>
        </div>
        <div class="form-group" id="pnlGiftCardType">
            @Html.ZajelLabelFor(model => model.GiftCardTypeId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.GiftCardTypeId, ((GiftCardType)Model.GiftCardTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.GiftCardTypeId)
            </div>
        </div>
        <div class="form-group" id="pnlOverriddenGiftCardAmount">
            @Html.ZajelLabelFor(model => model.OverriddenGiftCardAmount)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.OverriddenGiftCardAmount)
                @Html.ValidationMessageFor(model => model.OverriddenGiftCardAmount)
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal portlet light bg-inverse form-fit" id="group-downloads">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsDownload)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsDownload)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsDownload)
            </div>
        </div>
        <div class="form-group" id="pnlDownloadFile">
            @Html.ZajelLabelFor(model => model.DownloadId)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.DownloadId)
                @Html.ValidationMessageFor(model => model.DownloadId)
            </div>
        </div>
        <div class="form-group" id="pnlUnlimitedDownloads">
            @Html.ZajelLabelFor(model => model.UnlimitedDownloads)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.UnlimitedDownloads)
                   <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UnlimitedDownloads)
            </div>
        </div>
        <div class="form-group" id="pnlMaxNumberOfDownloads">
            @Html.ZajelLabelFor(model => model.MaxNumberOfDownloads)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.MaxNumberOfDownloads)
                @Html.ValidationMessageFor(model => model.MaxNumberOfDownloads)
            </div>
        </div>
        <div class="form-group" id="pnlDownloadExpirationDays">
            @Html.ZajelLabelFor(model => model.DownloadExpirationDays)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DownloadExpirationDays)
                @Html.ValidationMessageFor(model => model.DownloadExpirationDays)
            </div>
        </div>
        <div class="form-group" id="pnlDownloadActivationType">
            @Html.ZajelLabelFor(model => model.DownloadActivationTypeId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.DownloadActivationTypeId, ((DownloadActivationType)Model.DownloadActivationTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.DownloadActivationTypeId)
            </div>
        </div>
        <div class="form-group" id="pnlHasUserAgreement">
            @Html.ZajelLabelFor(model => model.HasUserAgreement)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.HasUserAgreement)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.HasUserAgreement)
            </div>
        </div>
        <div class="form-group" id="pnlUserAgreementText">
            @Html.ZajelLabelFor(model => model.UserAgreementText)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.UserAgreementText)
                @Html.ValidationMessageFor(model => model.UserAgreementText)
            </div>
        </div>
        <div class="form-group" id="pnlHasSampleDownload">
            @Html.ZajelLabelFor(model => model.HasSampleDownload)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.HasSampleDownload)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.HasSampleDownload)
            </div>
        </div>
        <div class="form-group" id="pnlSampleDownloadFile">
            @Html.ZajelLabelFor(model => model.SampleDownloadId)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.SampleDownloadId)
                @Html.ValidationMessageFor(model => model.SampleDownloadId)
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal" id="group-rental">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsRental)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsRental)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsRental)
            </div>
        </div>
        <div class="form-group" id="pnlRentalPriceLength">
            @Html.ZajelLabelFor(model => model.RentalPriceLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RentalPriceLength)
                @Html.ValidationMessageFor(model => model.RentalPriceLength)
            </div>
        </div>
        <div class="form-group" id="pnlRentalPricePeriod">
            @Html.ZajelLabelFor(model => model.RentalPricePeriodId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.RentalPricePeriodId, ((RentalPricePeriod)Model.RentalPricePeriodId).ToSelectList())
                @Html.ValidationMessageFor(model => model.RentalPricePeriodId)
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal portlet light bg-inverse form-fit" id="group-recurring">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsRecurring)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsRecurring)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsRecurring)
            </div>
        </div>
        <div class="form-group" id="pnlCycleLength">
            @Html.ZajelLabelFor(model => model.RecurringCycleLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RecurringCycleLength)
                @Html.ValidationMessageFor(model => model.RecurringCycleLength)
            </div>
        </div>
        <div class="form-group" id="pnlCyclePeriod">
            @Html.ZajelLabelFor(model => model.RecurringCyclePeriodId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.RecurringCyclePeriodId, ((RecurringProductCyclePeriod)Model.RecurringCyclePeriodId).ToSelectList())
                @Html.ValidationMessageFor(model => model.RecurringCyclePeriodId)
            </div>
        </div>
        <div class="form-group" id="pnlTotalCycles">
            @Html.ZajelLabelFor(model => model.RecurringTotalCycles)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.RecurringTotalCycles)
                @Html.ValidationMessageFor(model => model.RecurringTotalCycles)
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal" id="group-required-other-products">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.RequireOtherProducts)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.RequireOtherProducts)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.RequireOtherProducts)
            </div>
        </div>
        <div class="form-group" id="pnlRequiredProductIds">
            @Html.ZajelLabelFor(model => model.RequiredProductIds)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.RequiredProductIds)
                @Html.ValidationMessageFor(model => model.RequiredProductIds)
                <span id="required-products-check-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                <input type="submit" id="btnAddNewRequiredProduct" value="@T("Admin.Catalog.Products.Fields.RequiredProductIds.AddNew")"
                       onclick="javascript:OpenWindow('@(Url.Action("RequiredProductAddPopup", "Product",
                                                       new { btnId = "btnRefreshRequiredProducts", productIdsInput = "RequiredProductIds" }))', 800, 800, true); return false;" class="btn default" />
                <input type="submit" id="btnRefreshRequiredProducts" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnRefreshRequiredProducts').click(function () {
                            loadRequiredProductFriendlyNames();
                            return false;
                        });
                    });
                </script>
                <span id="required-product-names" class="required-product-names"></span>
            </div>
        </div>
        <div class="form-group" id="pnlAutomaticallyAddRequiredProducts">
            @Html.ZajelLabelFor(model => model.AutomaticallyAddRequiredProducts)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.AutomaticallyAddRequiredProducts)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AutomaticallyAddRequiredProducts)
            </div>
        </div>
    </div>
</div>
