﻿@model BulkEditListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    //page title
    ViewBag.Title = T("Admin.Catalog.BulkEdit").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>
                        @T("Admin.Catalog.BulkEdit")
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.SearchProductName)
                                <div class="col-md-9 col-sm-9">
                                    @Html.ZajelEditorFor(model => model.SearchProductName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.SearchCategoryId)
                                <div class="col-md-9 col-sm-9">
                                    @Html.ZajelDropDownListFor(model => model.SearchCategoryId, Model.AvailableCategories)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.SearchManufacturerId)
                                <div class="col-md-9 col-sm-9">
                                    @Html.ZajelDropDownListFor(model => model.SearchManufacturerId, Model.AvailableManufacturers)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.SearchProductTypeId)
                                <div class="col-md-9 col-sm-9">
                                    @Html.ZajelDropDownListFor(model => model.SearchProductTypeId, Model.AvailableProductTypes)
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                        <button class="btn btn-success filter-submit" id="search-products">
                                            <i class="fa fa-search"></i> @T("Admin.Common.Search")
                                        </button>                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="products-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#products-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("BulkEditSelect", "Product"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("BulkEditUpdate", "Product"))",
                            type: "POST",
                            dataType: "json"
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("BulkEditDelete", "Product"))",
                            type: "POST",
                            dataType: "json"
                        },
                        parameterMap: function(data, operation) {
                            if (operation != "read") {
                                
                                var result = {};

                                for (var i = 0; i < data.models.length; i++) {
                                    var entity = data.models[i];

                                    for (var member in entity) {
                                        result["products[" + i + "]." + member] = entity[member];
                                    }
                                }

                                addAntiForgeryToken(result);
                                return result;
                            } else {
                                addAntiForgeryToken(data);
                                //return JSON.stringify(data);
                                return data;
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                Name: { editable: true, type: "string" },
                                ProductId: { editable: false, type: "string" },
                                Sku: { editable: true, type: "string" },
                                Price: { editable: true, type: "number" },
                                OldPrice: { editable: true, type: "number" },
                                ManageInventoryMethod: { editable: false, type: "string" },
                                StockQuantity: { editable: true, type: "number" },
                                Published: { editable: true, type: "boolean" },
                                Id: { editable: false, type: "string" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type == "update") {
                            this.read();
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    //bulk editing
                    batch: true,
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                toolbar: ["save", "cancel"],
                editable: {
                    confirmation: false,
                    //bulk editing
                    mode: "incell"
                },
                scrollable: false,
                columns: [ {
                    field: "Name",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.Name")",
                    width: 200
                }, {
                    field: "ProductId",
                    title: "@T("Admin.Common.View")",
                    width: 50,
                    template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=Id#">@T("Admin.Common.View")</a>'
                },{
                    field: "Sku",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.Sku")",
                    width: 150
                }, {
                    field: "Price",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.Price")",
                    width: 100,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoNumericTextBox({
                                format: "{0:n4}",
                                decimals: 4
                            });
                    }
                }, {
                    field: "OldPrice",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.OldPrice")",
                    width: 100,
                    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoNumericTextBox({
                                format: "{0:n4}",
                                decimals: 4
                            });
                    }
                }, {
                    field: "ManageInventoryMethod",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.ManageInventoryMethod")",
                    width: 150
                }, {
                    field: "StockQuantity",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.StockQuantity")",
                    //integer format
                    format: "{0:0}",
                    width: 100
                },{
                    field: "Published",
                    title: "@T("Admin.Catalog.BulkEdit.Fields.Published")",
                    width: 100
                }, {
                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                    title: "@T("Admin.Common.Delete")",
                    width: 100
                }
                ]
            } );
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#search-products').click(function () {
                var grid = $('#products-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>
                            
                    }
