﻿@model ProductModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Products.EditProductDetails").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "product-form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cube"></i>
                        @T("Admin.Catalog.Products.EditProductDetails") - @Model.Name
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Catalog.Products.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
                            <button type="button" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new {SeName = Model.SeName})', 800, 600, true); return false;" class="btn purple">
                                <i class="fa fa-eye"></i>
                                @T("Admin.Common.Preview")
                            </button>
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <button type="button" name="copyproduct" class="btn blue" id="copyproduct">
                                <i class="fa fa-clone"></i>
                                @T("Admin.Catalog.Products.Copy")
                            </button>
                            <span id="product-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>

}
@Html.DeleteConfirmation("product-delete")

@*copy product form*@
<div id="copyproduct-window" style="display:none;">
            @using (Html.BeginForm("CopyProduct", "Product"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.CopyProductModel.Id)
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.ZajelLabelFor(model => model.CopyProductModel.Name, new Dictionary<string, object> { { "class", "col-sm-4 col-md-4 control-label" } }, false)
                                    <div class="col-md-8 col-sm-8">
                                        @Html.ZajelEditorFor(model => model.CopyProductModel.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.ZajelLabelFor(model => model.CopyProductModel.Published, new Dictionary<string, object> { { "class", "col-sm-4 col-md-4 control-label" } }, false)
                                    <div class="col-md-8 col-sm-8">
                                        @Html.EditorFor(model => model.CopyProductModel.Published)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.ZajelLabelFor(model => model.CopyProductModel.CopyImages, new Dictionary<string, object> { { "class", "col-sm-4 col-md-4 control-label" } }, false)
                                    <div class="col-md-8 col-sm-8">
                                        @Html.ZajelEditorFor(model => model.CopyProductModel.CopyImages)
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6">
                                    <input type="submit" class="btn green" value="@T("Admin.Catalog.Products.Copy")" />
                                </div>
                            </div>
                        </div>
            }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#copyproduct").click(function (e) {
            e.preventDefault();
            var window = $("#copyproduct-window");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    modal: true,
                    width: "400px",
                    title: "@T("Admin.Catalog.Products.Copy")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        });
    });
</script>