﻿@model BlogPostModel
@using Zajel.Web.Models.Blogs;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
}
@section left {
    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_blog_before" })
    @await Component.InvokeAsync("BlogMonths")
    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_after_blog_archive" })
    @await Component.InvokeAsync("BlogTags")
    @await Component.InvokeAsync("Widget", new { widgetZone = "left_side_column_blog_after" })
}
<div class="page blogpost-page">
    @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_top", additionalData = Model.Id })
    <div class="card">
        @if (!string.IsNullOrEmpty(Model.PictureModel.ImageUrl))
        {
            <img class="card-img-top img-fluid" alt="@Model.PictureModel.AlternateText" src="@Model.PictureModel.ImageUrl" title="@Model.PictureModel.Title">
        }
        <h4 class="card-header">@Model.Title</h4>
        <div class="card-block">
            <div class="post-date generalMarginSupporter text-muted">
                <strong>@Model.CreatedOn.ToString("D")</strong>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_before_body", additionalData = Model.Id })
            <div class="post-body">
                @Html.Raw(Model.Body)
            </div>
        </div>
    </div>


    @if (Model.Tags.Count > 0)
    {
        <div class="tags generalMarginSupporter">
            <label>@T("Blog.Tags"):</label>
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                var tag = Model.Tags[i];
                <a class="btn btn-secondary" href="@Url.RouteUrl("BlogByTag", new {tag = tag})">@tag</a>
            }
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_before_comments", additionalData = Model.Id })
    @if (Model.AllowComments)
    {
        <div class="fieldset new-comment generalMarginSupporter" id="comments">
            <h4 class="generalTitle generalMarginSupporter">@T("Blog.Comments.LeaveYourComment")</h4>
            <div class="notifications">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                @{
                    var result = TempData["Zajel.blog.addcomment.result"] as string;
                }
                @if (!String.IsNullOrEmpty(result))
                {
                    <div class="result">@result</div>
                }
            </div>
            <form asp-route="BlogPost" asp-route-sename="@Model.SeName" method="post">
                <div class="form-fields">
                    <div class="form-group">
                        <label asp-for="AddNewComment.CommentText" class="col-form-label">@T("Blog.Comments.CommentText"):</label>
                        <textarea asp-for="AddNewComment.CommentText" class="enter-comment-text form-control"></textarea>
                        <span asp-validation-for="AddNewComment.CommentText"></span>
                    </div>
                    @if (Model.AddNewComment.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            <captcha />
                        </div>
                    }
                </div>
                    <div class="buttons text-xs-center text-md-left generalMarginSupporter">
                        <input type="submit" name="add-comment" class="btn btn-success blog-post-add-comment-button" value="@T("Blog.Comments.SubmitButton")" />
                    </div>
            </form>
        </div>
                    if (Model.Comments.Count > 0)
                    {
                        <div class="comment-list">
                            <h4 class="generalTitle generalMarginSupporter"><strong>@T("Blog.Comments")</strong></h4>
                            <div class="comments">
                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="card comment blog-comment text-center text-sm-left">
                                        @if (comment.AllowViewingProfiles)
                                        {
                                            <h5 class="card-header"><a href="@Url.RouteUrl("UserProfile", new {id = comment.UserId})" class="username">@(comment.UserName)</a></h5>
                                        }
                                        else
                                        {
                                            <h5 class="username card-header">@(comment.UserName)</h5>
                                        }


                                        <div class="card-block row">
                                            @if (!String.IsNullOrEmpty(comment.UserAvatarUrl))
                                            {
                                            <div class="col-12 col-xl-2 col-lg-3 col-sm-4 col-md-3 user-info">
                                                    <div class="avatar">
                                                        @if (comment.AllowViewingProfiles)
                                                        {
                                                            <a href="@Url.RouteUrl("UserProfile", new {id = comment.UserId})" class="avatar-img-link">
                                                                <img src="@(comment.UserAvatarUrl)" class="avatar-img" alt="avatar" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <img src="@(comment.UserAvatarUrl)" class="avatar-img" alt="avatar" />
                                                        }
                                                    </div>
                                            </div>
                                            }
                                            <div class="col-12 col-sm-9 comment-content">
                                                <div class="comment-time">
                                                    <label>@T("Blog.Comments.CreatedOn"):</label>
                                                    <span class="stat-value">@comment.CreatedOn.ToString("g")</span>
                                                </div>
                                                <div class="comment-body text-center text-sm-left">
                                                    @Html.Raw(Zajel.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false))
                                                </div>
                                            </div>
                                            @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_inside_comment", additionalData = comment.Id })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        }
                    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_after_comments", additionalData = Model.Id })
    @await Component.InvokeAsync("Widget", new { widgetZone = "blogpost_page_bottom", additionalData = Model.Id })
</div>
