﻿@model UserNavigationModel           
<div id="block-account-navigation" class="block block-account-navigation">
        <h2 class="h5 generalTitle hidden-md-down"><strong>@T("Account.Navigation")</strong></h2>
        <h2 class="h5 bg-faded p-3 hidden-lg-up"><strong>@T("Account.Navigation")</strong><i id="computers" class="fa fa-angle-down float-xs-right"></i></h2>
        <ul class="list viewBox">
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_before" })
            @if (!Model.HideInfo)
            {
                <li><a href="@Url.RouteUrl("UserInfo")" class="@if (Model.SelectedTab == UserNavigationEnum.Info)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@T("Account.UserInfo")</a></li>
            }
            @if (!Model.HideAddresses)
            {
                <li><a href="@Url.RouteUrl("UserAddresses")" class="@if (Model.SelectedTab == UserNavigationEnum.Addresses)
                                                                        {<text>active</text>}
                                                                        else
                                                                        {<text>inactive</text>}">@T("Account.UserAddresses")</a></li>
            }
            @if (!Model.HideOrders)
            { 
                <li><a href="@Url.RouteUrl("UserOrders")" class="@if (Model.SelectedTab == UserNavigationEnum.Orders)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.UserOrders")</a></li>
            }
            @if (!Model.HideReturnRequests)
            { 
                <li><a href="@Url.RouteUrl("UserReturnRequests")" class="@if (Model.SelectedTab == UserNavigationEnum.ReturnRequests)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.UserReturnRequests")</a></li>
            }
            @if (!Model.HideDownloadableProducts)
            { 
                <li><a href="@Url.RouteUrl("UserDownloadableProducts")" class="@if (Model.SelectedTab == UserNavigationEnum.DownloadableProducts)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.DownloadableProducts")</a></li>
            }
            @if (!Model.HideBackInStockSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("UserBackInStockSubscriptions")" class="@if (Model.SelectedTab == UserNavigationEnum.BackInStockSubscriptions)
                                                                                   {<text>active</text>}
                                                                                   else
                                                                                   {<text>inactive</text>}">@T("Account.BackInStockSubscriptions")</a></li>
            }
            @if (!Model.HideRewardPoints)
            { 
                <li><a href="@Url.RouteUrl("UserRewardPoints")" class="@if (Model.SelectedTab == UserNavigationEnum.RewardPoints)
                                                                           {<text>active</text>}
                                                                           else
                                                                           {<text>inactive</text>}">@T("Account.RewardPoints")</a></li>
            }
            @if (!Model.HideChangePassword)
            { 
                <li><a href="@Url.RouteUrl("UserChangePassword")" class="@if (Model.SelectedTab == UserNavigationEnum.ChangePassword)
                                                                             {<text>active</text>}
                                                                             else
                                                                             {<text>inactive</text>}">@T("Account.ChangePassword")</a></li>
            }
            @if (!Model.HideAvatar)
            { 
                <li><a href="@Url.RouteUrl("UserAvatar")" class="@if (Model.SelectedTab == UserNavigationEnum.Avatar)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.Avatar")</a></li> 
            }
            @if (!Model.HideForumSubscriptions)
            { 
                <li><a href="@Url.RouteUrl("UserForumSubscriptions")" class="@if (Model.SelectedTab == UserNavigationEnum.ForumSubscriptions)
                                                                                 {<text>active</text>}
                                                                                 else
                                                                                 {<text>inactive</text>}">@T("Account.ForumSubscriptions")</a></li>
            }
            @if (Model.ShowVendorInfo)
            {
                <li><a href="@Url.RouteUrl("UserVendorInfo")" class="@if(Model.SelectedTab == UserNavigationEnum.VendorInfo)
                                                                     {<text>active</text>}
                                                                     else
                                                                     {<text>inactive</text>}">@T("Account.VendorInfo")</a></li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_after" })
        </ul>
</div>
