﻿@model ActivityLogSearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    
    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog.ActivityStats").Text;
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-sitemap"></i>
                    @T("Admin.Configuration.ActivityLog.ActivityStats")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.ZajelLabelFor(model => model.CreatedOnFrom)
                            <div class="col-md-4 col-sm-6">
                                @Html.ZajelEditorFor(model => model.CreatedOnFrom)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ZajelLabelFor(model => model.CreatedOnTo)
                            <div class="col-md-4 col-sm-6">
                                @Html.ZajelEditorFor(model => model.CreatedOnTo)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.ZajelLabelFor(model => model.ActivityLogTypeId)
                            <div class="col-md-4 col-sm-6">
                                @Html.ZajelDropDownListFor(model => model.ActivityLogTypeId, Model.ActivityLogType)
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                <button class="btn btn-success filter-submit" id="search-log">
                                    <i class="fa fa-search"></i> @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="activityLog-grid"></div>
            </div>
        </div>
    </div>
</div>

            <script>
                $(document).ready(function () {
                    $("#activityLog-grid").kendoGrid({
                        dataSource: {
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ListStats", "ActivityLog"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                },                               
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "ActivityLogTypeName",
                            title: "@T("Admin.Configuration.ActivityLog.ActivityStats.Fields.ActivityLogType")",
                            width: 250
                        }, {
                            field: "Name",
                            title: "@T("Admin.Configuration.ActivityLog.ActivityStats.Fields.Name")"
                        }, {
                            field: "Count",
                            title: "@T("Admin.Configuration.ActivityLog.ActivityStats.Fields.Count")",
                            width: 100,                           
                        }]
                    });
                });
            </script>
            <script type="text/javascript">

                $(document).ready(function () {

                    $('#search-log').click(function () {
                        var grid = $('#activityLog-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });

                function additionalData() {
                    var data = {
                        CreatedOnFrom: $('#@Html.FieldIdFor(model => model.CreatedOnFrom)').val(),
                        CreatedOnTo: $('#@Html.FieldIdFor(model => model.CreatedOnTo)').val(),
                        ActivityLogTypeId: $('#ActivityLogTypeId').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }
            </script>
