﻿@model OrderModel
@if (Model.IsShippable)
{
    <div class="form-horizontal">
        <div class="form-body">
            @if (Model.ShippingAddress != null)
            {
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.ShippingAddress)
                    <div class="col-md-9 col-sm-9">
                        <table class="table table-bordered table-striped table-hover">
                            @if (Model.ShippingAddress.FirstNameEnabled || Model.ShippingAddress.LastNameEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.FullName"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.EmailEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Email"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.Email
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.PhoneEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Phone"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.PhoneNumber
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.FaxEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Fax"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.FaxNumber
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.CompanyEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Company"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.Company
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.StreetAddressEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Address1"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.Address1
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.StreetAddress2Enabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Address2"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.Address2
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.CityEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.City"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.City
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.StateProvinceEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.StateProvince"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.StateProvinceName
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.ZipPostalCode"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.ZipPostalCode
                                    </td>
                                </tr>
                            }
                            @if (Model.ShippingAddress.CountryEnabled)
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Country"):
                                    </td>
                                    <td>
                                        @Model.ShippingAddress.CountryName
                                    </td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ShippingAddress.FormattedCustomAddressAttributes))
                            {
                                <tr class="custom-attributes-view">
                                    <td colspan="2">
                                        @Html.Raw(Model.ShippingAddress.FormattedCustomAddressAttributes)
                                    </td>
                                </tr>
                            }
                            @if (!Model.IsLoggedInAsVendor)
                            {
                                <tr>
                                    <td colspan="2">
                                        <a href="@Url.Action("AddressEdit", new { addressId = Model.ShippingAddress.Id, orderId = Model.Id })" class="btn green">@T("Admin.Common.Edit")</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        <div style="padding-top: 15px;">
                            <img alt="google maps" src="@Url.Content("~/Administration/images/google-maps.gif")" />
                            <a href="@Html.Raw(Model.ShippingAddressGoogleMapsUrl)" target="_blank">@T("Admin.Orders.Fields.ShippingAddress.ViewOnGoogleMaps")</a>
                        </div>
                    </div>
                </div>
            }
            @if (Model.PickupAddress != null)
            {
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.PickupAddress)
                    <div class="col-md-9 col-sm-9">
                        <table class="table table-bordered table-striped table-hover">
                            @if (!String.IsNullOrEmpty(Model.PickupAddress.Address1))
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Address1"):
                                    </td>
                                    <td>
                                        @Model.PickupAddress.Address1
                                    </td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.PickupAddress.City))
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.City"):
                                    </td>
                                    <td>
                                        @Model.PickupAddress.City
                                    </td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.PickupAddress.ZipPostalCode))
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.ZipPostalCode"):
                                    </td>
                                    <td>
                                        @Model.PickupAddress.ZipPostalCode
                                    </td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.PickupAddress.CountryName))
                            {
                                <tr>
                                    <td>
                                        @T("Admin.Orders.Address.Country"):
                                    </td>
                                    <td>
                                        @Model.PickupAddress.CountryName
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.ZajelLabelFor(model => model.ShippingMethod)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label" id="lblShippingMethod">@Model.ShippingMethod</label>
                    @if (!Model.IsLoggedInAsVendor)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                toggleEditShippingMethod(false);
                            });


                            function toggleEditShippingMethod(editmode) {
                                if (editmode) {
                                    $('#lblShippingMethod').hide();
                                    $('#divShippingMethod').show();
                                    $('#btnEditShippingMethod').hide();
                                    $('#btnSaveShippingMethod').show();
                                    $('#btnCancelShippingMethod').show();
                                } else {
                                    $('#lblShippingMethod').show();
                                    $('#divShippingMethod').hide();
                                    $('#btnEditShippingMethod').show();
                                    $('#btnSaveShippingMethod').hide();
                                    $('#btnCancelShippingMethod').hide();
                                }
                            }

                        </script>
                        <div id="divShippingMethod" style="display: inline-block;">@Html.ZajelEditorFor(model => model.ShippingMethod)</div>
                        <input type="submit" value="@T("Admin.Common.Edit")" onclick=" toggleEditShippingMethod(true);return false; " id="btnEditShippingMethod" class="btn green" />
                        <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveShippingMethod" name="save-shipping-method" class="btn green" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                        <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleEditShippingMethod(false);return false; " id="btnCancelShippingMethod" class="btn default" />
                    }
                    @if (!string.IsNullOrEmpty(Model.ShippingAdditionDescription))
                    {
                        <br />
                        <label>@Html.Raw(Model.ShippingAdditionDescription)</label>
                    }
                </div>
            </div>
            @if (!Model.IsLoggedInAsVendor)
            {
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.ShippingStatus)
                    <div class="col-md-9 col-sm-9">
                        <label class="control-label">@Model.ShippingStatus</label> 
                    </div>
                </div>
            }
        </div>
    </div>
    <p>
        <strong>
            @T("Admin.Orders.Shipments")
        </strong>
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="shipments-grid"></div>
        </div>
        <div class="panel-footer">
            @if (Model.CanAddNewShipments)
            {
                <input type="submit" id="btnAddNewShipment" name="btnAddNewShipment" value="@T("Admin.Orders.Shipments.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddShipment", "Order", new { orderId = Model.Id }))'); return false;" class="k-button" />
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#shipments-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ShipmentsByOrder", "Order", new { orderId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                //details grid
                detailInit: detailInit,
                scrollable: false,
                columns: [{
                    field: "ShipmentNumber",
                    title: "@T("Admin.Orders.Shipments.ID")",
                    width: 50
                }, {
                    field: "OrderNumber",
                    title: "@T("Admin.Orders.Shipments.OrderID")",
                    width: 100
                }, {
                    field: "TrackingNumber",
                    title: "@T("Admin.Orders.Shipments.TrackingNumber")",
                    width: 100
                }, {
                    field: "TotalWeight",
                    title: "@T("Admin.Orders.Shipments.TotalWeight")",
                    width: 100
                }, {
                    field: "ShippedDate",
                    title: "@T("Admin.Orders.Shipments.ShippedDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "DeliveryDate",
                    title: "@T("Admin.Orders.Shipments.DeliveryDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.View")",
                    width: 50,
                    template: '<a href="@Url.Content("~/Admin/Order/ShipmentDetails/")#=Id#">@T("Admin.Common.View")</a>'
                }]
            });
        });

        //details grid
        function detailInit(e) {
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ShipmentsItemsByShipmentId", "Order"))?shipmentId="+e.data.Id,
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                scrollable: false,
                sortable: true,
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                columns: [
                    {
                        field: "ProductName",
                        title: "@T("Admin.Orders.Shipments.Products.ProductName")",
                        width: 400
                    },{
                        field: "ShippedFromWarehouse",
                        title: "@T("Admin.Orders.Shipments.Products.Warehouse")",
                        width: 150
                    },{
                        field: "QuantityInThisShipment",
                        title: "@T("Admin.Orders.Shipments.Products.QtyShipped")",
                        width: 150
                    },{
                        field: "ItemWeight",
                        title: "@T("Admin.Orders.Shipments.Products.ItemWeight")",
                        width: 150
                    },{
                        field: "ItemDimensions",
                        title: "@T("Admin.Orders.Shipments.Products.ItemDimensions")",
                        width: 150
                    }
                ]
            });
        }
    </script>
}
else
{
    <div class="note note-info">@T("Admin.Orders.ShippingInfo.NotRequired")</div>
}