﻿@model OrderModel

<div class="panel panel-default">
    <div class="panel-body">
        <div id="ordernotes-grid"></div>
    </div>
</div>
            

    <script>
        $(document).ready(function () {
            $("#ordernotes-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("OrderNotesSelect", "Order", new { orderId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("OrderNoteDelete", "Order", new { orderId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                //do not implicitly specify all fields
                                //we do it only for fields which implicitly require it
                                //otherwise, they'll be formatted wrong way
                                CreatedOn: {type: "date" }
                            }
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "CreatedOn",
                    title: "@T("Admin.Orders.OrderNotes.Fields.CreatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Note",
                    title: "@T("Admin.Orders.OrderNotes.Fields.Note")",
                    encoded: false
                },{
                    field: "DownloadId",
                    title: "@T("Admin.Orders.OrderNotes.Fields.Download")",
                    template: '# if(DownloadId != "") {# <a href="@Url.Content("~/Admin/Download/DownloadFile")?downloadGuid=#=DownloadGuid#">@T("Admin.Orders.OrderNotes.Fields.Download.Link")</a> #} else {# @T("Admin.Orders.OrderNotes.Fields.Download.Link.No") #} #'
                },{
                    field: "DisplayToUser",
                    title: "@T("Admin.Orders.OrderNotes.Fields.DisplayToUser")",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(DisplayToUser) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
                },  {
                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                    title: "@T("Admin.Common.Delete")",
                    width: 100
                }]
            });
        });
    </script>

<p>
    <strong>
        @T("Admin.Orders.OrderNotes.AddTitle")
    </strong>
</p>
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)").change(toggleAddOrderNoteHasDownload);

        toggleAddOrderNoteHasDownload();
    });

    function toggleAddOrderNoteHasDownload() {
        if ($('#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)').is(':checked')) {
            $('#pnlAddOrderNoteDownloadId').show();
        }
        else {
            $('#pnlAddOrderNoteDownloadId').hide();
        }
    }

</script>

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddOrderNoteMessage)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.AddOrderNoteMessage, new { style = "Height: 100px;" })
                @Html.ValidationMessageFor(model => model.AddOrderNoteMessage)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddOrderNoteDownloadId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.AddOrderNoteHasDownload) @T("Admin.Orders.OrderNotes.Fields.Download.HasDownload")
                <div id="pnlAddOrderNoteDownloadId">
                    @Html.EditorFor(model => model.AddOrderNoteDownloadId)
                    @Html.ValidationMessageFor(model => model.AddOrderNoteDownloadId)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddOrderNoteDisplayToUser)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.AddOrderNoteDisplayToUser)
                @Html.ValidationMessageFor(model => model.AddOrderNoteDisplayToUser)
            </div>
        </div>
        <div class="form-actions">
            <div class="col-md-offset-3 col-md-9 col-sm-9">
                <input type="button" id="addOrderNote" class="btn green" value="@T("Admin.Orders.OrderNotes.AddButton")" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#addOrderNote').click(function () {
            var orderNoteMessage = $("#@Html.FieldIdFor(model => model.AddOrderNoteMessage)").val();
            var orderNoteDownloadId = '';
            if ($('#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)').is(':checked')) {
                orderNoteDownloadId = $("#@Html.FieldIdFor(model => model.AddOrderNoteDownloadId)").val();
            }
            var orderNoteDisplayToUser = $("#@Html.FieldIdFor(model => model.AddOrderNoteDisplayToUser)").is(':checked');
            $('#addOrderNote').attr('disabled', true);
            
            var postData = {
                DisplayToUser: orderNoteDisplayToUser,
                message: orderNoteMessage, 
                downloadId: orderNoteDownloadId, 
                orderId: '@Model.Id'
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("OrderNoteAdd", "Order"))",
                data: postData,
                success: function (data) {
                    var grid = $("#ordernotes-grid").data('kendoGrid');
                    grid.dataSource.read();
                    $('#addOrderNote').attr('disabled', false);
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to add order note.');
                    $('#addOrderNote').attr('disabled', false);
                }  
            });
        });
    });
</script>
