﻿@model OrderModel.AddOrderProductModel.GiftCardModel
@if (Model.IsGiftCard)
{
    //Actually just a copy of \Presentation\Zajel.Web\Views\Catalog\_GiftCardInfo.cshtml
    <div class="form-group">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.RecipientName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RecipientName)
            </div>
        </div>
        <div class="form-group">
            @if (Model.GiftCardType == Zajel.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.ZajelLabelFor(model => model.RecipientEmail)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.RecipientEmail)
                </div>
            }
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SenderName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SenderName)
            </div>
        </div>
        <div class="form-group">
            @if (Model.GiftCardType == Zajel.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.ZajelLabelFor(model => model.SenderEmail)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.SenderEmail)
                </div>
            }
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Message)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.Message, new { style = "Width: 300px; Height: 100px;" })
            </div>
        </div>
    </div>
}