﻿@model BestsellersReportModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.SalesReport.Bestsellers").Text;
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.SalesReport.Bestsellers")
                </div>
               
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.StartDate)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelEditorFor(model => model.StartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.EndDate)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelEditorFor(model => model.EndDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.StoreId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.StoreId, Model.AvailableStores)
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        @Html.ZajelLabelFor(model => model.OrderStatusId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.OrderStatusId, Model.AvailableOrderStatuses)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.PaymentStatusId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.PaymentStatusId, Model.AvailablePaymentStatuses)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.BillingCountryId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.BillingCountryId, Model.AvailableCountries)
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        @Html.ZajelLabelFor(model => model.VendorId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.VendorId, Model.AvailableVendors)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                            <button class="btn btn-success filter-submit" id="search-salesreport">
                                                <i class="fa fa-search"></i> @T("Admin.SalesReport.Bestsellers.RunReport")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="salesreport-grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            

<script>
    $(document).ready(function () {
        $("#salesreport-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("BestsellersReportList", "Order"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "ProductName",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.Name")"
            }, {
                field: "TotalQuantity",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalQuantity")"
            },{
                field: "TotalAmount",
                title: "@T("Admin.SalesReport.Bestsellers.Fields.TotalAmount")"
            },{
                field: "ProductId",
                title: "@T("Admin.Common.View")",
                width: 100,
                template: '<a class="btn btn-sm btn-default" href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#"><i class="fa fa-search"></i> @T("Admin.Common.View")</a>'
            }]
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#search-salesreport').click(function () {
            var grid = $('#salesreport-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

    });

    function additionalData() {
        var data = {
            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
            StoreId: $('#StoreId').val(),
            OrderStatusId: $('#OrderStatusId').val(),
            PaymentStatusId: $('#PaymentStatusId').val(),
            BillingCountryId: $('#BillingCountryId').val(),
            VendorId: $('#VendorId').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

</script>
        