﻿@model CountryReportModel
@{
    //page title
    ViewBag.Title = T("Admin.SalesReport.Country").Text;
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>
                    @T("Admin.SalesReport.Country")
                </div>

            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.StartDate)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelEditorFor(model => model.StartDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.EndDate)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelEditorFor(model => model.EndDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.OrderStatusId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.OrderStatusId, Model.AvailableOrderStatuses)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ZajelLabelFor(model => model.PaymentStatusId)
                                        <div class="col-md-9 col-sm-9">
                                            @Html.ZajelDropDownListFor(model => model.PaymentStatusId, Model.AvailablePaymentStatuses)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                                            <button class="btn btn-success filter-submit" id="search-countryreport">
                                                <i class="fa fa-search"></i> @T("Admin.SalesReport.Country.RunReport")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="countryreport-grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            $("#countryreport-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("CountryReportList", "Order"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                scrollable: false,
                columns: [{
                    field: "CountryName",
                    title: "@T("Admin.SalesReport.Country.Fields.CountryName")"
                }, {
                    field: "TotalOrders",
                    title: "@T("Admin.SalesReport.Country.Fields.TotalOrders")"
                },{
                    field: "SumOrders",
                    title: "@T("Admin.SalesReport.Country.Fields.SumOrders")"
                }]
            });
        });
    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#search-countryreport').click(function () {
                var grid = $('#countryreport-grid').data('kendoGrid');
                grid.dataSource.read();
                return false;
            });

        });

        function additionalData() {
            var data = {
                StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                OrderStatusId: $('#OrderStatusId').val(),
                PaymentStatusId: $('#PaymentStatusId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }

    </script>
