﻿@model ShipmentModel
@{
    //page title
    ViewBag.Title = T("Admin.Orders.Shipments.ViewDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(document).ready(function () {
            toggleShippedDate(false);
            toggleDeliveryDate(false);
        });

        function toggleShippedDate(editmode) {
            if (editmode) {
                $('#lblShippedDate').hide();
                $('#divShippedDate').show();
                $('#btnEditShippedDate').hide();
                $('#btnSaveShippedDate').show();
                $('#btnCancelShippedDate').show();
            }
            else {
                $('#lblShippedDate').show();
                $('#divShippedDate').hide();
                $('#btnEditShippedDate').show();
                $('#btnSaveShippedDate').hide();
                $('#btnCancelShippedDate').hide();
            }
        }

        function toggleDeliveryDate(editmode) {
            if (editmode) {
                $('#lblDeliveryDate').hide();
                $('#divDeliveryDate').show();
                $('#btnEditDeliveryDate').hide();
                $('#btnSaveDeliveryDate').show();
                $('#btnCancelDeliveryDate').show();
            }
            else {
                $('#lblDeliveryDate').show();
                $('#divDeliveryDate').hide();
                $('#btnEditDeliveryDate').show();
                $('#btnSaveDeliveryDate').hide();
                $('#btnCancelDeliveryDate').hide();
            }
        }
    </script>
   
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-truck"></i>
                        @T("Admin.Orders.Shipments.ViewDetails") - @Model.ShipmentNumber 
                        <small>
                            <i class="fa fa-arrow-circle-left"></i>
                            @Html.ActionLink(T("Admin.Orders.Shipments.BackToOrder").Text, "Edit", new { id = Model.OrderId })
                        </small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <a href="@Url.Action("PdfPackagingSlip", new { shipmentId = Model.Id })" class="btn purple">
                            <i class="fa fa-file-pdf-o"></i> @T("Admin.Orders.Shipments.PrintPackagingSlip")</a>
                            <span id="shipment-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.OrderId)
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">
                                        <a href="@Url.Action("Edit", "Order", new {Id = Model.OrderId})">@Model.OrderNumber - @T("Admin.Common.View")</a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.TrackingNumber)
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-control">
                                            @Html.ZajelEditorFor(model => model.TrackingNumber)
                                        </div>
                                        <div class="input-group-btn">
                                            <input type="submit" name="settrackingnumber" value="@T("Admin.Orders.Shipments.TrackingNumber.Button")" class="btn default" />
                                            @if (!string.IsNullOrEmpty(Model.TrackingNumberUrl))
                                            {
                                                <a href="@Model.TrackingNumberUrl" target="_blank" class="tracking-url">@T("Admin.Orders.Shipments.TrackingNumber.ViewOnline")</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.AdminComment)
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-control">
                                            @Html.ZajelEditorFor(model => model.AdminComment)
                                        </div>
                                        <div class="input-group-btn">
                                            <input type="submit" name="setadmincomment" value="@T("Admin.Orders.Shipments.AdminComment.Button")" class="btn default" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.TotalWeight)
                                <div class="col-md-9 col-sm-9">
                                    <label class="control-label">@Model.TotalWeight</label>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.ShippedDate)
                                <div class="col-md-9 col-sm-9">
                                    <span id="lblShippedDate">@Model.ShippedDate</span>
                                    @if (Model.CanShip)
                                    {
                                        <input type="submit" name="setasshipped" value="@T("Admin.Orders.Shipments.ShippedDate.Button")" id="setasshipped" class="btn default" />
                                    }
                                    @if (Model.ShippedDateUtc.HasValue)
                                    {
                                        <div id="divShippedDate" style="display: inline-block;">@Html.ZajelEditorFor(model => model.ShippedDateUtc) &nbsp;@T("Admin.Orders.Shipments.ShippedDate.EnterUtc")</div>
                                        <input type="submit" value="@T("Admin.Common.Edit")" onclick=" toggleShippedDate(true);return false; " id="btnEditShippedDate" class="btn default" />
                                        <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveShippedDate" name="saveshippeddate" class="btn default" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                                        <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleShippedDate(false);return false; " id="btnCancelShippedDate" class="btn default" />
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ZajelLabelFor(model => model.DeliveryDate)
                                <div class="col-md-9 col-sm-9">
                                    <span id="lblDeliveryDate">@Model.DeliveryDate</span>
                                    @if (Model.CanDeliver)
                                    {
                                        <input type="submit" name="setasdelivered" value="@T("Admin.Orders.Shipments.DeliveryDate.Button")" id="setasdelivered" class="btn default" />
                                    }
                                    @if (Model.DeliveryDateUtc.HasValue)
                                    {
                                        <div id="divDeliveryDate" style="display: inline-block;">@Html.ZajelEditorFor(model => model.DeliveryDateUtc) &nbsp;@T("Admin.Orders.Shipments.DeliveryDate.EnterUtc")</div>
                                        <input type="submit" value="@T("Admin.Common.Edit")" onclick=" toggleDeliveryDate(true);return false; " id="btnEditDeliveryDate" class="btn default" />
                                        <input type="submit" value="@T("Admin.Common.Save")" id="btnSaveDeliveryDate" name="savedeliverydate" class="btn default" onclick=" return confirm('@T("Admin.Common.AreYouSure")'); " />
                                        <input type="submit" value="@T("Admin.Common.Cancel")" onclick=" toggleDeliveryDate(false);return false; " id="btnCancelDeliveryDate" class="btn default" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>
                <strong>@T("Admin.Orders.Shipments.Products")</strong>
            </td>
        </tr>
        <tr>
            <td >
                <table class="table table-bordered table-striped table-hover">

                    <thead>
                        <tr>
                            <th>
                                @T("Admin.Orders.Shipments.Products.ProductName")
                            </th>
                            <th>
                                @T("Admin.Orders.Shipments.Products.SKU")
                            </th>
                            <th>
                                @T("Admin.Orders.Shipments.Products.Warehouse")
                            </th>
                            <th>
                                @T("Admin.Orders.Shipments.Products.ItemWeight")
                            </th>
                            <th>
                                @T("Admin.Orders.Shipments.Products.ItemDimensions")
                            </th>
                            <th>
                                @T("Admin.Orders.Shipments.Products.QtyShipped")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <div style="padding-left: 10px; padding-right: 10px;">
                                        <em><a href="@Url.Action("Edit", "Product", new { id = item.ProductId })">@item.ProductName</a></em>
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <p>
                                                @Html.Raw(item.AttributeInfo)
                                            </p>
                                        }
                                        @if (!String.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <p>
                                                @Html.Raw(item.RentalInfo)
                                            </p>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-left: 10px; padding-right: 10px;">
                                        @item.Sku
                                    </div>
                                </td>
                                <td>
                                    <div style="padding-left: 10px; padding-right: 10px;">
                                        @item.ShippedFromWarehouse
                                    </div>
                                </td>
                                <td>
                                    @item.ItemWeight
                                </td>
                                <td>
                                    @item.ItemDimensions
                                </td>
                                <td>
                                    @item.QuantityInThisShipment
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    if (Model.ShipmentStatusEvents.Count > 0)
    {
        <div class="form-horizontal">
            <div class="note note-info">
                @T("Admin.Orders.Shipments.ShipmentStatusEvents")
            </div>
            <div class="form-body">
                <div class="form-group">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th align="center">
                                    @T("Admin.Orders.Shipments.ShipmentStatusEvents.Event")
                                </th>
                                <th align="center">
                                    @T("Admin.Orders.Shipments.ShipmentStatusEvents.Location")
                                </th>
                                <th align="center">
                                    @T("Admin.Orders.Shipments.ShipmentStatusEvents.Country")
                                </th>
                                <th align="center">
                                    @T("Admin.Orders.Shipments.ShipmentStatusEvents.Date")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShipmentStatusEvents)
                            {
                                <tr>
                                    <td style="width:40%;">
                                        <div style="padding-left: 10px; padding-right: 10px;">
                                            @item.EventName
                                        </div>
                                    </td>
                                    <td style="width:20%;">
                                        <div style="padding-left: 10px; padding-right: 10px;">
                                            @item.Location
                                        </div>
                                    </td>
                                    <td style="width:20%;">
                                        <div style="padding-left: 10px; padding-right: 10px;">
                                            @item.Country
                                        </div>
                                    </td>
                                    <td style="width:20%;">
                                        <div style="padding-left: 10px; padding-right: 10px;">
                                            @if (item.Date.HasValue)
                                            {
                                                @item.Date.Value.ToString("D")
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
@Html.DeleteConfirmation("DeleteShipment", "shipment-delete")