﻿@model ForumModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ForumGroupId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ForumGroupId, new SelectList(Model.ForumGroups, "Id", "Name"))
                @Html.ValidationMessageFor(model => model.ForumGroupId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Description)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>
