﻿@model UserUserSettingsModel
@using Zajel.Core.Domain.Users;



<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.DateTimeSettings.AllowUsersToSetTimeZone, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DateTimeSettings.AllowUsersToSetTimeZone)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DateTimeSettings.AllowUsersToSetTimeZone)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelDropDownListFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId, Model.DateTimeSettings.AvailableTimeZones)
                @Html.ValidationMessageFor(model => model.DateTimeSettings.DefaultStoreTimeZoneId)
            </div>
        </div>
    </div>
</div>
