﻿@model UserUserSettingsModel
@using Zajel.Core.Domain.Users;



<script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.AddressSettings.CountryEnabled)").click(toggleAddressCountryFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.CompanyEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.StreetAddressEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.StreetAddress2Enabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.ZipPostalCodeEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.CityEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.PhoneEnabled)").click(toggleAddressRequiredFormField);
            $("#@Html.FieldIdFor(model => model.AddressSettings.FaxEnabled)").click(toggleAddressRequiredFormField);


            toggleAddressCountryFormField();
            toggleAddressRequiredFormField();
        });

        function toggleAddressCountryFormField() {
            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CountryEnabled)').is(':checked')) {
                $('#pnlAddressStateProvinceEnabled').show();
            }
            else {
                $('#pnlAddressStateProvinceEnabled').hide();
            }
        }

        function toggleAddressRequiredFormField() {
            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CompanyEnabled)').is(':checked')) {
                $('#pnlAddressCompanyRequired').show();
            }
            else {
                $('#pnlAddressCompanyRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.StreetAddressEnabled)').is(':checked')) {
                $('#pnlAddressStreetAddressRequired').show();
            }
            else {
                $('#pnlAddressStreetAddressRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.StreetAddress2Enabled)').is(':checked')) {
                $('#pnlAddressStreetAddress2Required').show();
            }
            else {
                $('#pnlAddressStreetAddress2Required').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.ZipPostalCodeEnabled)').is(':checked')) {
                $('#pnlAddressZipPostalCodeRequired').show();
            }
            else {
                $('#pnlAddressZipPostalCodeRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.CityEnabled)').is(':checked')) {
                $('#pnlAddressCityRequired').show();
            }
            else {
                $('#pnlAddressCityRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.PhoneEnabled)').is(':checked')) {
                $('#pnlAddressPhoneRequired').show();
            }
            else {
                $('#pnlAddressPhoneRequired').hide();
            }

            if ($('#@Html.FieldIdFor(model => model.AddressSettings.FaxEnabled)').is(':checked')) {
                $('#pnlAddressFaxRequired').show();
            }
            else {
                $('#pnlAddressFaxRequired').hide();
            }
        }

</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="note note-info">
                @T("Admin.Configuration.Settings.UserUser.AddressFormFields.Description")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.CompanyEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.CompanyEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.CompanyEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressCompanyRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.CompanyRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.CompanyRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.CompanyRequired)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.StreetAddressEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.StreetAddressEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddressEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressStreetAddressRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.StreetAddressRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.StreetAddressRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddressRequired)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.StreetAddress2Enabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.StreetAddress2Enabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddress2Enabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressStreetAddress2Required">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.StreetAddress2Required, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.StreetAddress2Required)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.StreetAddress2Required)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.ZipPostalCodeEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.ZipPostalCodeEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.ZipPostalCodeEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressZipPostalCodeRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.ZipPostalCodeRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.ZipPostalCodeRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.ZipPostalCodeRequired)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.CityEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.CityEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.CityEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressCityRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.CityRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.CityRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.CityRequired)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.CountryEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.CountryEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.CountryEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressStateProvinceEnabled">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.StateProvinceEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.StateProvinceEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.StateProvinceEnabled)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.PhoneEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.PhoneEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.PhoneEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressPhoneRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.PhoneRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.PhoneRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.PhoneRequired)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.FaxEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.FaxEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.FaxEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAddressFaxRequired">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.AddressSettings.FaxRequired, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AddressSettings.FaxRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AddressSettings.FaxRequired)
            </div>
        </div>
    </div>
</div>
//render custom address attributes
@Html.Action("ListBlock", "AddressAttribute")