﻿@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Users.OnlineUsers").Text;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                   @T("Admin.Users.OnlineUsers")
                </div>
            </div>
            <div class="portlet-body form">
                <div id="onlineusers-grid"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#onlineusers-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "OnlineUser"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Id",
                title: "@T("Admin.Users.OnlineUsers.Fields.UserInfo")",
                template: '<a href="@Url.Content("~/Admin/User/Edit/")#=Id#">#:UserInfo#</a>'
            }, {
                field: "LastIpAddress",
                title: "@T("Admin.Users.OnlineUsers.Fields.IPAddress")"
            }, {
                field: "Location",
                title: "@T("Admin.Users.OnlineUsers.Fields.Location")"
            }, {
                field: "LastActivityDate",
                title: "@T("Admin.Users.OnlineUsers.Fields.LastActivityDate")",
                width: 200,
                type: "date",
                format: "{0:G}"
            }, {
                field: "LastVisitedPage",
                title: "@T("Admin.Users.OnlineUsers.Fields.LastVisitedPage")"
            }]
        });
    });
</script>
        