﻿@model QueuedEmailModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.PriorityName)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.PriorityName)</label>
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.From)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.From)
                @Html.ValidationMessageFor(model => model.From)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.FromName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.FromName)
                @Html.ValidationMessageFor(model => model.FromName)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.To)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.To)
                @Html.ValidationMessageFor(model => model.To)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.ToName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ToName)
                @Html.ValidationMessageFor(model => model.ToName)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.ReplyTo)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ReplyTo)
                @Html.ValidationMessageFor(model => model.ReplyTo)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.ReplyToName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ReplyToName)
                @Html.ValidationMessageFor(model => model.ReplyToName)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.CC)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.CC)
                @Html.ValidationMessageFor(model => model.CC)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Bcc)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Bcc)
                @Html.ValidationMessageFor(model => model.Bcc)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Subject)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Body)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.Body, "RichEditor")
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.AttachmentFilePath))
        {
            <div class="form-group">
                    @Html.ZajelLabelFor(model => model.AttachmentFilePath)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label">@Html.DisplayFor(model => model.AttachmentFilePath)</label>
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.AttachedDownloadId))
        {
            <div class="form-group">
                <div class="col-md-3">
                    @Html.ZajelLabelFor(model => model.AttachedDownloadId)
                </div>
                <div class="col-md-4">
                    @{
                        //Static file attachments do not support URLs yet
                        //A store owner have to upload a file
                        //we store a value into "ViewData" and then use it in the Download.cshtml file
                        ViewData["Zajel.DownloadEditor.DisableUrl"] = true;
                    }
                    <div>
                        @Html.ZajelEditorFor(model => model.AttachedDownloadId)
                        @Html.ValidationMessageFor(model => model.AttachedDownloadId)
                    </div>
                </div>
            </div>
                        }
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.CreatedOn)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.CreatedOn)</label>
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.SendImmediately)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SendImmediately)
                @Html.ValidationMessageFor(model => model.SendImmediately)
            </div>
        </div>
        <div class="form-group" id="pnl-send-date">
                @Html.ZajelLabelFor(model => model.DontSendBeforeDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DontSendBeforeDate)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.SentTries)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SentTries)
                @Html.ValidationMessageFor(model => model.SentTries)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.SentOn)
            <div class="col-md-9 col-sm-9">
                @if (Model.SentOn.HasValue)
            {
                    <label class="control-label">@Html.DisplayFor(model => model.SentOn)</label>
                }
                else
                {
                    <label class="control-label">@T("Admin.System.QueuedEmails.Fields.SentOn.NotSent")</label>
                }
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.EmailAccountName)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.EmailAccountName)</label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.SendImmediately)").click(sendImmediately);
            sendImmediately();
        });

        function sendImmediately() {
            if ($('#@Html.FieldIdFor(model => model.SendImmediately)').is(':checked'))
                $('#pnl-send-date').hide();
            else
                $('#pnl-send-date').show();
        }
</script>