﻿@model UserAddressEditModel
@using Zajel.Web.Models.User;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.Addresses })
}

<form asp-route="UserAddressEdit" method="post">
    <div class="page account-page address-edit-page">
            <h1 class="h2 generalTitle">@T("Account.UserAddresses.Edit")</h1>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            @{
                var dataDictAddress = new ViewDataDictionary(ViewData);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
            }
            <div class="buttons generalMarginSupporter">
                <input type="submit" class="btn btn-success save-address-button" value="@T("Common.Save")" />
            </div>
    </div>
</form>