﻿@model UserAvatarModel
@using Zajel.Web.Models.User;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.Avatar })
}
<form asp-route="UserAvatar" method="post" enctype="multipart/form-data">
    <div class="page account-page avatar-page">
        <h1 class="h2 generalTitle">@T("Account.Avatar")</h1>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <div class="fieldset">
            @if (!String.IsNullOrEmpty(Model.AvatarUrl))
            {
                <div class="image mb-3">
                    <img class="img-thumbnail" src="@(Model.AvatarUrl)" alt="avatar" />
                </div>
            }
            <label class="btn btn-primary" for="my-file-selector">
                <input id="my-file-selector" name="uploadedFile" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                @T("admin.download.uploadfile")
            </label>
            <span class='label label-info' id="upload-file-info"></span>
        </div>
        <div class="col-12 pt-1 pb-1">
            <div class="info card card-outline-info mb-2 mt-2 text-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <span>@T("Account.Avatar.UploadRules")</span>
                    </blockquote>
                </div>
            </div>
        </div>
        <input type="submit" name="upload-avatar" class="btn btn-secondary upload-avatar-button" value="@T("Common.Upload")" />
        @if (!String.IsNullOrEmpty(Model.AvatarUrl))
        {
            <input type="submit" name="remove-avatar" class="btn btn-secondary remove-avatar-button" value="@T("Account.Avatar.RemoveAvatar")" />
        }
    </div>
</form>
