﻿@model ChangePasswordModel
@using Zajel.Web.Models.User;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.ChangePassword })
}
<form asp-route="UserChangePassword" method="post">
    <section class="page account-page change-password-page">
        <h1 class="h2 generalTitle">@T("Account.ChangePassword")</h1>
        @if (!String.IsNullOrEmpty(Model.Result))
            {
            <section class="result">
                @Model.Result
            </section>
        }
        <div asp-validation-summary="ModelOnly" class="message-error"></div>

        <fieldset>
            <div class="form-fields">
                <fieldset class="form-group">
                    <label asp-for="OldPassword" class="col-form-label">@T("Account.ChangePassword.Fields.OldPassword"):</label>
                    <input asp-for="OldPassword" class="form-control"/>
                    <span asp-validation-for="OldPassword"></span>
                </fieldset>
                <fieldset class="form-group">
                    <label asp-for="NewPassword" class="col-form-label">@T("Account.ChangePassword.Fields.NewPassword"):</label>
                    <input asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword"></span>
                </fieldset>
                <fieldset class="form-group">
                    <label asp-for="ConfirmNewPassword" class="col-form-label">@T("Account.ChangePassword.Fields.ConfirmNewPassword"):</label>
                    <input asp-for="ConfirmNewPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </fieldset>
            </div>
        </fieldset>
        <div class="text-xs-center">
            <input type="submit" class="btn btn-success change-password-button" value="@T("Account.ChangePassword.Button")" />
        </div>
    </section>
</form>
