﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Zajel.Web.Models.User;
<div class="page password-recovery-page">
        <h1 class="generalTitle">@T("Account.PasswordRecovery")</h1>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="NewPassword" class="col-form-label">@T("Account.PasswordRecovery.NewPassword"):</label>
                            <input asp-for="NewPassword" class="form-control"/>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="ConfirmNewPassword"  class="col-form-label">@T("Account.PasswordRecovery.ConfirmNewPassword"):</label>
                            <input asp-for="ConfirmNewPassword" class="form-control"/>
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                <div class="col-12 text-xs-center btn-group-sm">
                    <input type="submit" name="set-password" class="btn btn-secondary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            </form>
        }
</div>
