﻿@model GiftCardModel
@using Zajel.Core.Domain.Catalog;


<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.GiftCardTypeId)").change(toggleGiftCardType);

        toggleGiftCardType();
    });

    function toggleGiftCardType() {
        var selectedGiftCardTypeId = $("#@Html.FieldIdFor(model => model.GiftCardTypeId)").val();
        if (selectedGiftCardTypeId == @(((int)GiftCardType.Virtual).ToString())) {
            $('#pnlRecipientEmail').show();
            $('#pnlSenderEmail').show();
            $('#pnlNotifyRecipient').show();
        }
        else {
            $('#pnlRecipientEmail').hide();
            $('#pnlSenderEmail').hide();
            $('#pnlNotifyRecipient').hide();
        }
    }
</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.GiftCardTypeId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.GiftCardTypeId, ((GiftCardType)Model.GiftCardTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.GiftCardTypeId)
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.PurchasedWithOrderId))
            {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.PurchasedWithOrderId)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label"><a href="@Url.Action("Edit", "Order", new { Id = Model.PurchasedWithOrderId })">@Model.PurchasedWithOrderNumber - @T("Admin.Common.View")</a></label>
                </div>
            </div>
        }
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Amount)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Amount) [@Model.PrimaryStoreCurrencyCode]
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Id))
            {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.RemainingAmountStr)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label">@Model.RemainingAmountStr</label>
                </div>
            </div>
        }
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsGiftCardActivated)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsGiftCardActivated)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsGiftCardActivated)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.GiftCardCouponCode)
            <div class="col-md-4 col-sm-6">
                <div class="input-group">
                    <div class="input-group-control">
                        @Html.ZajelEditorFor(model => model.GiftCardCouponCode)
                    </div>
                    <div class="input-group-btn">
                        <input type="button" id="generateCouponCode" class="btn default" value="@T("Admin.GiftCards.Fields.GiftCardCouponCode.Generate")" />
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.GiftCardCouponCode)
                <script type="text/javascript">
                        $(document).ready(function () {
                            $('#generateCouponCode').click(function () {

                                var postData = {
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache:false,
                                    type: "POST",
                                    url: "@(Url.Action("GenerateCouponCode", "GiftCard"))",
                                    data: postData,
                                    success: function (data) {
                                        $('#@Html.FieldIdFor(model => model.GiftCardCouponCode)').val(data.CouponCode);
                                    },
                                    error:function (xhr, ajaxOptions, thrownError){
                                        alert('Failed to generate code.');
                                    }
                                });
                            });
                        });
                </script>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.RecipientName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RecipientName)
                @Html.ValidationMessageFor(model => model.RecipientName)
            </div>
        </div>
        <div class="form-group" id="pnlRecipientEmail">
            @Html.ZajelLabelFor(model => model.RecipientEmail)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RecipientEmail)
                @Html.ValidationMessageFor(model => model.RecipientEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SenderName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SenderName)
                @Html.ValidationMessageFor(model => model.SenderName)
            </div>
        </div>
        <div class="form-group" id="pnlSenderEmail">
            @Html.ZajelLabelFor(model => model.SenderEmail)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SenderEmail)
                @Html.ValidationMessageFor(model => model.SenderEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Message)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Id))
            {
            <div class="form-group" id="pnlNotifyRecipient">
                @Html.ZajelLabelFor(model => model.IsRecipientNotified)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label">@Model.IsRecipientNotified.ToString()</label>
                    <input type="submit" name="notifyRecipient" class="k-button" value="@T("Admin.GiftCards.Fields.IsRecipientNotified.Notify")" />
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.Id))
            {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.CreatedOn)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label"> @Html.DisplayFor(model => model.CreatedOn)</label>
                </div>
            </div>
        }
    </div>
</div>