﻿@model UserRoleModel




<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SystemName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SystemName)
                @Html.ValidationMessageFor(model => model.SystemName)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.FreeShipping)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.FreeShipping)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.FreeShipping)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.TaxExempt)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.TaxExempt)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.TaxExempt)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Active)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.Active)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EnablePasswordLifetime)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.EnablePasswordLifetime)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.EnablePasswordLifetime)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsSystemRole)
            <div class="col-md-9 col-sm-9">
                <label class="control-label"> @Model.IsSystemRole.ToString()</label>
                @Html.HiddenFor(model => model.IsSystemRole)
                @Html.ValidationMessageFor(model => model.IsSystemRole)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PurchasedWithProductId)
            <div class="col-md-9 col-sm-9">
                @Html.HiddenFor(model => model.PurchasedWithProductId)
                <span id="purchased-with-product-name">@Model.PurchasedWithProductName</span>
                @Html.ValidationMessageFor(model => model.PurchasedWithProductId)
                <input type="submit" value=@T("Admin.Users.UserRoles.Fields.PurchasedWithProduct.Choose") onclick="javascript:OpenWindow('@(Url.Action("AssociateProductToUserRolePopup", "UserRole", new { productIdInput = Html.FieldIdFor(model => model.PurchasedWithProductId), productNameInput = "purchased-with-product-name", btnId = "btnRefreshPurchasedWithProduct" }))', 800, 800, true); return false;" class="btn default" />
                <input type="submit" id="purchased-with-product-name-remove" value=@T("Admin.Users.UserRoles.Fields.PurchasedWithProduct.Remove") class="btn default" />
                <input type="submit" id="btnRefreshPurchasedWithProduct" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#purchased-with-product-name-remove').click(function () {
                            $('#purchased-with-product-name').text('');
                            $("#@Html.FieldIdFor(model => model.PurchasedWithProductId)").val(0);
                            toggleRemoveButton();
                            //return false to don't reload a page
                            return false;
                        });

                        $('#btnRefreshPurchasedWithProduct').click(function () {
                            toggleRemoveButton();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</div>