﻿@model AffiliateModel





<div class="form-horizontal">
    <div class="form-body">
        @if (!String.IsNullOrEmpty(Model.Id))
            {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Id)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label">@Model.Id</label>
                </div>
            </div>
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.Url)
                    <div class="col-md-9 col-sm-9">
                        <label class="control-label">@Model.Url</label>
                    </div>
                </div>
        }
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Active)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.Active)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
    </div>
</div>
@Html.EditorFor(model => model.Address, "Address")
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AdminComment)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.AdminComment, new { style = "Height: 100px;" })
                @Html.ValidationMessageFor(model => model.AdminComment)
            </div>
        </div>
        <div class="form-body">
            @Html.ZajelLabelFor(model => model.FriendlyUrlName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.FriendlyUrlName)
                @Html.ValidationMessageFor(model => model.FriendlyUrlName)
            </div>
        </div>
    </div>
</div>