﻿@model SitemapModel
@using Zajel.Web.Models.Common;
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}
<div class="sitemap-page generalMarginSupporter">
    <h1 class="generalTitle">@T("Sitemap")</h1>
    <div class="description">
        @T("Sitemap.Description")
    </div>
</div>
<div class="d-flex justify-content-between row">
    @if (Model.Categories.Count > 0)
    {
        <div class="col-lg-4 col-md-6">
            <h2 class="generalTitle">@T("Sitemap.Categories")</h2>
            <div class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                }
            </div>
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "sitemap_before" })
    <div class="col-lg-4 col-md-6">
        <h2 class="generalTitle">@T("Sitemap.General")</h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("HomePage")">@T("HomePage")</a>
            <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("ProductSearch")">@T("Search")</a>
            @if (Model.NewsEnabled)
            {
                <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("NewsArchive")">@T("News")</a>
            }
            @if (Model.BlogEnabled)
            {
                <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("Blog")">@T("Blog")</a>
            }
            @if (Model.ForumEnabled)
            {
                <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a>
            }
            <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
            <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("UserInfo")">@T("Account.MyAccount")</a>
            @if (Model.Topics.Count > 0)
            {
                foreach (var item in Model.Topics)
                {
                    <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("Topic", new {Sename = Html.GetTopicSeName(item.SystemName)})">@item.Title</a>
                }
            }
        </div>
    </div>
    @if (Model.Manufacturers.Count > 0)
    {
        <div class="col-lg-4 col-md-6">
            <h2 class="generalTitle">@T("Sitemap.Manufacturers")</h2>
            <div class="list-group">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                }
            </div>
        </div>
    }
    @if (Model.Products.Count > 0)
    {
        <div class="col-lg-4 col-md-6">
            <h2 class="generalTitle">@T("Sitemap.Products")</h2>
            <div class="entity-body">
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        <li><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "sitemap_after"})

</div>

