﻿@model LanguageModel





<script type="text/javascript">
        function toggleFlags() {
            $('#pnlAllFlags').toggle();
            if ($('#pnlAllFlags').css('display') == 'none') {
                $('#displayAllFlags').html('@T("Admin.Common.Show")');
            }
            else {
                $('#displayAllFlags').html('@T("Admin.Common.Hide")');
            }
        }
</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.LanguageCulture)
            <div class="col-md-9 col-sm-9">
                @{
                    var cultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures)
                        .OrderBy(x => x.EnglishName)
                        .Select(x => new SelectListItem
                        {
                            Value = x.IetfLanguageTag,
                            Text = string.Format("{0}. {1}", x.EnglishName, x.IetfLanguageTag)
                        });
                }
                @Html.ZajelDropDownListFor(model => model.LanguageCulture, cultures)
                @Html.ValidationMessageFor(model => model.LanguageCulture)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.UniqueSeoCode)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.UniqueSeoCode)
                @Html.ValidationMessageFor(model => model.UniqueSeoCode)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.FlagImageFileName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.FlagImageFileName)
                @Html.ValidationMessageFor(model => model.FlagImageFileName)
                <br />
                <a id="displayAllFlags" href="javascript:toggleFlags();">@T("Admin.Common.Show")</a>
                <div id="pnlAllFlags" style="display: none">
                    @foreach (var fileName in Model.FlagFileNames)
                    {
                        <img alt="" src="@Url.Content("~/Content/Images/flags/" + fileName)" />
                            @fileName
                            <text>, </text>
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Rtl)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.Rtl)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Rtl)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DefaultCurrencyId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.DefaultCurrencyId, Model.AvailableCurrencies)
                @Html.ValidationMessageFor(model => model.DefaultCurrencyId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Published)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.Published)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>