﻿@model UserModel
@using Zajel.Core.Domain.Orders;
@using Zajel.Services.Users;
@using System.Text;




<div class="panel panel-default">
    <div class="panel-body">
        <div id="currentshoppingcart-grid"></div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#currentshoppingcart-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("GetCartList", "User", new { userId = Model.Id, cartTypeId = (int)ShoppingCartType.ShoppingCart }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "ProductName",
                    title: "@T("Admin.CurrentCarts.Product")",
                    width:500,
                    template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=ProductId#">#:ProductName#</a>' +
                        '# if(AttributeInfo && AttributeInfo.length > 0) {# <br />#=AttributeInfo# #} #'
                }, {
                    field: "Quantity",
                    title: "@T("Admin.CurrentCarts.Quantity")",
                    width:200
                },{
                    field: "UnitPrice",
                    title: "@T("Admin.CurrentCarts.UnitPrice")",
                    width:200
                },{
                    field: "Total",
                    title: "@T("Admin.CurrentCarts.Total")",
                    width:200
                },{
                    field: "Store",
                    title: "@T("Admin.CurrentCarts.Store")",
                    width:200
                },{
                    field: "UpdatedOn",
                    title: "@T("Admin.CurrentCarts.UpdatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }]
            });
        });
</script>