﻿@model UserModel
@using Zajel.Core.Domain.Orders;
@using Zajel.Services.Users;
@using System.Text;



<div class="panel panel-default">
    <div class="panel-body">
        <div id="user-rewardpoints-grid"></div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#user-rewardpoints-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("RewardPointsHistorySelect", "User", new { userId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "StoreName",
                    title: "@T("Admin.Users.Users.RewardPoints.Fields.Store")"
                },{
                    field: "Points",
                    title: "@T("Admin.Users.Users.RewardPoints.Fields.Points")"
                }, {
                    field: "PointsBalance",
                    title: "@T("Admin.Users.Users.RewardPoints.Fields.PointsBalance")"
                },{
                    field: "Message",
                    title: "@T("Admin.Users.Users.RewardPoints.Fields.Message")"
                },{
                    field: "CreatedOn",
                    title: "@T("Admin.Promotions.Campaigns.Fields.CreatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }]
            });
        });
</script>
<p>
    <strong> @T("Admin.Users.Users.RewardPoints.AddTitle")</strong>
</p>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddRewardPointsValue)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.AddRewardPointsValue)
                @Html.ValidationMessageFor(model => model.AddRewardPointsValue)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddRewardPointsMessage)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.AddRewardPointsMessage)
                @Html.ValidationMessageFor(model => model.AddRewardPointsMessage)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AddRewardPointsStoreId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.AddRewardPointsStoreId, Model.RewardPointsAvailableStores)
                @Html.ValidationMessageFor(model => model.AddRewardPointsStoreId)
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="col-md-offset-3">
            <input type="button" id="addRewardPoints" class="btn default" value="@T("Admin.Users.Users.RewardPoints.AddButton")" />
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#addRewardPoints').click(function () {
                var rewardPointsValue = $("#@Html.FieldIdFor(model => model.AddRewardPointsValue)").val();
                var rewardPointsMessage = $("#@Html.FieldIdFor(model => model.AddRewardPointsMessage)").val();
                var rewardPointsStoreId = $("#@Html.FieldIdFor(model => model.AddRewardPointsStoreId)").val();
                $('#addRewardPoints').attr('disabled', true);

                var postData = {
                    addRewardPointsValue: rewardPointsValue,
                    addRewardPointsMessage: rewardPointsMessage,
                    storeId: rewardPointsStoreId,
                    userId: '@Model.Id'
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("RewardPointsHistoryAdd", "User"))",
                    data: postData,
                    success: function (data) {
                        var grid = $("#user-rewardpoints-grid").data('kendoGrid');
                        grid.dataSource.read();
                        $('#addRewardPoints').attr('disabled', false);
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to add reward points.');
                        $('#addRewardPoints').attr('disabled', false);
                    }
                });
            });
        });
</script>