﻿@model UserModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Content/tagEditor/jquery.tag-editor.css", excludeFromBundle: true);
    Html.AppendScriptParts("~/Scripts/tagEditor/jquery.tag-editor.min.js", excludeFromBundle: true);
    Html.AppendScriptParts("~/Scripts/tagEditor/jquery.caret.min.js", excludeFromBundle: true);
}
<script>
    $(document).ready(function() {
        var tabPos = 'left';
        if (window.devicePixelRatio == 2)
            tabPos = 'top';

        $('#user-edit').show();
        $("#user-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            tabPosition: tabPos,
            select: tabstrip_on_tab_select
        });
    });



    //tags
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.UserTags)").tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },
                source: '/Admin/UserTag/Search',
                minLength: 3,
                //source: initialProductTags
            },
            delimiter: ',',
            placeholder: 'Enter tags ...'
        });
    });


</script>
<div id="user-edit" style="display:none">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Users.Users.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Users.Users.UserRoles")
        </li>
        @if (!String.IsNullOrEmpty(Model.Id))
        {
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Users.Users.Orders")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Users.Users.Addresses")
            </li>
            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                @T("Admin.Users.Users.CurrentShoppingCart")
            </li>
            <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                @T("Admin.Users.Users.CurrentWishlist")
            </li>
            <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex())>
                @T("Admin.Users.Users.ProductPrice")
            </li>
            <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex())>
                @T("Admin.Users.Users.ActivityLog")
            </li>
            <li @Html.RenderSelectedTabIndex(8, GetSelectedTabIndex())>
                @T("Admin.Users.Users.Impersonate")
            </li>
            <li @Html.RenderSelectedTabIndex(9, GetSelectedTabIndex())>
                @T("Admin.Users.Users.BackInStockSubscriptions")
            </li>
        }
        @if (Model.DisplayRewardPointsHistory)
        {
            <li>
                @T("Admin.Users.Users.RewardPoints")
            </li>
        }
    </ul>
    <div>
        @Html.Partial("_CreateOrUpdate.TabInfo", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabUserRoles", Model)
    </div>
    @if (!String.IsNullOrEmpty(Model.Id))
    {
        <div>
            @Html.Partial("_CreateOrUpdate.TabOrders", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabAddresses", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabCurrentShoppingCart", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabCurrentWishlist", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabProductPrice", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabActivityLog", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabImpersonate", Model)
        </div>
        <div>
            @Html.Partial("_CreateOrUpdate.TabBackInStockSubscriptions", Model)
        </div>
    }
    @if (Model.DisplayRewardPointsHistory)
    {
        <div>
            @Html.Partial("_CreateOrUpdate.TabRewardPoints", Model)
        </div>
    }
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "user-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">