﻿@model UserModel
@using Zajel.Core.Domain.Orders;
@using Zajel.Services.Users;
@using System.Text;




@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="order-grid"></div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("#order-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("OrderList", "User", new { userId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: @(defaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: [@(gridPageSizes)]
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "OrderNumber",
                    title: "@T("Admin.Users.Users.Orders.ID")",
                    width: 50
                }, {
                    field: "OrderTotal",
                    title: "@T("Admin.Users.Users.Orders.OrderTotal")",
                    width: 200
                }, {
                    field: "OrderStatus",
                    title: "@T("Admin.Users.Users.Orders.OrderStatus")",
                    width: 200
                }, {
                    field: "PaymentStatus",
                    title: "@T("Admin.Users.Users.Orders.PaymentStatus")",
                    width: 200
                }, {
                    field: "ShippingStatus",
                    title: "@T("Admin.Users.Users.Orders.ShippingStatus")",
                    width: 200
                }, {
                    field: "StoreName",
                    title: "@T("Admin.Users.Users.Orders.Store")",
                    width: 200
                }, {
                    field: "CreatedOn",
                    title: "@T("Admin.System.Log.Fields.CreatedOn")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.View")",
                    width: 100,
                    template: '<a href="@Url.Content("~/Admin/Order/Edit/")#=Id#">@T("Admin.Common.View")</a>'
                }]
            });
        });
    </script>
}