﻿@model UserModel
@using Zajel.Core.Domain.Orders;
@using Zajel.Services.Users;
@using System.Text;




@{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="note note-info">
                <p>@T("Admin.Users.Users.Impersonate.Description1")</p>
                <p>@T("Admin.Users.Users.Impersonate.Description2")</p>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" name="impersonate" class="btn red" value="@T("Admin.Users.Users.Impersonate.Button")" />
        </div>
    </div>
}