﻿@model UserModel
@using Zajel.Core.Domain.Orders;
@using Zajel.Services.Users;
@using System.Text;


@if (Model.AvailableUserRoles != null && Model.AvailableUserRoles.Count > 0)
{

    <div class="mt-checkbox-list">
        @foreach (var userRole in Model.AvailableUserRoles)
        {
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="SelectedUserRoleIds" value="@userRole.Id" checked="@(Model.SelectedUserRoleIds!=null && Model.SelectedUserRoleIds.Contains(userRole.Id))" />@userRole.Name
                <span></span>
            </label>
        }
    </div>
}
else
{
    @T("Admin.Users.Users.Fields.UserRoles.NoRoles")
}