﻿@model BestUsersReportModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.StartDate)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.StartDate)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.EndDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDate)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.OrderStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.OrderStatusId, Model.AvailableOrderStatuses)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.PaymentStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.PaymentStatusId, Model.AvailablePaymentStatuses)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.ShippingStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ShippingStatusId, Model.AvailableShippingStatuses)
            </div>
        </div>
                
    </div>
    <div class="form-actions">
            <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                <button class="btn btn-success filter-submit" id="search-best-users-ordertotal">
                    <i class="fa fa-search"></i> @T("Admin.Users.Reports.RunReport")
                </button>
            </div>
    </div>
</div>
            <div id="best-users-ordertotal-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#best-users-ordertotal-grid").kendoGrid({
                        dataSource: {
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ReportBestUsersByOrderTotalList", "User"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: bestUsersOrderTotalAdditionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "UserName",
                            title: "@T("Admin.Users.Reports.BestBy.Fields.User")"
                        }, {
                            field: "OrderTotal",
                            title: "@T("Admin.Users.Reports.BestBy.Fields.OrderTotal")"
                        }, {
                            field: "OrderCount",
                            title: "@T("Admin.Users.Reports.BestBy.Fields.OrderCount")"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.View")",
                            width: 100,
                            template: '<a href="@Url.Content("~/Admin/User/Edit/")#=UserId#">@T("Admin.Common.View")</a>'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {

                    $('#search-best-users-ordertotal').click(function () {
                        var grid = $('#best-users-ordertotal-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });

                });

                function bestUsersOrderTotalAdditionalData(e) {
                    var data = {
                        StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                        EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                        OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
                        PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
                        ShippingStatusId: $('#@Html.FieldIdFor(model => model.ShippingStatusId)').val()
                    };
                    addAntiForgeryToken(data);
                    return data;
                }

            </script>
