﻿@model UserAddressModel
@{
    //page title
    ViewBag.Title = T("Admin.Users.Users.Addresses.AddNew").Text;
}
@using (Html.BeginForm())
{   @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user-plus"></i>
                        @T("Admin.Users.Users.Addresses.AddNew") 
                        <small>@Html.ActionLink("(" + T("Admin.Users.Users.Addresses.BackToUser") + ")", "Edit", new { id = Model.UserId })</small>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateAddress", Model)
                </div>
            </div>
        </div>
    </div>

}