﻿@model UserReportsModel
@{
    //page title
    ViewBag.Title = T("Admin.Users.Reports").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>
                    @T("Admin.Users.Reports")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="user-reports">
                                <ul>
                                    <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                                        @T("Admin.Users.Reports.BestBy.BestByOrderTotal")
                                    </li>
                                    <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                                        @T("Admin.Users.Reports.BestBy.BestByNumberOfOrders")
                                    </li>
                                    <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                                        @T("Admin.Users.Reports.RegisteredUsers")
                                    </li>
                                </ul>
                                <div>
                                    @Html.Partial("Reports.TabBestByOrderTotal", Model)
                                </div>
                                <div>
                                    @Html.Partial("Reports.TabBestByNumberOfOrders", Model)
                                </div>
                                <div>
                                    @Html.Partial("Reports.TabRegisteredUsers", Model)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#user-reports").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "user-reports");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}