﻿
<div id="registered-users-grid"></div>
<script>
        $(document).ready(function () {
            $("#registered-users-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ReportRegisteredUsersList", "User"))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "Period",
                    title: "@T("Admin.Users.Reports.RegisteredUsers.Fields.Period")"
                }, {
                    field: "Users",
                    title: "@T("Admin.Users.Reports.RegisteredUsers.Fields.Users")",
                    width: 50
                }]
            });
        });
</script>
