﻿@using Microsoft.AspNetCore.Http
@using Microsoft.Net.Http.Headers
@using System.Text.Encodings.Web;
@inject IHttpContextAccessor httpContextAccessor
@{
    Html.AddScriptParts("~/Scripts/public.actions.js");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    //success messages
    var successMessages = new List<string>();
    if (TempData[string.Format("Zajel.notifications.{0}", NotifyType.Success)] != null)
    {
        successMessages.AddRange(TempData[string.Format("Zajel.notifications.{0}", NotifyType.Success)] as IList<string>);
    }
    if (ViewData[string.Format("Zajel.notifications.{0}", NotifyType.Success)] != null)
    {
        successMessages.AddRange(ViewData[string.Format("Zajel.notifications.{0}", NotifyType.Success)] as IList<string>);
    }

    //error messages
    var errorMessages = new List<string>();
    if (TempData[string.Format("Zajel.notifications.{0}", NotifyType.Error)] != null)
    {
        errorMessages.AddRange(TempData[string.Format("Zajel.notifications.{0}", NotifyType.Error)] as IList<string>);
    }
    if (ViewData[string.Format("Zajel.notifications.{0}", NotifyType.Error)] != null)
    {
        errorMessages.AddRange(ViewData[string.Format("Zajel.notifications.{0}", NotifyType.Error)] as IList<string>);
    }
}
@foreach (var message in successMessages)
{
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(message))', 'success', false);
        });
    </script>
}
@foreach (var message in errorMessages)
{
    <script type="text/javascript">
        $(document).ready(function () {
            displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(message))', 'error', false);
        });
    </script>
}
<div class="ajax-loading-block-window" style="display: none">
</div>

<div id="bar-notification" class="generalNote card card-inverse text-xs-center" style="display:none;">
    <span class="close" title="@T("Common.Close")"><span class="fa fa-times" aria-hidden="true"></span></span>
</div>

<a class="popup-action-banner" data-mfp-src="#action_modal_banner" style="display:none"></a>
<div id="action_modal_banner" class="zoom-anim-dialog mfp-hide">
    <div id="action-body-banner"></div>
</div>
<a class="popup-action-form" data-mfp-src="#action_modal_form" style="display:none"></a>
<div id="action_modal_form" class="zoom-anim-dialog mfp-hide">
    <form asp-route="PopupInteractiveForm" method="post" id = "interactive-form">
        <div class="message-error">
            <div class="validation-summary-errors">
                <div id="errorMessages"></div>
            </div>
        </div>
        <div id="action-body-form"></div>
        <div style="padding: 20px 0px 0px 0px;">
            <input type="submit" id="send-interactive-form" class="btn btn-success interactive-form-button" value="@T("PopupInteractiveForm.Send")" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        UserAction.init('@Url.Action("UserActionEventUrl", "Common")', '@Url.Action("GetActivePopup", "Common")', '@Url.Action("RemovePopup", "Common")');
        UserAction.checkActiveUrl('@httpContextAccessor.HttpContext.Request.Path.ToString()', '@httpContextAccessor.HttpContext.Request.Headers[HeaderNames.Referer]');
    });
</script>

@await Component.InvokeAsync("Widget", new { widgetZone = "notifications" })
