﻿@using Zajel.Core.Infrastructure
@using Zajel.Framework.Themes
@{
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.ZajelTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link href="@Url.Content(string.Format("~/Themes/{0}/Content/css/print.css", themeName))" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
