﻿@{
    //resources
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");
}
<!DOCTYPE html>
<html @await Html.PartialAsync("LanguageAttributes")>
<head>
    <title>@Html.ZajelTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    @Html.ZajelHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Html.PartialAsync("Head")
    @Html.ZajelCssFiles(this.Url, ResourceLocation.Head)
    @Html.ZajelScripts(this.Url, ResourceLocation.Head)
    @Html.ZajelCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @await Component.InvokeAsync("Favicon")
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag" })
</head>
<body class="popup-window text-center px-3">
    @await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
    @Html.ZajelCssFiles(this.Url, ResourceLocation.Foot)
    @Html.ZajelScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
