﻿@model UserReminderModel.ConditionModel


    @if (String.IsNullOrEmpty(Model.Id))
    {
        <div class="note note-info">
            @T("Admin.Users.UserReminder.Condition.SaveBeforeEdit")
        </div>
    }
    @if (!String.IsNullOrEmpty(Model.Id))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="categories-grid"></div>
            </div>
            <div class="panel-footer">
                <input type="submit" id="btnAddNewCategory" value="@T("Admin.Users.UserReminder.Condition.Category.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("CategoryAddPopup", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id, btnId = "btnRefreshCategories"}))', 800, 800, true); return false;" class="btn default" />
                <input type="submit" id="btnRefreshCategories" style="display: none" />
            </div>
        </div>

                <script>
                        $(document).ready(function () {
                            $("#categories-grid").kendoGrid({
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ConditionCategory", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("ConditionDeletePosition", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken,
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "CategoryId",
                                            fields: {
                                                CategoryName: {editable: false, type: "string" },
                                                CategoryId: { editable: false, type: "string" }
                                            }
                                        }
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "CategoryName",
                                    title: "@T("Admin.Users.UserReminder.Condition.Fields.CategoryName")"
                                },  {
                                    field: "CategoryId",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    template: '<a href="@Url.Content("~/Admin/Category/Edit/")#=Id#">@T("Admin.Common.View")</a>'
                                }, {
                                    command: [{
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }],
                                    width: 150
                                }]
                            });
                        });
                </script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshCategories').click(function () {
                                var grid = $("#categories-grid").data('kendoGrid');
                                grid.dataSource.read();
                                return false;
                            });
                        });
                    </script>

    }