﻿@model UserReminderModel.ConditionModel


    @if (String.IsNullOrEmpty(Model.Id))
    {
        <div class="note note-info">
            @T("Admin.Users.UserReminder.Condition.SaveBeforeEdit")
        </div>
    }

    @if (!String.IsNullOrEmpty(Model.Id))
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="userattribute-grid"></div>
            </div>
        </div>

        <script>
        $(document).ready(function () {
        $("#userattribute-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ConditionCustomUserAttribute", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    create: {
                        url: "@Html.Raw(Url.Action("ConditionCustomUserAttributeInsert", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("ConditionCustomUserAttributeUpdate", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("ConditionDeletePosition", "UserReminder", new { userReminderId = Model.UserReminderId, conditionId = Model.Id }))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            UserAttributeId: { editable: true, type: "string" },
                            UserAttributeName: { editable: true, type: "string" },
                            UserAttributeValue: { editable: true, type: "string" },
                            Id: { editable: false, type: "string" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "create" || e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }],
            editable: {
                confirmation: false,
                mode: "inline",
            },
            scrollable: false,
            columns: [{
                    field: "UserAttributeName",
                    title: "@T("Admin.Users.UserReminder.Condition.Fields.CustomUserAttributeName")",
                    width: 200,
                    editor: crDropDownEditorCA,
                    template: "#:UserAttributeId#"
                }, {
                    field: "UserAttributeValue",
                    title: "@T("Admin.Users.UserReminder.Condition.Fields.CustomUserAttributeValue")",
                    width: 200,
                },
                {
                command: [
                    {
                        name: "edit",
                        text: {
                            edit: "@T("Admin.Common.Edit")",
                            update: "@T("Admin.Common.Update")",
                            cancel: "@T("Admin.Common.Cancel")"
                        }
                },{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
            }]
        });
    });


        function crDropDownEditorCA(container, options) {
        $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:UserAttributeName"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataSource:
                {
                    transport: {
                        read: "@Html.Raw(Url.Action("CustomUserAttributeFields", "UserReminder"))"
                    }
                },
                optionLabel: " -- Select -- "
            });
        }
        </script>
    }
