﻿@model UserReminderModel.ConditionModel



<script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.FieldIdFor(model => model.ConditionTypeId)").change(toggleConditionType);
                toggleConditionType();
            });

        function toggleConditionType() {
            var selectedConditionTypeId = $("#@Html.FieldIdFor(model => model.ConditionTypeId)").val();
            if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.Product).ToString()))
            {
                $('#tab-product').show();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();
            }
            else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.Manufacturer).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').show();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();

            } else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.Category).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').show();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();

            }
            else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.UserRole).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').show();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();
            }
            else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.UserTag).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').show();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();
            }
            else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.UserRegisterField).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').show();
                $('#tab-customAttribute').hide();
            }
            else if (selectedConditionTypeId == @(((int)Zajel.Core.Domain.Users.UserReminderConditionTypeEnum.CustomUserAttribute).ToString()))
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').show();
            }
            else
            {
                $('#tab-product').hide();
                $('#tab-manufacturer').hide();
                $('#tab-category').hide();
                $('#tab-userRole').hide();
                $('#tab-userTag').hide();
                $('#tab-userRegister').hide();
                $('#tab-customAttribute').hide();
             }
        }

</script>


<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ConditionTypeId)
            <div class="col-md-9 col-sm-9">
                @if (!String.IsNullOrEmpty(Model.Id))
                {
                    @Html.ZajelDropDownListFor(model => model.ConditionTypeId, Model.ConditionType, new { @disabled = "disabled" })
                }
                else
                {
                    @Html.ZajelDropDownListFor(model => model.ConditionTypeId, Model.ConditionType)
                }
                @Html.ValidationMessageFor(model => model.ConditionTypeId)
                @Html.HiddenFor(x => x.ConditionTypeId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ConditionId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ConditionId, ((Zajel.Core.Domain.Users.UserReminderConditionEnum)Model.ConditionId).ToSelectList())
                @Html.ValidationMessageFor(model => model.ConditionId)
            </div>
        </div>
    </div>
</div>