﻿@model UserReminderModel.ConditionModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.UserReminderId)

<script type="text/javascript">
    $(document).ready(function () {
        $("#userremindercondition-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

<div id="userremindercondition-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Users.UserReminder.Condition.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex()) id="tab-product">
            @T("Admin.Users.UserActionCondition.Products")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex()) id="tab-category">
            @T("Admin.Users.UserReminder.Condition.Categories")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex()) id="tab-manufacturer">
            @T("Admin.Users.UserReminder.Condition.Manufacturers")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex()) id="tab-userRole">
            @T("Admin.Users.UserReminder.Condition.UserRole")
        </li>
        <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex()) id="tab-userTag">
            @T("Admin.Users.UserReminder.Condition.UserTag")
        </li>
        <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex()) id="tab-userRegister">
            @T("Admin.Users.UserReminder.Condition.UserRegister")
        </li>
        <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex()) id="tab-customAttribute">
            @T("Admin.Users.UserReminder.Condition.CustomUserAttribute")
        </li>
    </ul>
    <div>
        @Html.Partial("_ConditionInfo", Model)
    </div>
    <div>
        @Html.Partial("_ConditionProduct", Model)
    </div>
    <div>
        @Html.Partial("_ConditionCategory", Model)
    </div>
    <div>
        @Html.Partial("_ConditionManufacturer", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserRole", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserTag", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserRegister", Model)
    </div>
    <div>
        @Html.Partial("_ConditionCustomUserAttribute", Model)
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "userremindercondition-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">