﻿@model UserReminderModel




<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Active)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.Active)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDateTimeUtc)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.StartDateTimeUtc)
                @Html.ValidationMessageFor(model => model.StartDateTimeUtc)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EndDateTimeUtc)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDateTimeUtc)
                @Html.ValidationMessageFor(model => model.EndDateTimeUtc)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.LastUpdateDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.LastUpdateDate)
                @Html.ValidationMessageFor(model => model.LastUpdateDate)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowRenew)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.AllowRenew)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AllowRenew)
            </div>
        </div>
        <div class="form-group" id="pnlAllowRenew">
            @Html.ZajelLabelFor(model => model.RenewedDay)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RenewedDay)
                @Html.ValidationMessageFor(model => model.RenewedDay)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ReminderRuleId)
            <div class="col-md-9 col-sm-9">
                @if (Model.ConditionCount > 0)
                {
                    @Html.ZajelDropDownListFor(model => model.ReminderRuleId, ((Zajel.Core.Domain.Users.UserReminderRuleEnum)Model.ReminderRuleId).ToSelectList(), new { @disabled = "disabled" })
                }
                else
                {
                    @Html.ZajelDropDownListFor(model => model.ReminderRuleId, ((Zajel.Core.Domain.Users.UserReminderRuleEnum)Model.ReminderRuleId).ToSelectList())
                }
                @Html.ValidationMessageFor(model => model.ReminderRuleId)
                <div class="note note-info margin-top-10">
                    @T("admin.users.userreminder.text1")
                </div>
                <div class="note note-warning">
                    @T("admin.users.userreminder.text2")
                </div>
                <div class="note note-info">
                    @T("admin.users.userreminder.text3")
                </div>
                <div class="note note-warning">
                    @T("admin.users.userreminder.text4")
                </div>
                <div class="note note-info">
                    @T("admin.users.userreminder.text5")
                </div>
                <div class="note note-warning">
                    @T("admin.users.userreminder.text6")
                </div>
                <div class="note note-info">
                    @T("admin.users.userreminder.text7")
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ConditionId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ConditionId, ((Zajel.Core.Domain.Users.UserReminderConditionEnum)Model.ConditionId).ToSelectList())
                @Html.ValidationMessageFor(model => model.ConditionId)
                <div class="note note-info margin-top-10">
                    @T("admin.users.actiontype.helpText.OneOfThem")
                </div>
                <div class="note note-warning">
                    @T("admin.users.actiontype.helpText.AllOfThem")
                </div>
            </div>
        </div>
    </div>
</div>