﻿@model UserReminderModel



@{

    if (String.IsNullOrEmpty(Model.Id))
    {
        <div class="note note-info">
            @T("Admin.Users.UserReminder.SaveBeforeEdit")
        </div>
    }
    if (!String.IsNullOrEmpty(Model.Id))
    {
        var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
        var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

        <div class="panel panel-default">
            <div class="panel-body">
                <div id="levels-grid"></div>
            </div>
            <div class="panel-footer">
                <input type="submit" id="btnAddNewLevel" name="btnAddNewLevel" value="@T("Admin.Users.UserReminder.Levels.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddLevel", "UserReminder", new { userReminderId = Model.Id }))'); return false;" class="btn default" />
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#levels-grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("Levels", "UserReminder", new { userReminderId = Model.Id }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("DeleteLevel", "UserReminder", new { userReminderId = Model.Id }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [
                    {
                        field: "Name",
                        title: "@T("Admin.Users.UserReminder.Fields.Name")",
                        width: 300,
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "Level",
                        title: "@T("Admin.Users.UserReminder.Fields.Level")",
                        width: 100,
                    },
                    {
                        field: "Id",
                        title: "@T("Admin.Common.Edit")",
                        width: 100,
                        template: '<a href="@Url.Content("~/Admin/UserReminder/EditLevel")?userReminderId=@(Model.Id)&cid=#=Id#">@T("Admin.Common.Edit")</a>'
                    },
                    {
                        command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                        title: "@T("Admin.Common.Delete")",
                        width: 100
                    }]
                });
            });
        </script>
    }
}