﻿@model UserReminderModel.ReminderLevelModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.UserReminderId)

@{ 
    var validationSummary = Html.ValidationSummary(false);
    if (!string.IsNullOrEmpty(validationSummary.ToString()))
    {
        <div class="message-error">@validationSummary</div>
    }
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Level)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Level)
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
            </div>
            <div class="col-md-9 col-sm-9 form-inline">
                <div class="form-group">
                    <label class="control-label">@T("Admin.Users.UserReminder.Level.Fields.SendDay")</label>
                    <br>
                    @Html.EditorFor(model => model.Day)
                    @Html.ValidationMessageFor(model => model.Day)
                </div>
                <div class="form-group">
                    <label class="control-label">@T("Admin.Users.UserReminder.Level.Fields.SendHour")</label>
                    <br>
                    @Html.EditorFor(model => model.Hour)
                    @Html.ValidationMessageFor(model => model.Hour)
                </div>
                <div class="form-group">
                    <label class="control-label">@T("Admin.Users.UserReminder.Level.Fields.SendMinutes")</label>
                    <br>
                    @Html.EditorFor(model => model.Minutes)
                    @Html.ValidationMessageFor(model => model.Minutes)
                </div>
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.EmailAccounts)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.EmailAccountId, Model.EmailAccounts)
                @Html.ValidationMessageFor(model => model.EmailAccountId)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.BccEmailAddresses)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.BccEmailAddresses)
                @Html.ValidationMessageFor(model => model.BccEmailAddresses)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Subject)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.AllowedTokens)
            <div class="col-md-9 col-sm-9">
                <label class="control-label" style="text-align:left">@Html.DisplayFor(model => model.AllowedTokens)</label> 
            </div>
        </div>
        <div class="form-group">
                @Html.ZajelLabelFor(model => model.Body)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.Body, "RichEditor")
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>
    </div>
</div>


