﻿@model UserReminderModel
@{
    //page title
    ViewBag.Title = T("Admin.Users.UserReminder.Edit").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell"></i>
                        @T("Admin.Users.UserReminder.Edit") - @Model.Name 
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Users.UserReminder.BackToList").Text, "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <span id="userreminder-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdate", Model)
                </div>
            </div>
        </div>
    </div>


}
@Html.DeleteConfirmation("userreminder-delete")


@*run report*@
@using (Html.BeginForm("Run", "UserReminder", FormMethod.Post, new { id = "run-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

}
<script type="text/javascript">

    $(document).ready(function () {
        $('#run').click(function (e) {
            e.preventDefault();            
            $('#run-form').submit();
            return false;
        });
    });

</script>
