﻿@model UserReminderModel.ReminderLevelModel
@{
    //page title
    ViewBag.Title = T("Admin.Users.UserReminder.EditLevel").Text;
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>
                        @T("Admin.Users.UserReminder.EditLevel") - @Model.Name
                        <small>@Html.ActionLink("(" + T("Admin.Users.UserReminder.BackToAction") + ")", "Edit", new { Id = Model.UserReminderId })</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @Html.Partial("_CreateOrUpdateLevel", Model)
                </div>
            </div>
        </div>
    </div>


}