﻿@model LastPostModel
@if (!String.IsNullOrEmpty(Model.Id))
{
    <div class="date">
        @Model.PostCreatedOnStr
    </div>
    if (Model.ShowTopic)
    {
        <div class="origin">
            <span>@T("Forum.In"):</span>
            @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })
        </div>
    }
    <div class="author">
        <span>@T("Forum.By"):</span>
        @if (Model.AllowViewingProfiles)
        {
            @Html.RouteLink(Model.UserName, "UserProfile", new { Id = Model.UserId })
        }
        else
        {
            <span>@Model.UserName</span>
        }
    </div>
}
else
{
    <div class="no-post">
        @T("Forum.NoPosts")
    </div>
}
