﻿
<div class="panel panel-default">
    <div class="note note-info">
        <p>
            <h4>@T("Admin.Users.UserAttributes")</h4>
        </p>
        <p>
            <em>@T("Admin.Users.UserAttributes.Description")</em>
        </p>
    </div>
    <div class="panel-body">
        <div id="userattributes-grid"></div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Create", "UserAttribute")" class="btn default">@T("Admin.Common.AddNew")</a>
    </div>
</div>


            
<script>
    $(document).ready(function () {
        $("#userattributes-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "UserAttribute"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Admin.Users.UserAttributes.Fields.Name")",
                width: 300
            }, {
                field: "AttributeControlTypeName",
                title: "@T("Admin.Users.UserAttributes.Fields.AttributeControlType")",
                width: 200
            },{
                field: "IsRequired",
                title: "@T("Admin.Users.UserAttributes.Fields.IsRequired")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(IsRequired) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }, {
                field: "DisplayOrder",
                title: "@T("Admin.Users.UserAttributes.Fields.DisplayOrder")",
                width: 100
            }, {
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="@Url.Content("~/Admin/UserAttribute/Edit/")#=Id#">@T("Admin.Common.Edit")</a>'
            }]
        });
    });
</script>