﻿@model SystemInfoModel
@{
    //page title
    ViewBag.Title = T("Admin.System.SystemInfo").Text;
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tasks"></i>
                    @T("Admin.System.SystemInfo")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.ZajelVersion)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Html.DisplayFor(model => model.ZajelVersion)</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.OperatingSystem)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Html.DisplayFor(model => model.OperatingSystem)</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.AspNetInfo)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Html.DisplayFor(model => model.AspNetInfo)</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.ServerTimeZone)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Html.DisplayFor(model => model.ServerTimeZone)</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.ServerLocalTime)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Model.ServerLocalTime.ToString("F")</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.UtcTime)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">@Model.UtcTime.ToString("F")</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.ServerVariables)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label">
                                                <a id="serverVariablesShowHide" href="javascript:toggleLoadedServerVariables();">@T("Admin.Common.Show")</a>
                                            </label>
                                                <div id="pnlServerVariables" style="display:none" >
                                                    @foreach (var serverVariable in Model.ServerVariables)
                                                    {
                                                        @serverVariable.Name<text>:</text> @serverVariable.Value
                                                        <br />
                                                    }
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @Html.ZajelLabelFor(model => model.LoadedAssemblies)
                                        <div class="col-md-9 col-sm-9">
                                            <label class="control-label"><a id="loadedAssembliesShowHide" href="javascript:toggleLoadedAssemblies();">@T("Admin.Common.Show")</a></label>
                                            <div id="pnlLoadedAssemblies" style="display:none">
                                                @foreach (var assembly in Model.LoadedAssemblies)
                                                {
                                                    @assembly.FullName
                                                    if (!String.IsNullOrEmpty(assembly.Location))
                                                    {
                                                        <br />
                                                        <em>@assembly.Location</em>
                                                    }
                                                    <br />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function toggleLoadedAssemblies() {
        $('#pnlLoadedAssemblies').toggle();
        if ($('#pnlLoadedAssemblies').css('display') == 'none') {
            $('#loadedAssembliesShowHide').html('@T("Admin.Common.Show")');
        }
        else {
            $('#loadedAssembliesShowHide').html('@T("Admin.Common.Hide")');
        }
    }

    function toggleLoadedServerVariables() {
        $('#pnlServerVariables').toggle();
        if ($('#pnlServerVariables').css('display') == 'none') {
            $('#serverVariablesShowHide').html('@T("Admin.Common.Show")');
        }
        else {
            $('#serverVariablesShowHide').html('@T("Admin.Common.Hide")');
        }
    }
</script>
