﻿@model UserActionConditionModel



@if (String.IsNullOrEmpty(Model.Id))
{
    <div class="note note-info">
        @T("Admin.Users.UserActionCondition.SaveBeforeEdit")
    </div>
}

@if (!String.IsNullOrEmpty(Model.Id))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="userregister-grid"></div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
    $("#userregister-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ConditionUserRegister", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                create: {
                    url: "@Html.Raw(Url.Action("ConditionUserRegisterInsert", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                update: {
                    url: "@Html.Raw(Url.Action("ConditionUserRegisterUpdate", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                destroy: {
                    url: "@Html.Raw(Url.Action("ConditionDeletePosition", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        UserRegisterName: { editable: true, type: "string" },
                        UserRegisterValue: { editable: true, type: "string" },
                        Id: { editable: false, type: "string" }
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }],
        editable: {
            confirmation: false,
            mode: "inline",
        },
        scrollable: false,
        columns: [{
                field: "UserRegisterName",
                title: "@T("Admin.Users.UserActionCondition.Fields.UserRegisterName")",
                width: 200,
                editor: crDropDownEditor,
                template: "#:UserRegisterName#"
            }, {
                field: "UserRegisterValue",
                title: "@T("Admin.Users.UserActionCondition.Fields.UserRegisterValue")",
                width: 200,
            },
            {
            command: [
                {
                    name: "edit",
                    text: {
                        edit: "@T("Admin.Common.Edit")",
                        update: "@T("Admin.Common.Update")",
                        cancel: "@T("Admin.Common.Cancel")"
                    }
            },{
                name: "destroy",
                text: "@T("Admin.Common.Delete")"
            }],
            width: 200
        }]
    });
});


function crDropDownEditor(container, options) {
    $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:UserRegisterName"/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            dataSource:
            {
                transport: {
                    read: "@Html.Raw(Url.Action("UserRegisterFields", "UserAction"))"
                }
            },
            optionLabel: " -- Select -- "
        });
    }
    </script>

    }
