﻿@model UserActionConditionModel


@if (String.IsNullOrEmpty(Model.Id))
{
    <div class="note note-info">
        @T("Admin.Users.UserActionCondition.SaveBeforeEdit")
    </div>
}

@if (!String.IsNullOrEmpty(Model.Id))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="usertag-grid"></div>
        </div>
    </div>


                

    <script>
    $(document).ready(function () {
    $("#usertag-grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ConditionUserTag", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                create: {
                    url: "@Html.Raw(Url.Action("ConditionUserTagInsert", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                },
                destroy: {
                    url: "@Html.Raw(Url.Action("ConditionDeletePosition", "UserAction", new { userActionId = Model.UserActionId, conditionId = Model.Id }))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        UserTag: { editable: true, type: "string" },
                        UserTagId: { editable: true, type: "string" },
                        Id: { editable: false, type: "string" }
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        toolbar: [{ name: "create", text: "@T("Admin.Common.AddNewRecord")" }, { name: "save", text: "@T("Admin.Common.Save")" }, { name: "cancel", text: "@T("Admin.Common.Cancel")" }],
        editable: {
            confirmation: false,
            mode: "inline",
        },
        scrollable: false,
        columns: [{
                field: "UserTag",
                title: "@T("Admin.Users.UserActionCondition.Fields.UserTagName")",
                width: 200,
                editor: userTagDropDownEditor,
                template: "#:UserTag#"
            },
            {
            command: [
            {
                name: "destroy",
                text: "@T("Admin.Common.Delete")"
            }],
            width: 200
        }]
    });
});


function userTagDropDownEditor(container, options) {
    $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:UserTagId"/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            dataSource:
            {
                transport: {
                    read: "@Html.Raw(Url.Action("UserTags", "UserAction"))"
                }
            },
            optionLabel: " -- Select -- "
        });
    }
    </script>

    }
