﻿@model UserActionModel






<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ReactionTypeId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ReactionTypeId, ((Zajel.Core.Domain.Users.UserReactionTypeEnum)Model.ReactionTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.ReactionTypeId)
                <div class="note note-info margin-top-10">
                    <p>@T("admin.users.actiontype.helpText.Banner")</p>
                    <p>@T("admin.users.actiontype.helpText.InteractiveForm")</p>
                    <p>@T("admin.users.actiontype.helpText.Email")</p>
                    <p>@T("admin.users.actiontype.helpText.Userrole")</p>
                    <p>@T("admin.users.actiontype.helpText.Usertag")</p>
                </div>
            </div>
        </div>
        <div class="form-group" id="plnBanner">
            @Html.ZajelLabelFor(model => model.BannerId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.BannerId, Model.Banners)
                @Html.ValidationMessageFor(model => model.BannerId)
            </div>
        </div>
        <div class="form-group" id="plnInteractiveForm">
            @Html.ZajelLabelFor(model => model.InteractiveFormId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.InteractiveFormId, Model.InteractiveForms)
                @Html.ValidationMessageFor(model => model.InteractiveFormId)
            </div>
        </div>
        <div class="form-group" id="plnMessage">
            @Html.ZajelLabelFor(model => model.MessageTemplateId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.MessageTemplateId, Model.MessageTemplates)
                @Html.ValidationMessageFor(model => model.MessageTemplateId)
            </div>
        </div>
        <div class="form-group" id="plnRole">
            @Html.ZajelLabelFor(model => model.UserRoleId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.UserRoleId, Model.UserRoles)
                @Html.ValidationMessageFor(model => model.UserRoleId)
            </div>
        </div>
        <div class="form-group" id="plnTag">
            @Html.ZajelLabelFor(model => model.UserTagId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.UserTagId, Model.UserTags)
                @Html.ValidationMessageFor(model => model.UserTagId)
            </div>
        </div>
    </div>
</div>