﻿@model UserActionModel


<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Active)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.Active)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDateTimeUtc)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.StartDateTimeUtc)
                @Html.ValidationMessageFor(model => model.StartDateTimeUtc)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EndDateTimeUtc)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDateTimeUtc)
                @Html.ValidationMessageFor(model => model.EndDateTimeUtc)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ActionTypeId)
            <div class="col-md-9 col-sm-9">
                @if (Model.ConditionCount > 0)
                {
                    @Html.ZajelDropDownListFor(model => model.ActionTypeId, Model.ActionType, new { @disabled = "disabled" })
                }
                else
                {
                    @Html.ZajelDropDownListFor(model => model.ActionTypeId, Model.ActionType)
                }
                @Html.ValidationMessageFor(model => model.ActionTypeId)
                <div class="note note-info margin-top-10">
                    <p>@T("admin.users.actiontype.helpText.AddToCart")</p>
                    <p>@T("admin.users.actiontype.helpText.AddOrder")</p>
                    <p>@T("admin.users.actiontype.helpText.Viewed")</p>
                    <p>@T("admin.users.actiontype.helpText.Url")</p>
                    <p>@T("admin.users.actiontype.helpText.Registration")</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ConditionId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ConditionId, ((Zajel.Core.Domain.Users.UserActionConditionEnum)Model.ConditionId).ToSelectList())
                @Html.ValidationMessageFor(model => model.ConditionId)
                <div class="note note-info margin-top-10">
                    <p>@T("admin.users.actiontype.helpText.OneOfThem")</p>
                    <p>@T("admin.users.actiontype.helpText.AllOfThem")</p>
                </div>
            </div>
        </div>
    </div>
</div>