﻿@model UserActionConditionModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.UserActionId)
<script type="text/javascript">
    $(document).ready(function () {
        $("#useractioncondition-edit").show();
        $("#useractioncondition-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select,
        });
    });
</script>
<div id="useractioncondition-edit" style="display:none">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex()) id="tab-info">
            @T("Admin.Users.UserActionCondition.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex()) id="tab-product">
            @T("Admin.Users.UserActionCondition.Products")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex()) id="tab-category">
            @T("Admin.Users.UserActionCondition.Categories")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex()) id="tab-manufacturer">
            @T("Admin.Users.UserActionCondition.Manufacturers")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex()) id="tab-vendor">
            @T("Admin.Users.UserActionCondition.Vendors")
        </li>
        <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex()) id="tab-productAttribute">
            @T("Admin.Users.UserActionCondition.ProductAttributes")
        </li>
        <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex()) id="tab-productSpecification">
            @T("Admin.Users.UserActionCondition.ProductSpecifications")
        </li>
        <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex()) id="tab-userRole">
            @T("Admin.Users.UserActionCondition.UserRole")
        </li>
        <li @Html.RenderSelectedTabIndex(8, GetSelectedTabIndex()) id="tab-userTag">
            @T("Admin.Users.UserActionCondition.UserTag")
        </li>
        <li @Html.RenderSelectedTabIndex(9, GetSelectedTabIndex()) id="tab-userRegister">
            @T("Admin.Users.UserActionCondition.UserRegister")
        </li>
        <li @Html.RenderSelectedTabIndex(10, GetSelectedTabIndex()) id="tab-customAttribute">
            @T("Admin.Users.UserActionCondition.CustomUserAttribute")
        </li>
        <li @Html.RenderSelectedTabIndex(11, GetSelectedTabIndex()) id="tab-urlReferrer">
            @T("Admin.Users.UserActionCondition.UrlReferrer")
        </li>
        <li @Html.RenderSelectedTabIndex(12, GetSelectedTabIndex()) id="tab-urlCurrent">
            @T("Admin.Users.UserActionCondition.UrlCurrent")
        </li>
        <li @Html.RenderSelectedTabIndex(13, GetSelectedTabIndex()) id="tab-store">
            @T("Admin.Users.UserActionCondition.Store")
        </li>
    </ul>
    <div>
       @Html.Partial("_ConditionInfo", Model)
    </div>
    <div>
        @Html.Partial("_ConditionProduct", Model)
    </div>
    <div>
        @Html.Partial("_ConditionCategory", Model)
    </div>
    <div>
        @Html.Partial("_ConditionManufacturer", Model)
    </div>
    <div>
        @Html.Partial("_ConditionVendor", Model)
    </div>
    <div>
        @Html.Partial("_ConditionProductAttribute", Model)
    </div>
    <div>
        @Html.Partial("_ConditionProductSpecification", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserRole", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserTag", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUserRegister", Model)
    </div>
    <div>
        @Html.Partial("_ConditionCustomUserAttribute", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUrlReferrer", Model)
    </div>
    <div>
        @Html.Partial("_ConditionUrlCurrent", Model)
    </div>
    <div>
        @Html.Partial("_ConditionStore", Model)
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "useractioncondition-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">