﻿@model UserActionModel
@{
if (String.IsNullOrEmpty(Model.Id))
{
    <div class="note note-info">
        @T("Admin.Users.UserAction.SaveBeforeEdit")
    </div>
}

if (!String.IsNullOrEmpty(Model.Id))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="conditions-grid"></div>
        </div>
        <div class="panel-footer">
            <input type="submit" id="btnAddNewCondition" name="btnAddNewCondition" value="@T("Admin.Users.UserAction.Conditions.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddCondition", "UserAction", new { userActionId = Model.Id }))'); return false;" class="btn default" />
        </div>
    </div>

    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;


    <script>
        $(document).ready(function () {
            $("#conditions-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Conditions", "UserAction", new { userActionId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("ConditionDelete", "UserAction", new { userActionId = Model.Id }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                {
                    field: "Name",
                    title: "@T("Admin.Users.UserAction.Fields.Name")",
                    width: 300,
                    filterable: false,
                    sortable: false
                },
                {
                    field: "Condition",
                    title: "@T("Admin.Users.UserAction.Fields.ConditionType")",
                    width: 100,
                },
                {
                    field: "Id",
                    title: "@T("Admin.Common.Edit")",
                    width: 100,
                    template: '<a href="@Url.Content("~/Admin/UserAction/EditCondition")?userActionId=@(Model.Id)&cid=#=Id#">@T("Admin.Common.Edit")</a>'
                },
                {
                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                    title: "@T("Admin.Common.Delete")",
                    width: 100
                }]
            });
        });
    </script>

    }

}