﻿@model ActiveDiscussionsModel
@using Zajel.Web.Models.Boards;
@using Zajel.Web.Models.Common;
<div class="forums-table-section topic-group active-discussions">
    <div class="forums-table-section-title">
        @if (Model.ActiveDiscussionsFeedEnabled)
        {
            <a href="@Url.RouteUrl("ActiveDiscussionsRSS")" class="btn btn-sm btn-secondary link-rss" title="@T("Forum.ActiveDiscussionsRSSLinkTitle")">@T("Forum.RSS")</a>
        }
        <strong>@T("Forum.ActiveDiscussions")</strong>
    </div>
    @{
        var pager = Html.Pager(new PagerModel
        {
            PageSize = Model.TopicPageSize,
            TotalRecords = Model.TopicTotalRecords,
            PageIndex = Model.TopicPageIndex,
            ShowTotalSummary = false,
            RouteActionName = "ActiveDiscussionsPaged",
            UseRouteLinks = true,
            RouteValues = new ForumActiveDiscussionsRouteValues()
        });
    }

   @if (pager!=null && !String.IsNullOrEmpty(pager.ToHtmlString()))
   {
    <div class="pager upper">
        @pager
    </div>
   }
    <div class="forums-table-section-body">
        @if (Model.ForumTopics.Count > 0)
        {
            <div class="">
                <table class="table table-hover">
                    <colgroup>
                        <col />
                    </colgroup>
                    <thead class="table-inverse">
                        <tr>
                            <th>
                                <div class="col--12">
                                    <div class="d-flex justify-content-lg-between">
                                        <div class="topic-details col-md-7 col--12">
                                            @T("Forum.TopicTitle")
                                        </div>
                                        <div class="replies col-md-1 col--12 hidden-md-down">
                                            @T("Forum.Replies")
                                        </div>
                                        <div class="views col-md-1 col--12 hidden-md-down">
                                            @T("Forum.Views")
                                        </div>
                                        @if (Model.AllowPostVoting)
                                        {
                                            <div class="votes col-md-1 col--12 hidden-md-down">
                                                @T("Forum.Votes")
                                            </div>
                                        }
                                        <div class="latest-post col-md-2 col--12 hidden-md-down">
                                            @T("Forum.LatestPost")
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var topic in Model.ForumTopics)
                        {
                            <tr>
                                <td>
                                    <div class="col--12">
                                        <div class="row">
                                            <div class="topic-details col-md-7 col--12">
                                                <div class="topic-title">
                                                    @Html.RouteLink(topic.Subject, "TopicSlug", new { id = topic.Id, slug = topic.SeName })
                                                </div>
                                                @if (topic.NumPosts > Model.PostsPageSize)
                                                {
                                                    <div class="topic-pager">
                                                        @Html.ForumTopicSmallPager(topic)
                                                    </div>
                                                }
                                                <div class="topic-starter">
                                                    @if (!String.IsNullOrEmpty(topic.UserId))
                                                    {
                                                        <label>@T("Forum.Author"):</label>
                                                        if (topic.AllowViewingProfiles)
                                                        {
                                                            @Html.RouteLink(topic.UserName, "UserProfile", new { Id = topic.UserId })
                                                        }
                                                        else
                                                        {
                                                            @topic.UserName
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="replies col-md-1 col--12 hidden-md-down">
                                                @topic.NumReplies
                                            </div>
                                            <div class="views col-md-1 col--12 hidden-md-down">
                                                @topic.Views
                                            </div>
                                            @if (Model.AllowPostVoting)
                                            {
                                                <div class="votes col-md-1 col--12 hidden-md-down">
                                                    @topic.Votes
                                                </div>
                                            }
                                            <div class="latest-post col-md-2 col--12">
                                                @await Component.InvokeAsync("ForumLastPost", new { forumPostId = topic.LastPostId, showTopic = false })
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    @if (pager != null && !String.IsNullOrEmpty(pager.ToHtmlString()))
    {
        <div class="pager lower">
            @pager
        </div>
    }
    @if (Model.ViewAllLinkEnabled)
    {
        <div class="view-all mb-1">
            @Html.RouteLink(T("Forum.ActiveDiscussions.ViewAll").Text, "ActiveDiscussions", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

