﻿@model UserForumSubscriptionsModel
@using Zajel.Web.Models.Boards;
@using Zajel.Web.Models.User;
@{    
    Layout = "_ColumnsTwo";

    Html.AddTitleParts(T("PageTitle.ForumSubscriptions").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.ForumSubscriptions })
}
<div class="page account-page forum-subscriptions-page">
        <h2 class="generalTitle">@T("Account.ForumSubscriptions")</h2>
        @if (Model.ForumSubscriptions.Count > 0)
        {
            <div class="description">
                @T("Account.ForumSubscriptions.Description")
            </div>
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#selectall').click(function () {
                        $('.subscription-list .rowcheckbox').prop('checked', $(this).is(':checked')).change();
                    });

                    $('.subscription-list .rowcheckbox').on('change', function (e) {
                        var numChkBoxes = $('.subscription-list .rowcheckbox').length;
                        var numChkBoxesChecked = $('.subscription-list .rowcheckbox:checked').length;
                        $('#selectall').prop('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    });
                });
            </script>
            <form asp-route="UserForumSubscriptions" method="post">
                <div class="subscription-list">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <colgroup>
                            <col width="1" />
                            <col />
                        </colgroup>
                        <thead class="table-inverse">
                            <tr>
                                <th class="select-boxes">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="selectall" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="sr-only">@T("Account.ForumSubscriptions.InfoColumn")</span>
                                        <span class="custom-control-description">&nbsp;</span>
                                    </label>
                                </th>
                                <th class="info">
                                    @T("Account.ForumSubscriptions.InfoColumn")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ForumSubscriptions.Count; i++)
                            {
                                var item = Model.ForumSubscriptions[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td class="select-boxes">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" name="fs@(item.Id)" class="custom-control-input rowcheckbox" />
                                            <span class="custom-control-indicator"></span>
                                            <span class="sr-only">fs@(item.Id)</span>
                                            <span class="custom-control-description">&nbsp;</span>
                                        </label>
                                    </td>
                                    <td class="info">
                                        @if (item.TopicSubscription)
                                        {
                                            @Html.RouteLink(item.Title, "TopicSlug", new { Id = item.ForumTopicId, slug = item.Slug })
                                        }
                                        else
                                        {
                                            @Html.RouteLink(item.Title, "ForumSlug", new { Id = item.ForumId, slug = item.Slug })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    var pager = Html.Pager(Model.PagerModel);
                }
                @if (pager!=null)
                {
                    <div class="pager">
                        @pager
                    </div>
                }
                <div class="buttons">
                    <input type="submit" value="@T("Account.ForumSubscriptions.DeleteSelected")" class="btn btn-secondary delete-selected-fs-button" />
                </div>
            </div>
            </form>
        }
        else
        {
            <div class="no-data">
                @T("Account.ForumSubscriptions.NoSubscriptions")
            </div>
        }
    </div>