﻿@model ForumTopicPageModel
@using Zajel.Web.Models.Boards;
@using Zajel.Web.Models.Common;
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(Model.Subject);
}
<div class="page forum-topic-page">
    @await Component.InvokeAsync("ForumBreadcrumb", new { forumTopicId = Model.Id })
    @await Html.PartialAsync("_ForumHeader")
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_topic_after_header", additionalData = Model.Id })
    <h2 class="generalTitle text--center">@Model.Subject</h2>
    <div class="topic-actions upper">
        <div class="btn-group btn-group-sm" role="group">
            @if (Model.IsUserAllowedToEditTopic)
            {
                @Html.RouteLink(T("Forum.EditTopic").Text, "TopicEdit", new { id = Model.Id }, new { @class = "btn btn-secondary edit-topic-button" })
            }
            @if (Model.IsUserAllowedToDeleteTopic)
            {
                <a href="#" class="btn btn-secondary delete-topic-button" onclick="deletetopic('@(Model.Id)')">
                    <span class="hidden-sm-down">@T("Forum.DeleteTopic").Text</span>
                    <i class="fa fa-trash hidden-md-up" aria-hidden="true"></i>
                </a>
            }
            @if (Model.IsUserAllowedToMoveTopic)
            {
                @Html.RouteLink(T("Forum.MoveTopic").Text, "TopicMove", new { id = Model.Id }, new { @class = "btn btn-secondary move-topic-button" })
            }
            @Html.RouteLink(T("Forum.Reply").Text, "PostCreate", new { id = Model.Id }, new { @class = "btn btn-secondary reply-topic-button" })
            @if (Model.IsUserAllowedToSubscribe)
            {
                <a class="btn btn-secondary watch-topic-button" href="#" id="watch-topic-top">
                    <span class="hidden-sm-down">@Model.WatchTopicText</span>
                    <i class="fa fa-ban hidden-md-up" aria-hidden="true"></i>
                </a>
            }
        </div>
        @{
            var pager = Html.Pager(new PagerModel
            {
                PageSize = Model.PostsPageSize,
                TotalRecords = Model.PostsTotalRecords,
                PageIndex = Model.PostsPageIndex,
                ShowTotalSummary = false,
                RouteActionName = "TopicSlugPaged",
                UseRouteLinks = true,
                RouteValues = new RouteValues { id = Model.Id, slug = Model.SeName }
            });
        }
        @if (pager!=null)
        {
            <div class="pager upper my-3">
                @pager
            </div>
        }
    </div>

    <div class="topic-posts">
        @foreach (var post in @Model.ForumPostModels)
        {
            Html.RenderPartial("_ForumPost", post);
        }
    </div>

    <div class="topic-actions">
        <div class="actions">
            @Html.RouteLink(T("Forum.Reply").Text, "PostCreate", new { id = Model.Id }, new { @class = "btn btn-secondary reply-topic-button mt-1 mb-1" })
            @if (Model.IsUserAllowedToSubscribe)
            {
                <a class="btn btn-secondary watch-topic-button" href="#" id="watch-topic-bottom">@Model.WatchTopicText</a>
            }
        </div>
        @if (pager!=null)
        {
            <div class="pager lower">
                @pager
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function deletepost(postId) {
        if (confirm('@T("Common.AreYouSure")')) {
            var postData = {
                id: postId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("PostDelete", "Boards")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    location.href = data.redirect;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to delete');
                }
            });
        }
        return false;
    }
        function deletetopic(topicId) {
            if (confirm('@T("Common.AreYouSure")')) {
                var postData = {
                    id: topicId
                };
                addAntiForgeryToken(postData);
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("TopicDelete", "Boards")',
                    data: postData,
                    dataType: 'json',
                    success: function(data) {
                        location.href = data.redirect;
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to delete');
                    }
                });
            }
            return false;
        }
        $(function () {
            $('#watch-topic-bottom').click(function () {
                var postData = {};
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.RouteUrl("TopicWatch", new { id = Model.Id })',
                    data: postData,
                    dataType: 'json',
                    success: function (data) {
                        $('#watch-topic-top').text(data.Text);
                        $('#watch-topic-bottom').text(data.Text);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to watch');
                    }
                });
            });
        });
        $(function () {
            $('#watch-topic-top').click(function () {
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.RouteUrl("TopicWatch", new { id = Model.Id })',
                    dataType: 'json',
                    success: function (data) {
                        $('#watch-topic-top').text(data.Text);
                        $('#watch-topic-bottom').text(data.Text);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to watch');
                    }
                });
            });
        });
</script>