﻿@model TopicMoveModel
@using Zajel.Web.Models.Boards;
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
}
@await Component.InvokeAsync("ForumBreadcrumb", new { forumTopicId = Model.Id })

<div class="page move-topic-page">
    <h1 class="h2 generalTitle">@T("Forum.MoveTopic")</h1>

    <form asp-route="TopicMove" method="post">
        <input asp-for="Id" type="hidden" />
        <div class="form-fields">
            <div class="inputs">
                <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                @Html.DropDownList("ForumSelected", new SelectList(Model.ForumList, "Value", "Text"))
            </div>
        </div>
        <div class="btn-group btn-group-sm">
            <input type="submit" value="@T("Forum.Submit")" class="btn btn-secondary submit-forum-topic-button" />
            <input type="button" class="btn btn-secondary cancel-forum-topic-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.Id, slug = Model.TopicSeName })')" />
        </div>
    </form>
</div>
