﻿@model StateProvinceModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CountryId)
@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
}
@(Html.LocalizedEditor<StateProvinceModel, StateProvinceLocalizedModel>("state-localized",
@<div class="form-horizontal">
    <div class="form-body"></div>
    <div class="form-group">
        @Html.ZajelLabelFor(model => model.Locales[item].Name)
        <div class="col-md-9 col-sm-9">
            @Html.ZajelEditorFor(model => model.Locales[item].Name)
            @Html.ValidationMessageFor(model => model.Locales[item].Name)
        </div>
    </div>
    @Html.HiddenFor(model => model.Locales[item].LanguageId)
</div>
,
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             @Html.ZajelLabelFor(model => model.Name)
             <div class="col-md-9 col-sm-9">
                 @Html.ZajelEditorFor(model => model.Name)
                 @Html.ValidationMessageFor(model => model.Name)
             </div>
         </div>
     </div>
</div>
))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Abbreviation)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Abbreviation)
                @Html.ValidationMessageFor(model => model.Abbreviation)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Published)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>
