﻿@model CountryModel





@(Html.LocalizedEditor<CountryModel, CountryLocalizedModel>("country-info-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Name)
                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
                ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
            ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowsBilling)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AllowsBilling)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AllowsBilling)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowsShipping)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.AllowsShipping)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AllowsShipping)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.TwoLetterIsoCode)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.TwoLetterIsoCode)
                @Html.ValidationMessageFor(model => model.TwoLetterIsoCode)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ThreeLetterIsoCode)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ThreeLetterIsoCode)
                @Html.ValidationMessageFor(model => model.ThreeLetterIsoCode)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.NumericIsoCode)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.NumericIsoCode)
                @Html.ValidationMessageFor(model => model.NumericIsoCode)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SubjectToVat)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.SubjectToVat)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.SubjectToVat)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Published)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.Published)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>