﻿@model VendorReviewModel
@using Zajel.Core
@inject IWorkContext workContext
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.VendorName)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(Model.VendorName, "Edit", "Vendor", new { id = Model.VendorId }, new { })</label>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.UserInfo)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.ActionLink(Model.UserInfo, "Edit", "User", new { id = Model.UserId }, new { })</label>
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Title)
            <div class="col-md-9 col-sm-9">
                @if (workContext.CurrentVendor == null)
                {
                    @Html.ZajelEditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                }
                else
                {
                    <span class="form-control">@Model.Title</span>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ReviewText)
            <div class="col-md-9 col-sm-9">
                @if (workContext.CurrentVendor == null)
                {
                    @Html.ZajelTextAreaFor(model => model.ReviewText, new { style = "Height: 100px;" })
                    @Html.ValidationMessageFor(model => model.ReviewText)
                }
                else
                {
                    <span class="form-control">@Model.ReviewText</span>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Rating)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.Rating)</label>
            </div>
        </div>
        @if (workContext.CurrentVendor == null)
        {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.IsApproved)
                <div class="col-md-9 col-sm-9">
                    <label class="mt-checkbox mt-checkbox-outline">
                        @Html.EditorFor(model => model.IsApproved)
                        <span></span>
                    </label>
                    @Html.ValidationMessageFor(model => model.IsApproved)
                </div>
            </div>
        }
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.CreatedOn)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Html.DisplayFor(model => model.CreatedOn)</label>
            </div>
        </div>
    </div>
</div>