﻿@model UserOrderListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.Orders})
}
<div class="page account-page order-list-page">
        <h2 class="generalTitle">@T("Account.UserOrders")</h2>
        @if (Model.RecurringOrders.Count > 0)
        {
            <div class="recurring-payments">
                <h5>
                    <strong>
                        @T("Account.UserOrders.RecurringOrders")
                    </strong>
                </h5>
                <form asp-route="UserOrders" method="post">
                    <div class="table-responsive">
                        <table class="table teble-hover data-table">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="start-date">
                                        @T("Account.UserOrders.RecurringOrders.StartDate")
                                    </th>
                                    <th class="cycle-info">
                                        @T("Account.UserOrders.RecurringOrders.CycleInfo")
                                    </th>
                                    <th class="next-payment">
                                        @T("Account.UserOrders.RecurringOrders.NextPayment")
                                    </th>
                                    <th class="total-cycles">
                                        @T("Account.UserOrders.RecurringOrders.TotalCycles")
                                    </th>
                                    <th class="cycles-remaining">
                                        @T("Account.UserOrders.RecurringOrders.CyclesRemaining")
                                    </th>
                                    <th class="initial-order">
                                        @T("Account.UserOrders.RecurringOrders.InitialOrder")
                                    </th>
                                    <th class="cancel">
                                        @T("Account.UserOrders.RecurringOrders.Cancel")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RecurringOrders)
                                {
                                    <tr>
                                        <td class="start-date">
                                            @item.StartDate
                                        </td>
                                        <td class="cycle-info">
                                            @item.CycleInfo
                                        </td>
                                        <td class="next-payment">
                                            @item.NextPayment
                                        </td>
                                        <td class="total-cycles">
                                            @item.TotalCycles
                                        </td>
                                        <td class="cycles-remaining">
                                            @item.CyclesRemaining
                                        </td>
                                        <td class="initial-order">
                                            <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.InitialOrderId })">@string.Format(T("Account.UserOrders.RecurringOrders.ViewInitialOrder").Text, item.InitialOrderId)</a>
                                        </td>
                                        <td class="cancel">
                                            @if (item.CanCancel)
                                            {
                                                <input type="submit" name="cancelRecurringPayment@(item.Id)" value="@T("Account.UserOrders.RecurringOrders.Cancel")" class="btn btn-outline-success cancel-recurring-order-button" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            if (Model.CancelRecurringPaymentErrors.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var error in Model.CancelRecurringPaymentErrors)
                    {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
        }

        @if (Model.Orders.Count > 0)
        {
            <div class="account-order">
                    <div class="row flex-grid">
                        @foreach (var order in Model.Orders)
                        {
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="card">
                                    <h6 class="card-header">
                                        <strong>
                                            <span>
                                                @T("Account.UserOrders.OrderNumber"): 
                                            </span>
                                            <span>
                                                @order.OrderNumber
                                            </span>
                                        </strong>
                                    </h6>
                                    <div class="card-block small">
                                        <ul class="info">
                                            <li><span>@T("Account.UserOrders.OrderStatus"):</span> <span class="order-status @order.OrderStatusEnum.ToString().ToLowerInvariant()">@order.OrderStatus</span></li>
                                            <li><span class="order-date"><span>@T("Account.UserOrders.OrderDate"):</span> <span>@order.CreatedOn.ToString()</span></span></li>
                                            <li><span>@T("Account.UserOrders.OrderTotal"):</span> <span class="order-total">@order.OrderTotal</span></li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <div class="buttons">
                                            <input type="button" value="@T("Account.UserOrders.OrderDetails")" class="btn btn-sm btn-success order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />

                                            @if (order.IsReturnRequestAllowed)
                                            {
                                                <input type="button" value="@T("Account.UserOrders.ReturnItems")" class="btn btn-sm btn-outline-warning return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = order.Id })')" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.UserOrders.NoOrders")
            </div>
        }
    </div>
