﻿@model IList<ManufacturerModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
}
@using Zajel.Web.Models.Catalog;
<div class="page manufacturer-list-page">
    <h2 class="generalTitle">@T("Manufacturers.List")</h2>
    <div class="row flex-row d-flex">
        @foreach (var item in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <h4 class="card-header">
                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        @item.Name
                    </a>
                </h4>
                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                    <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                </a>
            </div>
        </div>
    }
    </div>
</div>
