﻿@model UserUserSettingsModel
@using Zajel.Core.Domain.Users;

<script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.UserSettings.AllowUsersToUploadAvatars)").click(toggleAvatar);
            $("#@Html.FieldIdFor(model => model.UserSettings.UsernamesEnabled)").click(toggleUsername);


            toggleAvatar();
            toggleUsername();
        });

        function toggleAvatar() {
            if ($('#@Html.FieldIdFor(model => model.UserSettings.AllowUsersToUploadAvatars)').is(':checked')) {
                $('#pnlDefaultAvatarEnabled').show();
            }
            else {
                $('#pnlDefaultAvatarEnabled').hide();
            }
        }

        function toggleUsername() {
            if ($('#@Html.FieldIdFor(model => model.UserSettings.UsernamesEnabled)').is(':checked')) {
                $('#pnlAllowUsersToChangeUsernames').show();
                $('#pnlCheckUsernameAvailability').show();
            }
            else {
                $('#pnlAllowUsersToChangeUsernames').hide();
                $('#pnlCheckUsernameAvailability').hide();
            }
        }

</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.UsernamesEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.UsernamesEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.UsernamesEnabled)
            </div>
        </div>
        <div class="form-group" id="pnlAllowUsersToChangeUsernames">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.AllowUsersToChangeUsernames, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.AllowUsersToChangeUsernames)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.AllowUsersToChangeUsernames)
            </div>
        </div>
        <div class="form-group" id="pnlCheckUsernameAvailability">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.CheckUsernameAvailabilityEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.CheckUsernameAvailabilityEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.CheckUsernameAvailabilityEnabled)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.UserRegistrationType, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelDropDownListFor(model => model.UserSettings.UserRegistrationType, ((UserRegistrationType)Model.UserSettings.UserRegistrationType).ToSelectList())
                @Html.ValidationMessageFor(model => model.UserSettings.UserRegistrationType)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.AllowUsersToUploadAvatars, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.AllowUsersToUploadAvatars)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.AllowUsersToUploadAvatars)
            </div>
        </div>
        <div class="form-group" id="pnlDefaultAvatarEnabled">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.DefaultAvatarEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.DefaultAvatarEnabled)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.DefaultAvatarEnabled)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.ShowUsersLocation, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.ShowUsersLocation)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.ShowUsersLocation)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.ShowUsersJoinDate, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.ShowUsersJoinDate)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.ShowUsersJoinDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.AllowViewingProfiles, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.AllowViewingProfiles)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.AllowViewingProfiles)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.NotifyNewUserRegistration, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.NotifyNewUserRegistration)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.NotifyNewUserRegistration)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.HideDownloadableProductsTab, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.HideDownloadableProductsTab)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.HideDownloadableProductsTab)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.HideBackInStockSubscriptionsTab, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.HideBackInStockSubscriptionsTab)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.HideBackInStockSubscriptionsTab)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.UserNameFormat, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelDropDownListFor(model => model.UserSettings.UserNameFormat, ((UserNameFormat)Model.UserSettings.UserNameFormat).ToSelectList())
                @Html.ValidationMessageFor(model => model.UserSettings.UserNameFormat)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.DefaultPasswordFormat, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelDropDownListFor(model => model.UserSettings.DefaultPasswordFormat, ((PasswordFormat)Model.UserSettings.DefaultPasswordFormat).ToSelectList())
                @Html.ValidationMessageFor(model => model.UserSettings.DefaultPasswordFormat)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.PasswordMinLength, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.PasswordMinLength)
                @Html.ValidationMessageFor(model => model.UserSettings.PasswordMinLength)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.PasswordLifetime, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.PasswordLifetime)
                @Html.ValidationMessageFor(model => model.UserSettings.PasswordLifetime)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.UnduplicatedPasswordsNumber, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.UnduplicatedPasswordsNumber)
                @Html.ValidationMessageFor(model => model.UserSettings.UnduplicatedPasswordsNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.PasswordRecoveryLinkDaysValid, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.PasswordRecoveryLinkDaysValid)
                @Html.ValidationMessageFor(model => model.UserSettings.PasswordRecoveryLinkDaysValid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.FailedPasswordAllowedAttempts, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.FailedPasswordAllowedAttempts)
                @Html.ValidationMessageFor(model => model.UserSettings.FailedPasswordAllowedAttempts)
                <script type="text/javascript">
	                    $(document).ready(function () {
	                        $("#@Html.FieldIdFor(model => model.UserSettings.FailedPasswordAllowedAttempts)").blur(toggleFailedPasswordAllowedAttempts);
			                    toggleFailedPasswordAllowedAttempts();
		                    });

		                    function toggleFailedPasswordAllowedAttempts() {
		                        var failedPasswordAllowedAttempts = $("#@Html.FieldIdFor(model => model.UserSettings.FailedPasswordAllowedAttempts)").data("kendoNumericTextBox");
			                    if (failedPasswordAllowedAttempts.value($("#value").val()) > 0) {
				                    $('#pnlFailedPasswordLockoutMinutes').show();
			                    } else {
				                    $('#pnlFailedPasswordLockoutMinutes').hide();
			                    }
		                    }
                </script>
            </div>
        </div>
        <div class="form-group" id="pnlFailedPasswordLockoutMinutes">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.FailedPasswordLockoutMinutes, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.ZajelEditorFor(model => model.UserSettings.FailedPasswordLockoutMinutes)
                @Html.ValidationMessageFor(model => model.UserSettings.FailedPasswordLockoutMinutes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.HideNewsletterBlock, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.HideNewsletterBlock)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.HideNewsletterBlock)
            </div>
        </div>
        <div class="form-group" id="pnlNewsletterBlockAllowToUnsubscribe">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.NewsletterBlockAllowToUnsubscribe, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.NewsletterBlockAllowToUnsubscribe)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.NewsletterBlockAllowToUnsubscribe)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.RegistrationFreeShipping, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.RegistrationFreeShipping)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.RegistrationFreeShipping)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.ZajelLabelFor(model => model.UserSettings.StoreLastVisitedPage, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.UserSettings.StoreLastVisitedPage)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.UserSettings.StoreLastVisitedPage)
            </div>
        </div>
    </div>
</div>