﻿@model GeneralCommonSettingsModel







<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayHomePageMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayHomePageMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayHomePageMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayHomePageMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayHomePageMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayNewProductsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayNewProductsMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayNewProductsMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayNewProductsMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayNewProductsMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplaySearchMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplaySearchMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplaySearchMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplaySearchMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplaySearchMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayUserMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayUserMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayUserMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayUserMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayUserMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayBlogMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayBlogMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayBlogMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayBlogMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayBlogMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayForumsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayForumsMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayForumsMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayForumsMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayForumsMenu)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-sm-4 text-right">
                @Html.OverrideStoreCheckboxFor(model => model.DisplayMenuSettings.DisplayContactUsMenu_OverrideForStore, model => model.DisplayMenuSettings.DisplayContactUsMenu, Model.ActiveStoreScopeConfiguration)
                @Html.ZajelLabelFor(model => model.DisplayMenuSettings.DisplayContactUsMenu, new Dictionary<string, object> { { "class", "control-label" } }, false)
            </div>
            <div class="col-md-8 col-sm-8">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.DisplayMenuSettings.DisplayContactUsMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.DisplayMenuSettings.DisplayContactUsMenu)
            </div>
        </div>

    </div>
</div>