﻿@model ShippingSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Shipping").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.FreeShippingOverXEnabled)").click(toggleFreeShippingOverX);
            toggleFreeShippingOverX();
        });

        function toggleFreeShippingOverX() {
            if ($('#@Html.FieldIdFor(model => model.FreeShippingOverXEnabled)').is(':checked')) {
            $('#pnlValueOfX').show();
            $('#pnlValueOfXincltax').show();
        } else {
            $('#pnlValueOfX').hide();
            $('#pnlValueOfXincltax').hide();
        }
    }

    </script>


    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Shipping")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration") 
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ShipToSameAddress_OverrideForStore, model => model.ShipToSameAddress, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.ShipToSameAddress, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.ShipToSameAddress)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ShipToSameAddress)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowPickUpInStore_OverrideForStore, model => model.AllowPickUpInStore, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowPickUpInStore, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.AllowPickUpInStore)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowPickUpInStore)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.UseWarehouseLocation_OverrideForStore, model => model.UseWarehouseLocation, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.UseWarehouseLocation, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.UseWarehouseLocation)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.UseWarehouseLocation)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.NotifyUserAboutShippingFromMultipleLocations_OverrideForStore, model => model.NotifyUserAboutShippingFromMultipleLocations, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.NotifyUserAboutShippingFromMultipleLocations, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.NotifyUserAboutShippingFromMultipleLocations)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.NotifyUserAboutShippingFromMultipleLocations)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.FreeShippingOverXEnabled_OverrideForStore, model => model.FreeShippingOverXEnabled, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.FreeShippingOverXEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.FreeShippingOverXEnabled)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.FreeShippingOverXEnabled)
                                </div>
                            </div>
                            <div class="form-group" id="pnlValueOfX">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.FreeShippingOverXValue_OverrideForStore, model => model.FreeShippingOverXValue, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.FreeShippingOverXValue, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.ZajelEditorFor(model => model.FreeShippingOverXValue)
                                    @Html.ValidationMessageFor(model => model.FreeShippingOverXValue)
                                </div>
                            </div>
                            <div class="form-group" id="pnlValueOfXincltax">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.FreeShippingOverXIncludingTax_OverrideForStore, model => model.FreeShippingOverXIncludingTax, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.FreeShippingOverXIncludingTax, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.FreeShippingOverXIncludingTax)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.FreeShippingOverXIncludingTax)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.EstimateShippingEnabled_OverrideForStore, model => model.EstimateShippingEnabled, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.EstimateShippingEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.EstimateShippingEnabled)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.EstimateShippingEnabled)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.DisplayShipmentEventsToUsers_OverrideForStore, model => model.DisplayShipmentEventsToUsers, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.DisplayShipmentEventsToUsers, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.DisplayShipmentEventsToUsers)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.DisplayShipmentEventsToUsers)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.DisplayShipmentEventsToStoreOwner_OverrideForStore, model => model.DisplayShipmentEventsToStoreOwner, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.DisplayShipmentEventsToStoreOwner, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.DisplayShipmentEventsToStoreOwner)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.DisplayShipmentEventsToStoreOwner)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.BypassShippingMethodSelectionIfOnlyOne_OverrideForStore, model => model.BypassShippingMethodSelectionIfOnlyOne, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.BypassShippingMethodSelectionIfOnlyOne, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.BypassShippingMethodSelectionIfOnlyOne)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.BypassShippingMethodSelectionIfOnlyOne)
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @T("admin.configuration.settings.shipping.shippingoriginaddress")
                                    @Html.OverrideStoreCheckboxFor(model => model.ShippingOriginAddress_OverrideForStore, "pnlShippingOriginAddress", Model.ActiveStoreScopeConfiguration)
                                </div>
                                <div class="form-group" id="pnlShippingOriginAddress">
                                    <div>
                                        @Html.EditorFor(x => x.ShippingOriginAddress, "Address")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
