﻿@model VendorSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.Vendor").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fw fa-sliders"></i>
                        @T("Admin.Configuration.Settings.Vendor")
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @await Component.InvokeAsync("StoreScopeConfiguration") 
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorsBlockItemsToDisplay_OverrideForStore, model => model.VendorsBlockItemsToDisplay, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.VendorsBlockItemsToDisplay, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    @Html.EditorFor(model => model.VendorsBlockItemsToDisplay)
                                    @Html.ValidationMessageFor(model => model.VendorsBlockItemsToDisplay)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.ShowVendorOnProductDetailsPage_OverrideForStore, model => model.ShowVendorOnProductDetailsPage, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.ShowVendorOnProductDetailsPage, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.ShowVendorOnProductDetailsPage)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.ShowVendorOnProductDetailsPage)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowUsersToContactVendors_OverrideForStore, model => model.AllowUsersToContactVendors, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowUsersToContactVendors, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowUsersToContactVendors)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowUsersToContactVendors)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowUsersToApplyForVendorAccount_OverrideForStore, model => model.AllowUsersToApplyForVendorAccount, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowUsersToApplyForVendorAccount, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowUsersToApplyForVendorAccount)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowUsersToApplyForVendorAccount)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowSearchByVendor_OverrideForStore, model => model.AllowSearchByVendor, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowSearchByVendor, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowSearchByVendor)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowSearchByVendor)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowVendorsToEditInfo_OverrideForStore, model => model.AllowVendorsToEditInfo, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowVendorsToEditInfo, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.AllowVendorsToEditInfo)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowVendorsToEditInfo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.NotifyStoreOwnerAboutVendorInformationChange_OverrideForStore, model => model.NotifyStoreOwnerAboutVendorInformationChange, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.NotifyStoreOwnerAboutVendorInformationChange, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.NotifyStoreOwnerAboutVendorInformationChange)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.NotifyStoreOwnerAboutVendorInformationChange)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.TermsOfServiceEnabled_OverrideForStore, model => model.TermsOfServiceEnabled, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.TermsOfServiceEnabled, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.TermsOfServiceEnabled)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.TermsOfServiceEnabled)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorReviewsMustBeApproved_OverrideForStore, model => model.VendorReviewsMustBeApproved, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.VendorReviewsMustBeApproved, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.VendorReviewsMustBeApproved)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.VendorReviewsMustBeApproved)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.AllowAnonymousUsersToReviewVendor_OverrideForStore, model => model.AllowAnonymousUsersToReviewVendor, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.AllowAnonymousUsersToReviewVendor, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.AllowAnonymousUsersToReviewVendor)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.AllowAnonymousUsersToReviewVendor)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.NotifyVendorAboutNewVendorReviews_OverrideForStore, model => model.NotifyVendorAboutNewVendorReviews, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.NotifyVendorAboutNewVendorReviews, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.NotifyVendorAboutNewVendorReviews)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.NotifyVendorAboutNewVendorReviews)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 text-right">
                                    @Html.OverrideStoreCheckboxFor(model => model.VendorReviewPossibleOnlyAfterPurchasing_OverrideForStore, model => model.VendorReviewPossibleOnlyAfterPurchasing, Model.ActiveStoreScopeConfiguration)
                                    @Html.ZajelLabelFor(model => model.VendorReviewPossibleOnlyAfterPurchasing, new Dictionary<string, object> { { "class", "control-label" } }, false)
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.ZajelEditorFor(model => model.VendorReviewPossibleOnlyAfterPurchasing)
                                        <span></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.VendorReviewPossibleOnlyAfterPurchasing)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}