﻿@model ProfileInfoModel
<div class="profile-info-box">
    <div class="profile-stats card">
        <h5 class="card-header"><strong>@T("Profile.Statistics")</strong></h5>
        <div class="card-block">
            @if (!String.IsNullOrEmpty(Model.AvatarUrl))
            {
                <div class="col-md-3 col-sm-12 avatar">
                    <img src="@(Model.AvatarUrl)" class="avatar-img" alt="Avatar" />
                </div>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "profile_page_info_userdetails", additionalData = Model.UserProfileId })
            <div class="col-md-9 col-sm-12">
                <ul class="stats">
                    @if (Model.LocationEnabled)
            {
                        <li class="location">
                            <label>@T("Profile.Country"):</label>
                            <span>@Model.Location</span>
                        </li>
                    }
                    @if (Model.TotalPostsEnabled)
            {
                        <li>
                            <label>@T("Profile.TotalPosts"):</label>
                            <span>@Model.TotalPosts</span>
                        </li>
                    }
                    @if (Model.JoinDateEnabled)
                    {
                        <li>
                            <label>@T("Profile.JoinDate"):</label>
                            <span>@Model.JoinDate</span>
                        </li>
                    }
                    @if (Model.DateOfBirthEnabled)
            {
                        <li>
                            <label>@T("Profile.DateOfBirth"):</label>
                            <span>@Model.DateOfBirth</span>
                        </li>
                    }
                </ul>
                @await Component.InvokeAsync("Widget", new { widgetZone = "profile_page_info_userstats", additionalData = Model.UserProfileId })
            </div>
        </div>
    </div>
    @if (Model.PMEnabled)
    {
        <div class="send-pm mb-2 mt-2">
            @Html.RouteLink(T("Forum.PrivateMessages.PM").Text, "SendPM", new { toUserId = Model.UserProfileId }, new { @class = "btn btn-secondary pm-button" })
        </div>
    }
</div>
