﻿@model PollModel




<script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.SubjectToAcl)").click(toggleAcl);

            toggleAcl();
        });


        function toggleAcl() {
            if ($('#@Html.FieldIdFor(model => model.SubjectToAcl)').is(':checked')) {
                $('#pnl-acl').show();
            }
            else {
                $('#pnl-acl').hide();
            }
        }

</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SubjectToAcl)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.SubjectToAcl)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.SubjectToAcl)
            </div>
        </div>
        <div class="form-group" id="pnl-acl">
            @Html.ZajelLabelFor(model => model.AvailableUserRoles)
            <div class="col-md-9 col-sm-9">
                @if (Model.AvailableUserRoles != null && Model.AvailableUserRoles.Count > 0)
                {
                    @await Component.InvokeAsync("CommonAclDisabledWarning")
                    <div class="mt-checkbox-list">
                        @foreach (var userRole in Model.AvailableUserRoles)
                        {
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" name="SelectedUserRoleIds" value="@userRole.Id" checked="@(Model.SelectedUserRoleIds!=null && Model.SelectedUserRoleIds.Contains(userRole.Id))" />@userRole.Name
                                <span></span>
                            </label>
                        }
                    </div>
                }
                else
                {
                    <div class="note note-info">No user roles defined</div>
                }
            </div>
        </div>
    </div>
</div>