﻿@model ProductDetailsModel.AddToCartModel
@if (!String.IsNullOrEmpty(Model.UpdatedShoppingCartItemId))
{
    @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
}
@if (Model.UserEntersPrice)
{
    <div class="user-entered-price mb-1">
        <div class="price-input">
            <label asp-for="UserEnteredPrice" class="enter-price-label">@("Products.EnterProductPrice"):</label>
            @*round price*@
            <input asp-for="UserEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.UserEnteredPrice))" class="form-control enter-price-input" />
        </div>
        <div class="price-range pt-1">
            @Model.UserEnteredPriceRange
        </div>
    </div>
}
@if (!Model.DisableBuyButton || Model.UserEntersPrice)
{

    if (!String.IsNullOrEmpty(Model.MinimumQuantityNotification))
    {
        <div class="min-qty-notification text-danger">@Model.MinimumQuantityNotification</div>
    }
    if (!Model.DisableBuyButton)
    {


    if (Model.AllowedQuantities.Count > 0)
        {
            <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="col-2 custom-select form-control qty-dropdown"></select>
        }
        else
        {

            var addId = "addtocart_" + @Model.ProductId + "_EnteredQuantity";
            <label for="@addId" class="sr-only">@T("ShoppingCart.AddToCart")</label>
            <input asp-for="EnteredQuantity" class="form-control qty-input" type="text" />
            if (!String.IsNullOrEmpty(Model.MeasureUnit))
            {
                <span class="qty-unit mr-2">
                    @Model.MeasureUnit
                </span>
            }

    }
{
    var addToCartText = "";
    if (!String.IsNullOrEmpty(Model.UpdatedShoppingCartItemId) && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.ShoppingCart)
    {
        addToCartText = T("ShoppingCart.AddToCart.Update").Text;
    }
    else
    {
        addToCartText = T("ShoppingCart.AddToCart").Text;
        if (Model.IsRental)
        {
            addToCartText = T("ShoppingCart.Rent").Text;
        }
        if (Model.AvailableForPreOrder)
        {
            addToCartText = T("ShoppingCart.PreOrder").Text;
        }
    }

    //when a user clicks 'Enter' button we submit the "add to cart" button (if visible)
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.EnteredQuantity)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#add-to-cart-button-@Model.ProductId").click();
                    return false;
                }
            });
        });
    </script>
    <button type="button" id="add-to-cart-button-@Model.ProductId" class="btn btn-success add-to-cart-button" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;">
        <span class="fa fa-shopping-cart"></span> <span>@addToCartText</span>
    </button>
        }

    }

    @await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_add_info" })

}
