﻿@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
}
@using Zajel.Web.Models.Catalog;
<div class="page recently-added-products-page">
        
        <h1 class="h2 generalTitle"><a href="@Url.RouteUrl("NewProductsRSS")" class="btn btn-sm btn-outline-success link-rss" title="@T("Products.NewProducts.RSS.Hint")">@T("Products.NewProducts.RSS")</a> @T("Products.NewProducts")</h1>
        @if (Model.Count > 0)
        {
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        @await Html.PartialAsync("_ProductBox", product)
                    </div>
                }
            </div>
        }
    </div>
</div>
