﻿@model ProductReviewsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
}
<div class="page product-reviews-page">
        <h2 class="generalTitle text-center">@T("Reviews.ProductReviewsFor") <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })">@Model.ProductName</a></h2>
        @await Component.InvokeAsync("Widget", new { widgetZone = "productreviews_page_top", additionalData = Model.ProductId })
        @if (Model.AddProductReview.SuccessfullyAdded)
        {
            <h4 class="text-center p-3">
                @Model.AddProductReview.Result
            </h4>
        }
        else
        {
            <div class="write-review" id="review-form">
                    <h5 class="generalTitle"><strong>@T("Reviews.Write")</strong></h5>
                    <form asp-route="ProductReviews" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <fieldset>
                            <div class="form-fields">
                                <div class="form-group">
                                    <label asp-for="AddProductReview.Title" class="col-form-label">@T("Reviews.Fields.Title"):</label>
                                    <input asp-for="AddProductReview.Title" class="form-control review-title" asp-disabled="@(!Model.AddProductReview.CanCurrentUserLeaveReview)" />
                                    <span asp-validation-for="AddProductReview.Title"></span>
                                </div>
                                    <label asp-for="AddProductReview.ReviewText" class="col-form-label">@T("Reviews.Fields.ReviewText"):</label>
                                    <textarea asp-for="AddProductReview.ReviewText" class="form-control review-text" asp-disabled="@(!Model.AddProductReview.CanCurrentUserLeaveReview)"></textarea>
                                    <span asp-validation-for="AddProductReview.ReviewText"></span>
                                <div class="form-group review-rating row d-flex justify-content-around">
                                    <label asp-for="AddProductReview.Rating" class="col-12 col-form-label">@T("Reviews.Fields.Rating"):</label>
                                        <span class="col col-form-label label first hidden-sm-down text-right">@T("Reviews.Fields.Rating.Bad")</span>
                                        <div class="col-12 col-sm-6 rating-options text-center">
                                            <label class="custom-control custom-radio">
                                                <input asp-for="AddProductReview.Rating" value="1" type="radio" id="addproductrating_1" class="custom-control-input"/>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">1</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input asp-for="AddProductReview.Rating" value="2" type="radio" id="addproductrating_2" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">2</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input asp-for="AddProductReview.Rating" value="3" type="radio" id="addproductrating_3" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">3</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input asp-for="AddProductReview.Rating" value="4" type="radio" id="addproductrating_4" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">4</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input asp-for="AddProductReview.Rating" value="5" type="radio" id="addproductrating_5" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">5</span>
                                            </label>
                                        </div>
                                        <span class="label col col-form-label hidden-sm-down text-left">@T("Reviews.Fields.Rating.Excellent")</span>
                                </div>
                                @if (Model.AddProductReview.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        <captcha />
                                    </div>
                                }
                            </div>
                        </fieldset>
                        <div class="buttons text-left my-3">
                            <input type="submit" name="add-review" class="btn btn-success write-product-review-button" value="@T("Reviews.SubmitButton")" />
                        </div>
                    </form>
            </div>
        }
        @if (Model.Items.Count > 0)
        {
            <div class="product-review-list">
                    <h5><strong>@T("Reviews.ExistingReviews")</strong></h5>
                @foreach (var review in Model.Items)
                {
                    int ratingPercent = review.Rating * 20;
                    <div class="card comment product-review-item pb-3">
                        <div class="card-header review-item-head">
                            <div class="rating rating_@review.Id float-right">
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    productStarProgress5('@(ratingPercent)', 'rating_@review.Id');
                                });
                            </script>
                            <div class="review-info">
                                <span class="user">
                                    <span>@T("Reviews.From"):</span>
                                    @if (review.AllowViewingProfiles)
                                    {
                                        <a href="@Url.RouteUrl("UserProfile", new { id = review.UserId })">@(review.UserName)</a>
                                    }
                                    else
                                    {
                                        @review.UserName
                                    }
                                </span>
                                <span class="separator">|</span>
                                <span class="date">
                                    <span>@T("Reviews.Date"):</span>
                                    <span>@review.WrittenOnStr</span>
                                </span>
                            </div>
                        </div>
                        <div class="card-block mb-3">
                            <div class="review-title">
                                <strong>@review.Title</strong>
                            </div>
                            <div class="review-content">
                                <div class="review-text">
                                    @Html.Raw(Zajel.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            @await Component.InvokeAsync("Widget", new { widgetZone = "productreviews_page_inside_review", additionalData = review.Id })
                            @await Html.PartialAsync("_ProductReviewHelpfulness", review.Helpfulness)
                        </div>
                    </div>
                }
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "productreviews_page_bottom", additionalData = Model.ProductId })
</div>
