﻿@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
}
@using Zajel.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
        <h2 class="generalTitle">@T("Products.RecentlyViewedProducts")</h2>
        @if (Model.Count > 0)
        {
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-lg-4 col-sm-6 col-12">
                        @await Html.PartialAsync("_ProductBox", product)
                    </div>
                }
            </div>
        }
    </div>