﻿@{
    Layout = "_ColumnsOne";
}
@model Zajel.Plugin.ExternalAuth.Facebook.Models.FailedModel
<div class="page facebook-login">
    <div class="page-title">
        <h1>@T("Plugins.ExternalAuth.Facebook.Failed")</h1>
    </div>
    <div class="page-body">
        <div class="alert alert-danger">
            @T("Plugins.ExternalAuth.Facebook.Failed.ErrorCode"): @Model.ErrorCode <br>
            @T("Plugins.ExternalAuth.Facebook.Failed.ErrorMessage"): @Model.ErrorMessage
        </div>
    </div>
</div>
