﻿@model TopicModel



<script type="text/javascript">
        $(document).ready(function() {
            $("#@Html.FieldIdFor(model => model.IsPasswordProtected)").click(togglePassword);
            togglePassword();
        });

        function togglePassword() {
            if ($('#@Html.FieldIdFor(model => model.IsPasswordProtected)').is(':checked')) {
                $('#pnlPasswordEnabled').show();
            } else {
                $('#pnlPasswordEnabled').hide();
            }
        }
</script>
@(Html.LocalizedEditor<TopicModel, TopicLocalizedModel>("topic-info-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Title)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Title)
                    @Html.ValidationMessageFor(model => model.Locales[item].Title)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Body)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.Locales[item].Body, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Locales[item].Body)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
        ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Title)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Body)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(x => x.Body, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SystemName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SystemName)
                @Html.ValidationMessageFor(model => model.SystemName)
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.Id))
            {
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Url)
                <div class="col-md-9 col-sm-9">
                    <label class="control-label"><a href="@Model.Url">@Model.Url</a></label>
                </div>
            </div>
        }
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsPasswordProtected)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsPasswordProtected)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsPasswordProtected)
            </div>
        </div>
        <div class="form-group" id="pnlPasswordEnabled">
            @Html.ZajelLabelFor(model => model.Password)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInSitemap)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.IncludeInSitemap)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInSitemap)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInTopMenu)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.IncludeInTopMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInFooterColumn1)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.IncludeInFooterColumn1)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInFooterColumn1)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInFooterColumn2)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.IncludeInFooterColumn2)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInFooterColumn2)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInFooterColumn3)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.IncludeInFooterColumn3)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInFooterColumn3)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(x => x.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AccessibleWhenStoreClosed)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(x => x.AccessibleWhenStoreClosed)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AccessibleWhenStoreClosed)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.TopicTemplateId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.TopicTemplateId, Model.AvailableTopicTemplates)
                @Html.ValidationMessageFor(model => model.TopicTemplateId)
            </div>
        </div>
    </div>
</div>