﻿@model UserTagModel


<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </div>
</div>