﻿@model FooterModel
@inject IWorkContext workContext
<footer class="mt-3 py-3">
    <div class="container">
        <div class="row flex-row">
            <div id="footer-block-information" class="col-lg-3 col-md-12 col-sm-12 footer-block information block">
                <h2 class="h5 hidden-md-down"><strong>@T("Footer.Information")</strong></h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x" aria-hidden="true"></span>
                        <span class="h6"><strong>@T("Footer.Information")</strong></span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ul class="list-group pl-0">
                        @if (Model.SitemapEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                        <li class="list-group-item"><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-block-user-service" class="col-lg-3 col-md-12 col-sm-12 footer-block user-service block">
                <h2 class="h5 hidden-md-down"><strong>@T("Footer.UserService")</strong></h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="h6"><strong>@T("Footer.UserService")</strong></span>
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x"></span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ul class="list-group pl-0">
                        <li class="list-group-item"><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                        @if (Model.NewsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                        }
                        @if (Model.BlogEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        }
                        @if (Model.ForumEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                        }
                        @if (Model.RecentlyViewedProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                        }
                        @if (Model.CompareProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                        }
                        @if (Model.NewProductsEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div id="footer-block-my-account" class="col-lg-3 col-md-12 col-sm-12 footer-block my-account block">
                <h2 class="h5 hidden-md-down"><strong>@T("Footer.MyAccount")</strong></h2>
                <div class="step-title card card-grey mb-1 p-3 hidden-lg-up">
                    <blockquote class="card-blockquote">
                        <span class="h6"><strong>@T("Footer.MyAccount")</strong></span>
                        <span class="fa fa-angle-down hidden-lg-up float-sm-right fa-2x" aria-hidden="true"></span>
                    </blockquote>
                </div>
                <div class="viewBox">
                    <ol class="pl-0 list-group">
                        <li class="list-group-item"><a href="@Url.RouteUrl("UserInfo")">@T("Account.MyAccount")</a></li>
                        <li class="list-group-item"><a href="@Url.RouteUrl("UserOrders")">@T("Account.UserOrders")</a></li>
                        <li class="list-group-item"><a href="@Url.RouteUrl("UserAddresses")">@T("Account.UserAddresses")</a></li>
                        @if (Model.ShoppingCartEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                        }
                        @if (Model.WishlistEnabled)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                        }
                        @if (Model.AllowUsersToApplyForVendorAccount)
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                        {
                            <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                        }
                    </ol>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 block">
                <div class="social">
                    <h2 class="h5 hidden-md-down"><strong>@T("Footer.FollowUs")</strong></h2>
                    <ol class="d-flex flex-row list-group justify-content-center justify-content-lg-start">
                        @if (!string.IsNullOrEmpty(Model.FacebookLink))
                        {
                            <li class="list-group-item facebook">
                                <a title="facebook" href="@Model.FacebookLink" target="facebook">
                                    <span class="sr-only">Facebook</span>
                                    <span class="fa fa-facebook-square fa-2x"></span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.TwitterLink))
                        {
                            <li class="list-group-item twitter">
                                <a href="@Model.TwitterLink" target="twitter">
                                    <span class="fa fa-twitter fa-2x"></span>
                                    <span class="sr-only">twitter</span>
                                </a>
                            </li>
                        }
                        @if (Model.NewsEnabled)
                        {
                            <li class="list-group-item rss">
                                <a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">
                                    <span class="fa fa-rss fa-2x"></span>
                                    <span class="sr-only">@T("NewsRSS")</span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                        {
                            <li class="list-group-item youtube">
                                <a href="@Model.YoutubeLink" target="youtube">
                                    <span class="fa fa-youtube fa-2x"></span>
                                    <span class="sr-only">youtube</span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                        {
                            <li class="list-group-item google-plus">
                                <a href="@Model.GooglePlusLink" target="google-plus"><span class="fa fa-google-plus fa-2x"></span><span class="sr-only">google plus</span></a>
                            </li>
                        }
                    </ol>
                </div>
                <div class="newsleter px-0">
                    @await Component.InvokeAsync("NewsletterBox")
                </div>
            </div>
        </div>
        <div class="footer-lower small row mt-3">
            <div class="col-12 col-md pb-1 pt-1 flex-column text-lg-left text-center">
                <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                @if (Model.DisplayTaxShippingInfoFooter)
                {
                    var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                    <span class="footer-tax-shipping">
                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </span>
                }
            </div>
            @await Component.InvokeAsync("StoreThemeSelector")
            <div class="col-12 col-md-3  pb-1 pt-1 text-center text-lg-right">
                <a class="pr-1" href="http://www.zajelNode.com/">ZajelNode</a>- Powered by <a href="http://www.nopcommerce.com/">nopCommerce </a>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</footer>
<a href="#" id="back-to-top" title="Back to top">
    <span class="fa fa-angle-up"></span>
    <span class="sr-only">back to top</span>
</a>
