﻿@model NewsItemModel



<div class="form-horizontal">
    <div class="form-body">
        @(Html.LocalizedEditor<NewsItemModel, NewsLocalizedModel>("newsitem-info-localized",
            @<div class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Locales[item].Title)
                        <div class="col-md-9 col-sm-9">
                            @Html.ZajelEditorFor(model => model.Locales[item].Title)
                            @Html.ValidationMessageFor(model => model.Locales[item].Title)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Locales[item].Short)
                        <div class="col-md-9 col-sm-9">
                            @Html.ZajelTextAreaFor(model => model.Locales[item].Short, new { style = "Height: 100px;" })
                            @Html.ValidationMessageFor(model => model.Locales[item].Short)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Locales[item].Full)
                        <div class="col-md-9 col-sm-9">
                            @Html.EditorFor(x => x.Locales[item].Full, "RichEditor")
                            @Html.ValidationMessageFor(model => model.Locales[item].Full)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Locales[item].LanguageId)
                </div>
            </div>
            ,
            @<div class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Title)
                        <div class="col-md-9 col-sm-9">
                            @Html.ZajelEditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Short)
                        <div class="col-md-9 col-sm-9">
                            @Html.ZajelTextAreaFor(model => model.Short, new { style = "Height: 100px;" })
                            @Html.ValidationMessageFor(model => model.Short)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ZajelLabelFor(model => model.Full)
                        <div class="col-md-9 col-sm-9">
                            @Html.EditorFor(x => x.Full, "RichEditor")
                            @Html.ValidationMessageFor(model => model.Full)
                        </div>
                    </div>
                </div>
            </div>
            ))
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PictureId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.PictureId)
                @Html.ValidationMessageFor(model => model.PictureId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowComments)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.AllowComments)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AllowComments)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EndDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Published)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.Published)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
    </div>
</div>