﻿@model AdminHeaderLinksModel
@if (Model.IsUserImpersonated || Model.DisplayAdminLink)
{
    if (Model.IsUserImpersonated)
    {
        <span class="input-group-btn">
            <span>@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedUserEmailUsername)</span>
            <a class="btn btn-outline-primary nav-link finish-impersonation" href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
                <span class="hidden-sm-down">@T("Account.ImpersonatedAs.Finish")</span>
                <span class="fa fa-user-o"></span>
            </a>
        </span>

    }
    if (Model.DisplayAdminLink)
    {
        <span class="input-group-btn">
            <a class="btn btn-outline-primary administration" href="@Url.Content("~/admin")">
                <span class="fa fa-cogs"></span> <span class="hidden-sm-down">Admin</span>
            </a>
        </span>
    }
    if (!String.IsNullOrEmpty(Model.EditPageUrl))
    {
        <span class="input-group-btn">
            <a target="_blank" class="btn btn-primary" href="@Model.EditPageUrl">
                <span class="fa fa-pencil-square-o"></span>
                <span class="sr-only">@Model.EditPageUrl</span>
            </a>
        </span>
    }
}
