﻿@model AffiliatedOrderListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

}
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.StartDate)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EndDate)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.EndDate)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.OrderStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.OrderStatusId, Model.AvailableOrderStatuses)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PaymentStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.PaymentStatusId, Model.AvailablePaymentStatuses)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ShippingStatusId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ShippingStatusId, Model.AvailableShippingStatuses)
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                <button class="btn btn-success filter-submit" id="search-orders">
                    <i class="fa fa-search"></i> @T("Admin.Common.Search")
                </button>
            </div>
        </div>
    </div>
</div>
<div id="orders-grid"></div>
<script>
    $(document).ready(function () {
        $("#orders-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("AffiliatedOrderList", "Affiliate"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Id",
                title: "@T("Admin.Affiliates.Orders.Order")",
                width: 50
            }, {
                field: "OrderStatus",
                title: "@T("Admin.Affiliates.Orders.OrderStatus")"
            }, {
                field: "PaymentStatus",
                title: "@T("Admin.Affiliates.Orders.PaymentStatus")"
            },{
                field: "ShippingStatus",
                title: "@T("Admin.Affiliates.Orders.ShippingStatus")"
            },{
                field: "OrderTotal",
                title: "@T("Admin.Affiliates.Orders.OrderTotal")"
            },{
                field: "CreatedOn",
                title: "@T("Admin.Affiliates.Orders.CreatedOn")",
                type: "date",
                format: "{0:G}"
            },{
                field: "Id",
                title: "@T("Admin.Common.View")",
                width: 100,
                template: '<a href="@Url.Content("~/Admin/Order/Edit/")#=Id#">@T("Admin.Common.View")</a>'
            }]
        });
    });
</script>
<script type="text/javascript">

    var selectedIds = [];
    var reportAggregates = "";

    $(document).ready(function () {

        //search button
        $('#search-orders').click(function () {
            //search
            var grid = $('#orders-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });

    function additionalData() {
        var data = {
            AffliateId: '@(Model.AffliateId)',
            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
            OrderStatusId: $('#@Html.FieldIdFor(model => model.OrderStatusId)').val(),
            PaymentStatusId: $('#@Html.FieldIdFor(model => model.PaymentStatusId)').val(),
            ShippingStatusId: $('#@Html.FieldIdFor(model => model.ShippingStatusId)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
</script>