﻿@model CheckoutAttributeModel

@using Zajel.Core.Domain.Catalog;

@{
    if (!String.IsNullOrEmpty(Model.Id))
    {
        <script type="text/javascript">
                    $(document).ready(function () {
                        $("#@Html.FieldIdFor(model => model.ConditionModel.EnableCondition)").click(toggleEnableCondition);
                        toggleEnableCondition();
                    });

                    function toggleEnableCondition() {
                        if ($('#@Html.FieldIdFor(model => model.ConditionModel.EnableCondition)').is(':checked')) {
                            $('#pnlAttributes').show();
                        } else {
                            $('#pnlAttributes').hide();
                        }
                    }
        </script>

        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.ConditionModel.EnableCondition)
                    <div class="col-md-9 col-sm-9">
                        <label class="mt-checkbox mt-checkbox-outline">
                            @Html.EditorFor(model => model.ConditionModel.EnableCondition)
                            <span></span>
                        </label>
                        @Html.ValidationMessageFor(model => model.ConditionModel.EnableCondition)
                    </div>
                </div>
            </div>
        </div>
        <div id="pnlAttributes">
            @if (Model.ConditionModel.ConditionAttributes.Count > 0)
            {
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.ZajelLabelFor(model => model.ConditionModel.SelectedAttributeId)
                            <div class="col-md-9 col-sm-9">
                                @Html.ZajelDropDownListFor(model => model.ConditionModel.SelectedAttributeId,
                                Model.ConditionModel.ConditionAttributes.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }))
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#@Html.FieldIdFor(model => model.ConditionModel.SelectedAttributeId)").change(toggleConditionAttributes);

                                        toggleConditionAttributes();
                                    });

                                    function toggleConditionAttributes() {
                                        var selectedCheckoutAttributeId = $("#@Html.FieldIdFor(model => model.ConditionModel.SelectedAttributeId)").val();
                                        $('[id^="pnl_attribute_values_"]').hide();
                                        $('#pnl_attribute_values_' + selectedCheckoutAttributeId).show();
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9 col-sm-9">
                                @for (int i = 0; i < Model.ConditionModel.ConditionAttributes.Count; i++)
                                {
                                    @Html.HiddenFor(model => Model.ConditionModel.ConditionAttributes[i].Id)
                                    <div id="@string.Format("pnl_attribute_values_{0}", Model.ConditionModel.ConditionAttributes[i].Id)">
                                        @switch (Model.ConditionModel.ConditionAttributes[i].AttributeControlType)
                                        {
                                            case AttributeControlType.DropdownList:
                                                @Html.ZajelDropDownListFor(model => Model.ConditionModel.ConditionAttributes[i].SelectedValueId,
                                                Model.ConditionModel.ConditionAttributes[i].Values)
                                                break;
                                            case AttributeControlType.RadioList:
                                            case AttributeControlType.ColorSquares:
                                            case AttributeControlType.ImageSquares:
                                                foreach (var value in Model.ConditionModel.ConditionAttributes[i].Values)
                                                {
                                                    <div>
                                                        @Html.RadioButtonFor(model => Model.ConditionModel.ConditionAttributes[i].SelectedValueId, value.Value,
                                                        value.Selected ? new { @checked = true } : null)
                                                        @Html.ZajelLabelFor(model => Model.ConditionModel.ConditionAttributes[i].SelectedValueId@*, value.Text*@)
                                                    </div>
                                                }
                                                break;
                                            case AttributeControlType.Checkboxes:
                                                for (var j = 0; j < Model.ConditionModel.ConditionAttributes[i].Values.Count; j++)
                                                {
                                                    <div>
                                                        @Html.HiddenFor(model => Model.ConditionModel.ConditionAttributes[i].Values[j].Value)
                                                        @Html.CheckBoxFor(model => Model.ConditionModel.ConditionAttributes[i].Values[j].Selected)
                                                        @Html.ZajelLabelFor(model => Model.ConditionModel.ConditionAttributes[i].Values[j].Selected
                                                        /*,Model.ConditionModel.ConditionAttributes[i].Values[j].Text*/)
                                                    </div>
                                                }
                                                break;
                                            case AttributeControlType.ReadonlyCheckboxes:
                                            case AttributeControlType.TextBox:
                                            case AttributeControlType.MultilineTextbox:
                                            case AttributeControlType.Datepicker:
                                            case AttributeControlType.FileUpload:
                                            default:
                                                //not supported as conditions
                                                break;
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="note note-info">
                    @T("Admin.Catalog.Attributes.CheckoutAttributes.Condition.NoAttributeExists")
                </div>
            }
        </div>
    }
    else
    {
        <div class="note note-info">
            @T("Admin.Catalog.Attributes.CheckoutAttributes.Condition.SaveBeforeEdit")
        </div>
    }
}