﻿@model CheckoutAttributeModel

@using Zajel.Core.Domain.Catalog;


<script type="text/javascript">
            $(document).ready(function () {

                $("#@Html.FieldIdFor(model => model.IsTaxExempt)").click(toggleTax);
                $("#@Html.FieldIdFor(model => model.AttributeControlTypeId)").change(toggleAttributeControlType);

                toggleTax();
                toggleAttributeControlType();
            });

            function toggleTax() {
                if ($('#@Html.FieldIdFor(model => model.IsTaxExempt)').is(':checked')) {
                    $('#pnlTaxCategory').hide();
                } else {
                    $('#pnlTaxCategory').show();
                }
            }

            function toggleAttributeControlType() {
                var selectedAttributeControlTypeId = $("#@Html.FieldIdFor(model => model.AttributeControlTypeId)").val();
                if (selectedAttributeControlTypeId == @(((int) AttributeControlType.TextBox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                    $('#pnlDefaultValue').show();
                } else if (selectedAttributeControlTypeId == @(((int) AttributeControlType.MultilineTextbox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                    $('#pnlDefaultValue').show();
                } else if (selectedAttributeControlTypeId == @(((int) AttributeControlType.FileUpload).ToString())) {
                    $('#pnlValidationMinLength').hide();
                    $('#pnlValidationMaxLength').hide();
                    $('#pnlValidationFileMaximumSize').show();
                    $('#pnlValidationFileAllowedExtensions').show();
                    $('#pnlDefaultValue').hide();
                } else {
                    $('#pnlValidationMinLength').hide();
                    $('#pnlValidationMaxLength').hide();
                    $('#pnlValidationFileMaximumSize').hide();
                    $('#pnlValidationFileAllowedExtensions').hide();
                    $('#pnlDefaultValue').hide();
                }
            }
</script>

@(Html.LocalizedEditor<CheckoutAttributeModel, CheckoutAttributeLocalizedModel>("checkoutattribute-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Name)
                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].TextPrompt)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].TextPrompt)
                    @Html.ValidationMessageFor(model => model.Locales[item].TextPrompt)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.TextPrompt)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.TextPrompt)
                    @Html.ValidationMessageFor(model => model.TextPrompt)
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsRequired)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsRequired)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ShippableProductRequired)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.ShippableProductRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.ShippableProductRequired)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsTaxExempt)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsTaxExempt)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsTaxExempt)
            </div>
        </div>
        <div class="form-group" id="pnlTaxCategory">
            @Html.ZajelLabelFor(model => model.TaxCategoryId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.TaxCategoryId, Model.AvailableTaxCategories)
                @Html.ValidationMessageFor(model => model.TaxCategoryId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AttributeControlTypeId)
            <div class="col-md-9 col-sm-9">
                @{
                    var attributeControlTypes = ((AttributeControlType)Model.AttributeControlTypeId).ToSelectList(valuesToExclude:
                        new[] { (int)AttributeControlType.ImageSquares });
                }
                @Html.ZajelDropDownListFor(model => model.AttributeControlTypeId, attributeControlTypes)
                @Html.ValidationMessageFor(model => model.AttributeControlTypeId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
        <div class="form-group" id="pnlValidationMinLength">
            @Html.ZajelLabelFor(model => model.ValidationMinLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationMinLength)
                @Html.ValidationMessageFor(model => model.ValidationMinLength)
            </div>
        </div>
        <div class="form-group" id="pnlValidationMaxLength">
            @Html.ZajelLabelFor(model => model.ValidationMaxLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationMaxLength)
                @Html.ValidationMessageFor(model => model.ValidationMaxLength)
            </div>
        </div>
        <div class="form-group" id="pnlValidationFileAllowedExtensions">
            @Html.ZajelLabelFor(model => model.ValidationFileAllowedExtensions)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationFileAllowedExtensions)
                @Html.ValidationMessageFor(model => model.ValidationFileAllowedExtensions)
            </div>
        </div>
        <tr id="pnlValidationFileMaximumSize">
            <td class="adminTitle">
                @Html.ZajelLabelFor(model => model.ValidationFileMaximumSize)
            </td>
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationFileMaximumSize)
                @Html.ValidationMessageFor(model => model.ValidationFileMaximumSize)
            </div>
        </tr>
        <div class="form-group" id="pnlDefaultValue">
            @Html.ZajelLabelFor(model => model.DefaultValue)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DefaultValue)
                @Html.ValidationMessageFor(model => model.DefaultValue)
            </div>
        </div>
    </div>
</div>