﻿@model UserReturnRequestsModel
@using Zajel.Web.Models.User
@using Zajel.Web.Models.Order
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.ReturnRequests })
}
<div class="page account-page return-request-list-page">
    <h1 class="h2 generalTitle">@T("Account.UserReturnRequests")</h1>
        <div class="row flex-grid">
            @foreach (var item in Model.Items)
            {
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
                        <h5 class="card-header">
                            <strong>@string.Format(T("Account.UserReturnRequests.Title").Text, item.ReturnNumber, item.ReturnRequestStatus)</strong>
                        </h5>
                        <div class="card-block">
                            <ul class="details pl-0">
                                <li class="product">
                                    <label>@T("Account.UserReturnRequests.Item")</label>
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    <span>x @item.Quantity</span>
                                </li>
                                <li class="reason">
                                    <label>@T("Account.UserReturnRequests.Reason")</label>
                                    <span>@item.ReturnReason</span>
                                </li>
                                <li class="action">
                                    <label>@T("Account.UserReturnRequests.Action")</label>
                                    <span>@item.ReturnAction</span>
                                </li>
                                @if (!String.IsNullOrEmpty(item.Comments))
                                {
                                    <li class="comments">
                                        <label>@T("Account.UserReturnRequests.Comments")</label>
                                        <div>@Html.Raw(Zajel.Core.Html.HtmlHelper.FormatText(item.Comments, false, true, false, false, false, false))</div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="date">
                                <label>@T("Account.UserReturnRequests.Date")</label>
                                <span>@item.CreatedOn.ToString()</span>
                            </div>
                        </div>
                    </div>

                </div>

            }
    </div>
</div>
