﻿@model UserBackInStockSubscriptionsModel
@using Zajel.Web.Models.Catalog
@using Zajel.Web.Models.User
@{
    Layout = "_ColumnsTwo";

    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
}
@section left
{
    @await Component.InvokeAsync("UserNavigation", new { selectedTabId = UserNavigationEnum.BackInStockSubscriptions })
}
<div class="page account-page back-in-stock-subscription-list-page">
    <h1 class="h2 generalTitle">@T("Account.BackInStockSubscriptions")</h1>
    @if (Model.Subscriptions.Count > 0)
    {
        <div class="description">
            @T("Account.BackInStockSubscriptions.Description")
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#selectall').click(function () {
                    $('.subscription-list .rowcheckbox').prop('checked', $(this).is(':checked')).change();
                });

                $('.subscription-list .rowcheckbox').on('change', function (e) {
                    var numChkBoxes = $('.subscription-list .rowcheckbox').length;
                    var numChkBoxesChecked = $('.subscription-list .rowcheckbox:checked').length;
                    $('#selectall').prop('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                });
            });
        </script>
        <form asp-route="UserBackInStockSubscriptions" method="post">
            <div class="subscription-list">
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <colgroup>
                            <col width="1" />
                            <col />
                        </colgroup>
                        <thead class="table-inverse">
                            <tr>

                                <th class="select-boxes">
                                    <label class="custom-control custom-checkbox">
                                        <input id="selectall" type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">&nbsp;</span>
                                    </label>
                                </th>
                                <th class="product">
                                    @T("Account.BackInStockSubscriptions.ProductColumn")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Subscriptions.Count; i++)
                            {
                                var item = Model.Subscriptions[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td class="select-boxes">
                                    <label class="custom-control custom-checkbox">
                                        <input id="selectall" type="checkbox" name="biss@(item.Id)" class="rowcheckbox custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">&nbsp;</span>
                                    </label>
                                </td>
                                <td class="product">
                                    @Html.RouteLink(item.ProductName, "Product", new { SeName = item.SeName })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    var pager = Html.Pager(Model.PagerModel);
                }
                @if (!String.IsNullOrEmpty(pager.ToHtmlString()))
                {
                    <div class="pager">
                        @pager
                    </div>
                }
                <div class="buttons mb-2 mt-2">
                    <input type="submit" value="@T("Account.BackInStockSubscriptions.DeleteSelected")" class="btn btn-secondary delete-selected-biss-button" />
                </div>
            </div>
        </form>
                    }
                    else
                    {
        <div class="no-data">
            @T("Account.BackInStockSubscriptions.NoSubscriptions")
        </div>
    }
</div>
