﻿@model RecurringPaymentModel
@using Zajel.Core.Domain.Catalog;


<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.InitialOrderId)
            <div class="col-md-9 col-sm-9">
                @Html.ActionLink(T("Admin.Common.View").Text, "Edit", "Order", new { id = Model.InitialOrderId }, new { })
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.UserEmail)
            <div class="col-md-9 col-sm-9">
                @Html.ActionLink(Model.UserEmail, "Edit", "User", new { id = Model.UserId }, new { })
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.CycleLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.CycleLength)
                @Html.ValidationMessageFor(model => model.CycleLength)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.CyclePeriodId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.CyclePeriodId, ((RecurringProductCyclePeriod)Model.CyclePeriodId).ToSelectList())
                @Html.ValidationMessageFor(model => model.CyclePeriodId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.TotalCycles)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.TotalCycles)
                @Html.ValidationMessageFor(model => model.TotalCycles)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.CyclesRemaining)
            <div class="col-md-9 col-sm-9">
                @Model.CyclesRemaining
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PaymentType)
            <div class="col-md-9 col-sm-9">
                @Model.PaymentType
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.StartDate)
            <div class="col-md-9 col-sm-9">
                @Model.StartDate
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsActive)
            <div class="col-md-9 col-sm-9">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>
    </div>
</div>