﻿
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Zajel.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.RecurringPayments").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-refresh"></i>
                    @T("Admin.RecurringPayments")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="recurringpayments-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            

<script>
    $(document).ready(function() {
        $("#recurringpayments-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "RecurringPayment"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "@T("Admin.RecurringPayments.Fields.ID")",
                    width: 50
                }, {
                    field: "UserId",
                    title: "@T("Admin.RecurringPayments.Fields.User")",
                    width: 200,
                    template: '<a href="@Url.Content("~/Admin/User/Edit/")#=UserId#">#:UserEmail#</a>'
                }, {
                    field: "CycleLength",
                    title: "@T("Admin.RecurringPayments.Fields.CycleLength")",
                    width: 50
                }, {
                    field: "CyclePeriodStr",
                    title: "@T("Admin.RecurringPayments.Fields.CyclePeriod")",
                    width: 100
                }, {
                    field: "IsActive",
                    title: "@T("Admin.RecurringPayments.Fields.IsActive")",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(IsActive) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
                }, {
                    field: "StartDate",
                    title: "@T("Admin.RecurringPayments.Fields.StartDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "NextPaymentDate",
                    title: "@T("Admin.RecurringPayments.Fields.NextPaymentDate")",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "TotalCycles",
                    title: "@T("Admin.RecurringPayments.Fields.TotalCycles")",
                    width: 100
                }, {
                    field: "CyclesRemaining",
                    title: "@T("Admin.RecurringPayments.Fields.CyclesRemaining")",
                    width: 100
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.Edit")",
                    width: 100,
                    template: '<a class="btn btn-sm btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i> @T("Admin.Common.Edit")</a>'
                }
            ]
        });
    });
</script>
