﻿@model InteractiveFormAttributeModel



<script type="text/javascript">

        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.FormControlTypeId)").change(toggleAttributeControlType);

            toggleAttributeControlType();

            function toggleAttributeControlType() {
                var selectedAttributeControlTypeId = $("#@Html.FieldIdFor(model => model.FormControlTypeId)").val();
                if (selectedAttributeControlTypeId == @(((int)Zajel.Core.Domain.Messages.FormControlType.TextBox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlDefaultValue').show();
                    $('#pnlRegexValidation').show();
                    $('#tab-values').hide();
                } else if (selectedAttributeControlTypeId == @(((int)Zajel.Core.Domain.Messages.FormControlType.MultilineTextbox).ToString())) {
                    $('#pnlValidationMinLength').show();
                    $('#pnlValidationMaxLength').show();
                    $('#pnlDefaultValue').show();
                    $('#pnlRegexValidation').show();
                    $('#tab-values').hide();
                } else {
                    $('#pnlValidationMinLength').hide();
                    $('#pnlValidationMaxLength').hide();
                    $('#pnlDefaultValue').hide();
                    $('#pnlRegexValidation').hide();
                    $('#tab-values').show();
                }
            }

        });

</script>
@(Html.LocalizedEditor<InteractiveFormAttributeModel, InteractiveFormAttributeLocalizedModel>("attribute-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Name)
                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.SystemName)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.SystemName)
                @Html.ValidationMessageFor(model => model.SystemName)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Style)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Style)
                @Html.ValidationMessageFor(model => model.Style)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Class)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Class)
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsRequired)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.IsRequired)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsRequired)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.FormControlTypeId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.FormControlTypeId, ((Zajel.Core.Domain.Messages.FormControlType)Model.FormControlTypeId).ToSelectList())
                @Html.ValidationMessageFor(model => model.FormControlTypeId)
            </div>
        </div>
        <div class="form-group" id="pnlRegexValidation">
            @Html.ZajelLabelFor(model => model.RegexValidation)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.RegexValidation)
                @Html.ValidationMessageFor(model => model.RegexValidation)
            </div>
        </div>
        <div class="form-group" id="pnlValidationMinLength">
            @Html.ZajelLabelFor(model => model.ValidationMinLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationMinLength)
                @Html.ValidationMessageFor(model => model.ValidationMinLength)
            </div>
        </div>
        <div class="form-group" id="pnlValidationMaxLength">
            @Html.ZajelLabelFor(model => model.ValidationMaxLength)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ValidationMaxLength)
                @Html.ValidationMessageFor(model => model.ValidationMaxLength)
            </div>
        </div>
        <div class="form-group" id="pnlDefaultValue">
            @Html.ZajelLabelFor(model => model.DefaultValue)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DefaultValue)
                @Html.ValidationMessageFor(model => model.DefaultValue)
            </div>
        </div>
    </div>
</div>