﻿@model InteractiveFormModel





@(Html.LocalizedEditor<InteractiveFormModel, InteractiveFormLocalizedModel>("InteractiveForm-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Name)
                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Body)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.Locales[item].Body, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Locales[item].Body)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
        ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Body)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.Body, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AvailableTokens)
            <div class="col-md-9 col-sm-9">
                <label class="control-label">
                    @Html.DisplayFor(model => model.AvailableTokens)
                </label>
                @Html.ValidationMessageFor(model => model.AvailableTokens)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EmailAccountId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.EmailAccountId, new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName"))
                @Html.ValidationMessageFor(model => model.EmailAccountId)
            </div>
        </div>
    </div>
</div>