﻿@model InteractiveFormAttributeValueModel
@{
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.FormId)
@Html.HiddenFor(model => model.AttributeId)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
}

@(Html.LocalizedEditor<InteractiveFormAttributeValueModel, InteractiveFormAttributeValueLocalizedModel>("attributevalue-localized",
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             @Html.ZajelLabelFor(model => model.Locales[item].Name, new Dictionary<string, object> { { "class", "col-sm-3" } })
             <div class="col-md-9 col-sm-9">
                 @Html.ZajelEditorFor(model => model.Locales[item].Name)
                 @Html.ValidationMessageFor(model => model.Locales[item].Name)
             </div>
         </div>
         @Html.HiddenFor(model => model.Locales[item].LanguageId)
     </div>
</div>
,
@<div class="form-horizontal">
     <div class="form-body">
         <div class="form-group">
             @Html.ZajelLabelFor(model => model.Name, new Dictionary<string, object> { { "class", "col-sm-3" } })
             <div class="col-md-9 col-sm-9">
                 @Html.ZajelEditorFor(model => model.Name)
                 @Html.ValidationMessageFor(model => model.Name)
             </div>
         </div>
     </div>
</div>
))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IsPreSelected, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.EditorFor(model => model.IsPreSelected)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IsPreSelected)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder, new Dictionary<string, object> { { "class", "col-sm-3" } })
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>

