﻿@model WarehouseModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
        <div class="col-md-9 col-sm-9">
            @Html.ZajelEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.ZajelLabelFor(model => model.AdminComment)
        <div class="col-md-9 col-sm-9">
            @Html.ZajelTextAreaFor(model => model.AdminComment, new { style = "Height: 100px;" })
            @Html.ValidationMessageFor(model => model.AdminComment)
        </div>
    </div>
    <div class="form-group">
        @Html.EditorFor(x => x.Address, "Address")
    </div>
    </div>
</div>
