﻿@model PickupPointModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Description)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AdminComment)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelTextAreaFor(model => model.AdminComment, new { style = "Height: 100px;" })
                @Html.ValidationMessageFor(model => model.AdminComment)
            </div>
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Address, "Address")
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AvailableStores)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.StoreId, Model.AvailableStores)
                @Html.ValidationMessageFor(model => model.AvailableStores)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AvailableWarehouses)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.WarehouseId, Model.AvailableWarehouses)
                @Html.ValidationMessageFor(model => model.AvailableWarehouses)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PickupFee)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.PickupFee)
                @Html.ValidationMessageFor(model => model.PickupFee)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

    </div>
</div>
