﻿@model DeliveryDateModel
@{
    Html.AddScriptParts("~/Scripts/farbtastic.js");
    Html.AddCssFileParts("~/Content/farbtastic/farbtastic.css");
}
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@(Html.LocalizedEditor<DeliveryDateModel, DeliveryDateLocalizedModel>("delivery-date-localized",
                @<div class="form-horizontal">
                     <div class="form-body">
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Locales[item].Name)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelEditorFor(model => model.Locales[item].Name)
                                 @Html.ValidationMessageFor(model => model.Locales[item].Name)
                             </div>
                         </div>
                         @Html.HiddenFor(model => model.Locales[item].LanguageId)
                     </div>
                </div>
                ,
                @<div class="form-horizontal">
                     <div class="form-body">
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Name)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelEditorFor(model => model.Name)
                                 @Html.ValidationMessageFor(model => model.Name)
                             </div>
                         </div>
                     </div>
                </div>
            ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ColorSquaresRgb)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.ColorSquaresRgb)
                <div id="color-picker"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#color-picker').farbtastic('#@Html.FieldIdFor(model => model.ColorSquaresRgb)');
                    });
                </script>
                @Html.ValidationMessageFor(model => model.ColorSquaresRgb)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>
