﻿@model ShippingMethodModel
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
@(Html.LocalizedEditor<ShippingMethodModel, ShippingMethodLocalizedModel>("shipping-method-localized",
                @<div class="form-horizontal">
                     <div class="form-body">
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Locales[item].Name)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelEditorFor(model => model.Locales[item].Name)
                                 @Html.ValidationMessageFor(model => model.Locales[item].Name)
                             </div>
                         </div>
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Locales[item].Description)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelTextAreaFor(model => model.Locales[item].Description)
                                 @Html.ValidationMessageFor(model => model.Locales[item].Description)
                             </div>
                         </div>
                         @Html.HiddenFor(model => model.Locales[item].LanguageId)
                     </div>
                </div>
                ,
                @<div class="form-horizontal">
                     <div class="form-body">
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Name)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelEditorFor(model => model.Name)
                                 @Html.ValidationMessageFor(model => model.Name)
                             </div>
                         </div>
                         <div class="form-group">
                             @Html.ZajelLabelFor(model => model.Description)
                             <div class="col-md-9 col-sm-9">
                                 @Html.ZajelTextAreaFor(model => model.Description)
                                 @Html.ValidationMessageFor(model => model.Description)
                             </div>
                         </div>
                     </div>
                </div>
            ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>
