﻿@model ShippingMethodRestrictionModel




<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <div class="col-md-12 col-sm-12">
                <div class="note note-info">
                    @T("Admin.Configuration.Shipping.Restrictions.DescriptionRole")
                </div>
                <br />
                @if (Model.AvailableCountries.Count == 0)
                {
                    <text>No countries defined</text>
                }
                else if (Model.AvailableUserRoles.Count == 0)
                {
                    <text>No custome role available</text>
                }
                else
                {
                    <script type="text/javascript">
                                            $(document).ready(function () {
                                                @foreach (var sm in Model.AvailableShippingMethods)
                                                {
                                                <text>
                                                $('#selectroleall-@(sm.Id)').click(function () {
                                                    $('.restrictrole_@(sm.Id)').prop('checked', $(this).is(':checked')).change();
                                                });

                                                </text>
                                                }
                                            });
                    </script>

                        <table class="table table-bordered table-striped table-hover table-hover">
                            <tbody>
                                <tr>
                                    <th scope="col">
                                        <strong>@T("Admin.Configuration.Shipping.Restrictions.Role")</strong>
                                    </th>
                                    @foreach (var sm in Model.AvailableShippingMethods)
                                    {
                                        <th scope="col">
                                            <strong>@sm.Name</strong>
                                            <label class='mt-checkbox mt-checkbox-outline'><input type="checkbox" id="selectroleall-@(sm.Id)" /><span></span></label>
</th>
                                    }
                                </tr>
                                @{
                                    bool altRow = true;
                                }
                                @foreach (var c in Model.AvailableUserRoles)
                                {
                                    altRow = !altRow;
                                    <tr class="@(altRow ? "altrowstyle" : "rowstyle")">
                                        <td>
                                            <span>@c.Name</span>
                                        </td>
                                        @foreach (var sm in Model.AvailableShippingMethods)
                                        {
                                            var restricted = Model.RestictedRole.ContainsKey(c.Id) && Model.RestictedRole[c.Id][sm.Id];
                                            <td style="text-align:center">
                                                <label class='mt-checkbox mt-checkbox-outline'><input id="restrictrole_@(sm.Id)" class="restrictrole_@(sm.Id)" type="checkbox" value="@(c.Id)" name="restrictrole_@(sm.Id)" @(restricted ? " checked=checked" : null) /><span></span></label>
</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                                    }
            </div>
        </div>
    </div>
</div>