﻿@model CampaignModel



@{

    if (!String.IsNullOrEmpty(Model.Id))
    {
        <div class="form-horizontal">
            <div class="form-body">
                <div class="note note-danger">
                    <strong>
                        @T("Admin.Promotions.Campaigns.Warning")
                    </strong>
                    <br />
                </div>
                <div class="form-group">
                    @Html.ZajelLabelFor(model => model.TestEmail)
                    <div class="col-md-9 col-sm-9">
                        @Html.ZajelEditorFor(model => model.TestEmail)
                        @Html.ValidationMessageFor(model => model.TestEmail)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                    <input type="submit" name="send-test-email" class="btn default margin-top-10" value="@T("Admin.Promotions.Campaigns.SendTestEmail")" />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="note note-info">
            @T("Admin.Promotions.Campaigns.SaveBeforeEdit")
        </div>

    }
}