﻿@model CampaignModel




<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Name)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Subject)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Body)
            <div class="col-md-9 col-sm-9">
                @{
                    ViewData["Zajel.RichEditor.EnableFullPage"] = true;
                }
                @Html.EditorFor(model => model.Body, "RichEditor")
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.EmailAccountId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.EmailAccountId, new SelectList(Model.AvailableEmailAccounts, "Id", "DisplayName"))
                @Html.ValidationMessageFor(model => model.EmailAccountId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowedTokens)
            <div class="col-md-9 col-sm-9">
                @Html.DisplayFor(model => model.AllowedTokens)
            </div>
        </div>
    </div>
</div>
