﻿@model CampaignModel



<div class="col-md-12">
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserCreatedDateFrom)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.UserCreatedDateFrom)
                    <text>@T("Admin.Promotions.Campaigns.Fields.UserCreatedDateTo")</text>
                    @Html.ZajelEditorFor(model => model.UserCreatedDateTo)
                    @Html.ValidationMessageFor(model => model.UserCreatedDateFrom)
                    @Html.ValidationMessageFor(model => model.UserCreatedDateTo)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserLastActivityDateFrom)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.UserLastActivityDateFrom)
                    <text>@T("Admin.Promotions.Campaigns.Fields.UserLastActivityDateTo")</text>
                    @Html.ZajelEditorFor(model => model.UserLastActivityDateTo)
                    @Html.ValidationMessageFor(model => model.UserLastActivityDateFrom)
                    @Html.ValidationMessageFor(model => model.UserLastActivityDateTo)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserLastPurchaseDateFrom)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.UserLastPurchaseDateFrom)
                    <text>@T("Admin.Promotions.Campaigns.Fields.UserLastPurchaseDateTo")</text>
                    @Html.ZajelEditorFor(model => model.UserLastPurchaseDateTo)
                    @Html.ValidationMessageFor(model => model.UserLastPurchaseDateFrom)
                    @Html.ValidationMessageFor(model => model.UserLastPurchaseDateTo)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserHasOrders)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelDropDownListFor(model => model.UserHasOrders, ((Zajel.Core.Domain.Messages.CampaignCondition)Model.UserHasOrders).ToSelectList())
                    @Html.ValidationMessageFor(model => model.UserHasOrders)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserHasShoppingCart)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelDropDownListFor(model => model.UserHasShoppingCart, ((Zajel.Core.Domain.Messages.CampaignCondition)Model.UserHasShoppingCart).ToSelectList())
                    @Html.ValidationMessageFor(model => model.UserHasShoppingCart)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserTags)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.UserTags, new { SelectList = Model.AvailableUserTags })
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.UserRoles)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.UserRoles, new { SelectList = Model.AvailableUserRoles })
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.NewsletterCategories)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.NewsletterCategories, new { SelectList = Model.AvailableNewsletterCategories })
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.StoreId)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelDropDownListFor(model => model.StoreId, Model.AvailableStores)
                    @Html.ValidationMessageFor(model => model.StoreId)
                </div>
            </div>
        </div>
    </div>
</div>