﻿@model ManufacturerModel

<script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);

            toggleStoreMapping();
        });


        function toggleStoreMapping() {
            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                $('#pnl-available-stores').show();
            }
            else {
                $('#pnl-available-stores').hide();
            }
        }

</script>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.LimitedToStores)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(model => model.LimitedToStores)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.LimitedToStores)
            </div>
        </div>
        <div class="form-group" id="pnl-available-stores">
            @Html.ZajelLabelFor(model => model.AvailableStores)
            <div class="col-md-9 col-sm-9">
                @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                {
                    @await Component.InvokeAsync("CommonMultistoreDisabledWarning")
                    <div class="mt-checkbox-list">
                        @foreach (var store in Model.AvailableStores)
                        {
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />@store.Name
                                <span></span>
                            </label>
                        }
                    </div>
                }
                else
                {
                    <div class="note note-info">
                        No stores defined
                    </div>
                }
            </div>
        </div>
    </div>
</div>