﻿@model ManufacturerModel

<script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.AllowUsersToSelectPageSize)").click(togglePageSize);
            togglePageSize();
        });

        function togglePageSize() {
            if ($('#@Html.FieldIdFor(model => model.AllowUsersToSelectPageSize)').is(':checked')) {
                $('#pnlPageSize').hide();
                $('#pnlPageSizeOptions').show();
            } else {
                $('#pnlPageSize').show();
                $('#pnlPageSizeOptions').hide();
            }
        }
</script>
@(Html.LocalizedEditor<ManufacturerModel, ManufacturerLocalizedModel>("manufacturer-info-localized",
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Locales[item].Name)
                    @Html.ValidationMessageFor(model => model.Locales[item].Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Locales[item].Description)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(model => model.Locales[item].Description, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Locales[item].Description)
                </div>
            </div>
            @Html.HiddenFor(model => model.Locales[item].LanguageId)
        </div>
    </div>
    ,
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Name)
                <div class="col-md-9 col-sm-9">
                    @Html.ZajelEditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.ZajelLabelFor(model => model.Description)
                <div class="col-md-9 col-sm-9">
                    @Html.EditorFor(x => x.Description, "RichEditor")
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    ))
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ManufacturerTemplateId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelDropDownListFor(model => model.ManufacturerTemplateId, Model.AvailableManufacturerTemplates)
                @Html.ValidationMessageFor(model => model.ManufacturerTemplateId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PictureId)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.PictureId)
                @Html.ValidationMessageFor(model => model.PictureId)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.PriceRanges)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(x => x.PriceRanges)
                @Html.ValidationMessageFor(model => model.PriceRanges)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.ShowOnHomePage)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(x => x.ShowOnHomePage)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.ShowOnHomePage)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.IncludeInTopMenu)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(x => x.IncludeInTopMenu)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.IncludeInTopMenu)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.AllowUsersToSelectPageSize)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(x => x.AllowUsersToSelectPageSize)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.AllowUsersToSelectPageSize)
            </div>
        </div>
        <div class="form-group" id="pnlPageSize">
            @Html.ZajelLabelFor(model => model.PageSize)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(x => x.PageSize)
                @Html.ValidationMessageFor(model => model.PageSize)
            </div>
        </div>
        <div class="form-group" id="pnlPageSizeOptions">
            @Html.ZajelLabelFor(model => model.PageSizeOptions)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(x => x.PageSizeOptions)
                @Html.ValidationMessageFor(model => model.PageSizeOptions)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.Published)
            <div class="col-md-9 col-sm-9">
                <label class="mt-checkbox mt-checkbox-outline">
                    @Html.ZajelEditorFor(x => x.Published)
                    <span></span>
                </label>
                @Html.ValidationMessageFor(model => model.Published)
            </div>
        </div>
        <div class="form-group">
            @Html.ZajelLabelFor(model => model.DisplayOrder)
            <div class="col-md-9 col-sm-9">
                @Html.ZajelEditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>
    </div>
</div>