﻿@model DiscountModel
@using Zajel.Core.Domain.Discounts;
@using Zajel.Framework.UI;
@{
    Html.AddScriptParts("~/Scripts/jquery.tmpl.min.js", excludeFromBundle: true);
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<script>
    $(document).ready(function() {
        $("#discount-edit").show();
        $("#discount-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="discount-edit" style="display:none">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Promotions.Discounts.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex()) id="tab-couponcode">
            @T("Admin.Promotions.Discounts.CouponCodes")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Admin.Promotions.Discounts.Requirements")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex()) id="tab-applied-to-products">
            @T("Admin.Promotions.Discounts.AppliedToProducts")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex()) id="tab-applied-to-categories">
            @T("Admin.Promotions.Discounts.AppliedToCategories")
        </li>
        <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex()) id="tab-applied-to-manufacturers">
            @T("Admin.Promotions.Discounts.AppliedToManufacturers")
        </li>
        <li @Html.RenderSelectedTabIndex(7, GetSelectedTabIndex()) id="tab-applied-to-vendors">
            @T("Admin.Promotions.Discounts.AppliedToVendors")
        </li>
        <li @Html.RenderSelectedTabIndex(8, GetSelectedTabIndex()) id="tab-applied-to-stores">
            @T("Admin.Promotions.Discounts.AppliedToStores")
        </li>
        @if (!String.IsNullOrEmpty(Model.Id))
        {
            <li @Html.RenderSelectedTabIndex(6, GetSelectedTabIndex())>
                @T("Admin.Promotions.Discounts.History")
            </li>
        }
    </ul>
    <div>
        @Html.Partial("_CreateOrUpdate.TabInfo", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabCouponCodes", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabRequirements", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabAppliedToProducts", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabAppliedToCategories", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabAppliedToManufacturers", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabAppliedToVendors", Model)
    </div>
    <div>
        @Html.Partial("_CreateOrUpdate.TabAppliedToStores", Model)
    </div>
    @if (!String.IsNullOrEmpty(Model.Id))
    {
        <div>
            @Html.Partial("_CreateOrUpdate.TabHistory", Model)
        </div>
    }
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "discount-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}



@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">